[data-cellid="grid_footcell_field"][data-page="bdme_publica_list"][data-cellid="grid_footcell_field"][data-page="bdme_publica_list"][data-cellid="grid_footcell_field"][data-page="bdme_publica_list"] {
  white-space: nowrap;
}
[data-page="bdme_publica_list"][data-itemid="text1"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="bdme_publica_list"][data-itemid="text2"] {
  font-size: 15px;
}
[data-page="bdme_publica_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

[data-page="bdme_publica_list"][data-itemid="image1"] {
  color: red;
    float: left;
    margin-left: 10px; /* Espaciado del texto a la izquierda */
    margin-bottom: 10px; /* Opcional, para separar verticalmente */
    max-width: 100%; /* Para que la imagen no sobresalga */
}

/* Put  your custom CSS code here */

[data-page="bdme_publica_list"][data-itemid="text1"] {
  color: black;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra exactamente */
    max-width: 100%;
}

/* Put  your custom CSS code here */

[data-page="bdme_publica_list"][data-itemid="image2"] {
  color: red;
    float: right;
    margin-left: 10px; /* Espaciado del texto a la izquierda */
    margin-bottom: 10px; /* Opcional, para separar verticalmente */
    max-width: 100%; /* Para que la imagen no sobresalga */
}

