[data-cellid="grid_footcell_field"][data-page="bienesinmuebles_list"][data-cellid="grid_footcell_field"][data-page="bienesinmuebles_list"][data-cellid="grid_footcell_field"][data-page="bienesinmuebles_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="bienesinmuebles_list"][data-cellid="grid_footcell_field1"][data-page="bienesinmuebles_list"][data-cellid="grid_footcell_field1"][data-page="bienesinmuebles_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="bienesinmuebles_list"][data-cellid="grid_footcell_field2"][data-page="bienesinmuebles_list"][data-cellid="grid_footcell_field2"][data-page="bienesinmuebles_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="bienesinmuebles_list"][data-cellid="grid_footcell_field3"][data-page="bienesinmuebles_list"][data-cellid="grid_footcell_field3"][data-page="bienesinmuebles_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="bienesinmuebles_list"][data-cellid="grid_footcell_field4"][data-page="bienesinmuebles_list"][data-cellid="grid_footcell_field4"][data-page="bienesinmuebles_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="bienesinmuebles_list"][data-cellid="grid_footcell_field5"][data-page="bienesinmuebles_list"][data-cellid="grid_footcell_field5"][data-page="bienesinmuebles_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="bienesinmuebles_list"][data-cellid="grid_headcell_checkbox"][data-page="bienesinmuebles_list"][data-cellid="grid_headcell_checkbox"][data-page="bienesinmuebles_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="bienesinmuebles_list"][data-cellid="grid_headcell_icons"][data-page="bienesinmuebles_list"][data-cellid="grid_headcell_icons"][data-page="bienesinmuebles_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="bienesinmuebles_list"][data-cellid="grid_cell_icons"][data-page="bienesinmuebles_list"][data-cellid="grid_cell_icons"][data-page="bienesinmuebles_list"] {
  white-space: nowrap;
}
[data-page="bienesinmuebles_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="bienesinmuebles_list"][data-itemid="simple_grid_field2"] {
  color: black;
    white-space: nowrap;
}
