[data-cellid="grid_footcell_field"][data-page="novedades_list"][data-cellid="grid_footcell_field"][data-page="novedades_list"][data-cellid="grid_footcell_field"][data-page="novedades_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="novedades_list"][data-cellid="grid_footcell_field1"][data-page="novedades_list"][data-cellid="grid_footcell_field1"][data-page="novedades_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="novedades_list"][data-cellid="grid_footcell_field2"][data-page="novedades_list"][data-cellid="grid_footcell_field2"][data-page="novedades_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="novedades_list"][data-cellid="grid_footcell_field3"][data-page="novedades_list"][data-cellid="grid_footcell_field3"][data-page="novedades_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="novedades_list"][data-cellid="grid_footcell_field4"][data-page="novedades_list"][data-cellid="grid_footcell_field4"][data-page="novedades_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="novedades_list"][data-cellid="grid_footcell_field5"][data-page="novedades_list"][data-cellid="grid_footcell_field5"][data-page="novedades_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="novedades_list"][data-cellid="grid_headcell_checkbox"][data-page="novedades_list"][data-cellid="grid_headcell_checkbox"][data-page="novedades_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="novedades_list"][data-cellid="grid_headcell_icons"][data-page="novedades_list"][data-cellid="grid_headcell_icons"][data-page="novedades_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="novedades_list"][data-cellid="grid_cell_icons"][data-page="novedades_list"][data-cellid="grid_cell_icons"][data-page="novedades_list"] {
  white-space: nowrap;
}
[data-page="novedades_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


/* Put  your custom CSS code here */
#sugerencias {
    position: absolute;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    display: none;
}
 
#sugerencias li {
    padding: 8px;
    cursor: pointer; /* Cambia el cursor a una mano */
}
 
#sugerencias li:hover {
    background-color: #f0f0f0; /* Cambia el fondo al pasar el mouse */
}
