[data-cellid="grid_footcell_field"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_list"][data-cellid="grid_footcell_field"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_list"][data-cellid="grid_footcell_field"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_list"][data-cellid="grid_headcell_checkbox"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_list"][data-cellid="grid_headcell_checkbox"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_list"] {
  width: 30px;
}
[data-cellid="grid_cell_details"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_list"][data-cellid="grid_cell_details"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_list"][data-cellid="grid_cell_details"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_list"][data-cellid="grid_headcell_icons"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_list"][data-cellid="grid_headcell_icons"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_list"][data-cellid="grid_cell_icons"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_list"][data-cellid="grid_cell_icons"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_list"] {
  white-space: nowrap;
}
[data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


