[data-cellid="grid_footcell_field"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"][data-cellid="grid_footcell_field"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"][data-cellid="grid_footcell_field"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"][data-cellid="grid_footcell_field1"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"][data-cellid="grid_footcell_field1"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"][data-cellid="grid_footcell_field2"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"][data-cellid="grid_footcell_field2"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"][data-cellid="grid_footcell_field3"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"][data-cellid="grid_footcell_field3"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"][data-cellid="grid_headcell_icons"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"][data-cellid="grid_headcell_icons"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"][data-cellid="grid_cell_icons"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"][data-cellid="grid_cell_icons"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"] {
  white-space: nowrap;
}
[data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_masterprint"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


