[data-cellid="footer_c1"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_export"][data-cellid="footer_c1"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_export"][data-cellid="footer_c1"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_export"] {
  width: 33.33333333%;
}
[data-cellid="footer_c2"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_export"][data-cellid="footer_c2"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_export"][data-cellid="footer_c2"][data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_export"] {
  width: 66.66666667%;
}
[data-page="reportes_datachild_prescritos_con_resoluci_n_expedida_solidarios_export"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


