<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_Autorizaciones search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ConceptoId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ConceptoId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ConceptoId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="ConceptoId" data-fieldname="ConceptoId" >


	<label class="r-search-label control-label" for="{$labelfor_ConceptoId}">
		{$label dbo_Autorizaciones ConceptoId }	</label>
	<div class="r-search-option">
		{$searchtype_ConceptoId}
	</div>
	<div class="r-search-field">
		{$ConceptoId_editcontrol}	</div>
	<div class="r-search-field">
		{$ConceptoId_editcontrol1}
	</div>
	
</div>

{END ConceptoId_fieldblock}
											
{BEGIN AbogadoId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_AbogadoId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="AbogadoId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="AbogadoId" data-fieldname="AbogadoId" >


	<label class="r-search-label control-label" for="{$labelfor_AbogadoId}">
		{$label dbo_Autorizaciones AbogadoId }	</label>
	<div class="r-search-option">
		{$searchtype_AbogadoId}
	</div>
	<div class="r-search-field">
		{$AbogadoId_editcontrol}	</div>
	<div class="r-search-field">
		{$AbogadoId_editcontrol1}
	</div>
	
</div>

{END AbogadoId_fieldblock}
											
{BEGIN Fecha_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Fecha{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="Fecha" data-fieldname="Fecha" >


	<label class="r-search-label control-label" for="{$labelfor_Fecha}">
		{$label dbo_Autorizaciones Fecha }	</label>
	<div class="r-search-option">
		{$searchtype_Fecha}
	</div>
	<div class="r-search-field">
		{$Fecha_editcontrol}	</div>
	<div class="r-search-field">
		{$Fecha_editcontrol1}
	</div>
	
</div>

{END Fecha_fieldblock}
											
{BEGIN DespachoId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DespachoId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DespachoId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="DespachoId" data-fieldname="DespachoId" >


	<label class="r-search-label control-label" for="{$labelfor_DespachoId}">
		{$label dbo_Autorizaciones DespachoId }	</label>
	<div class="r-search-option">
		{$searchtype_DespachoId}
	</div>
	<div class="r-search-field">
		{$DespachoId_editcontrol}	</div>
	<div class="r-search-field">
		{$DespachoId_editcontrol1}
	</div>
	
</div>

{END DespachoId_fieldblock}
											
{BEGIN Origen_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Origen}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Origen{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Origen" data-fieldname="Origen" >


	<label class="r-search-label control-label" for="{$labelfor_Origen}">
		{$label dbo_Autorizaciones Origen }	</label>
	<div class="r-search-option">
		{$searchtype_Origen}
	</div>
	<div class="r-search-field">
		{$Origen_editcontrol}	</div>
	<div class="r-search-field">
		{$Origen_editcontrol1}
	</div>
	
</div>

{END Origen_fieldblock}
											
{BEGIN Providencia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Providencia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Providencia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="Providencia" data-fieldname="Providencia" >


	<label class="r-search-label control-label" for="{$labelfor_Providencia}">
		{$label dbo_Autorizaciones Providencia }	</label>
	<div class="r-search-option">
		{$searchtype_Providencia}
	</div>
	<div class="r-search-field">
		{$Providencia_editcontrol}	</div>
	<div class="r-search-field">
		{$Providencia_editcontrol1}
	</div>
	
</div>

{END Providencia_fieldblock}
											
{BEGIN Ejecutoria_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Ejecutoria}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Ejecutoria{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="Ejecutoria" data-fieldname="Ejecutoria" >


	<label class="r-search-label control-label" for="{$labelfor_Ejecutoria}">
		{$label dbo_Autorizaciones Ejecutoria }	</label>
	<div class="r-search-option">
		{$searchtype_Ejecutoria}
	</div>
	<div class="r-search-field">
		{$Ejecutoria_editcontrol}	</div>
	<div class="r-search-field">
		{$Ejecutoria_editcontrol1}
	</div>
	
</div>

{END Ejecutoria_fieldblock}
											
{BEGIN PrimeraCopia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PrimeraCopia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PrimeraCopia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="PrimeraCopia" data-fieldname="PrimeraCopia" >


	<label class="r-search-label control-label" for="{$labelfor_PrimeraCopia}">
		{$label dbo_Autorizaciones PrimeraCopia }	</label>
	<div class="r-search-option">
		{$searchtype_PrimeraCopia}
	</div>
	<div class="r-search-field">
		{$PrimeraCopia_editcontrol}	</div>
	<div class="r-search-field">
		{$PrimeraCopia_editcontrol1}
	</div>
	
</div>

{END PrimeraCopia_fieldblock}
											
{BEGIN Autentica_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Autentica}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Autentica{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="Autentica" data-fieldname="Autentica" >


	<label class="r-search-label control-label" for="{$labelfor_Autentica}">
		{$label dbo_Autorizaciones Autentica }	</label>
	<div class="r-search-option">
		{$searchtype_Autentica}
	</div>
	<div class="r-search-field">
		{$Autentica_editcontrol}	</div>
	<div class="r-search-field">
		{$Autentica_editcontrol1}
	</div>
	
</div>

{END Autentica_fieldblock}
											
{BEGIN PrestaMeritoEjecutivo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PrestaMeritoEjecutivo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PrestaMeritoEjecutivo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="PrestaMeritoEjecutivo" data-fieldname="PrestaMeritoEjecutivo" >


	<label class="r-search-label control-label" for="{$labelfor_PrestaMeritoEjecutivo}">
		{$label dbo_Autorizaciones PrestaMeritoEjecutivo }	</label>
	<div class="r-search-option">
		{$searchtype_PrestaMeritoEjecutivo}
	</div>
	<div class="r-search-field">
		{$PrestaMeritoEjecutivo_editcontrol}	</div>
	<div class="r-search-field">
		{$PrestaMeritoEjecutivo_editcontrol1}
	</div>
	
</div>

{END PrestaMeritoEjecutivo_fieldblock}
											
{BEGIN Clara_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Clara}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Clara{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="Clara" data-fieldname="Clara" >


	<label class="r-search-label control-label" for="{$labelfor_Clara}">
		{$label dbo_Autorizaciones Clara }	</label>
	<div class="r-search-option">
		{$searchtype_Clara}
	</div>
	<div class="r-search-field">
		{$Clara_editcontrol}	</div>
	<div class="r-search-field">
		{$Clara_editcontrol1}
	</div>
	
</div>

{END Clara_fieldblock}
											
{BEGIN Expresa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Expresa}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Expresa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="Expresa" data-fieldname="Expresa" >


	<label class="r-search-label control-label" for="{$labelfor_Expresa}">
		{$label dbo_Autorizaciones Expresa }	</label>
	<div class="r-search-option">
		{$searchtype_Expresa}
	</div>
	<div class="r-search-field">
		{$Expresa_editcontrol}	</div>
	<div class="r-search-field">
		{$Expresa_editcontrol1}
	</div>
	
</div>

{END Expresa_fieldblock}
											
{BEGIN ActualmenteExigible_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ActualmenteExigible}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ActualmenteExigible{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="ActualmenteExigible" data-fieldname="ActualmenteExigible" >


	<label class="r-search-label control-label" for="{$labelfor_ActualmenteExigible}">
		{$label dbo_Autorizaciones ActualmenteExigible }	</label>
	<div class="r-search-option">
		{$searchtype_ActualmenteExigible}
	</div>
	<div class="r-search-field">
		{$ActualmenteExigible_editcontrol}	</div>
	<div class="r-search-field">
		{$ActualmenteExigible_editcontrol1}
	</div>
	
</div>

{END ActualmenteExigible_fieldblock}
											
{BEGIN CompetenciaDEAJ_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CompetenciaDEAJ}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CompetenciaDEAJ{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="CompetenciaDEAJ" data-fieldname="CompetenciaDEAJ" >


	<label class="r-search-label control-label" for="{$labelfor_CompetenciaDEAJ}">
		{$label dbo_Autorizaciones CompetenciaDEAJ }	</label>
	<div class="r-search-option">
		{$searchtype_CompetenciaDEAJ}
	</div>
	<div class="r-search-field">
		{$CompetenciaDEAJ_editcontrol}	</div>
	<div class="r-search-field">
		{$CompetenciaDEAJ_editcontrol1}
	</div>
	
</div>

{END CompetenciaDEAJ_fieldblock}
											
{BEGIN FaltaRequisitos_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FaltaRequisitos}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="FaltaRequisitos{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="FaltaRequisitos" data-fieldname="FaltaRequisitos" >


	<label class="r-search-label control-label" for="{$labelfor_FaltaRequisitos}">
		{$label dbo_Autorizaciones FaltaRequisitos }	</label>
	<div class="r-search-option">
		{$searchtype_FaltaRequisitos}
	</div>
	<div class="r-search-field">
		{$FaltaRequisitos_editcontrol}	</div>
	<div class="r-search-field">
		{$FaltaRequisitos_editcontrol1}
	</div>
	
</div>

{END FaltaRequisitos_fieldblock}
											
{BEGIN FaltaCompetencia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FaltaCompetencia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="FaltaCompetencia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="FaltaCompetencia" data-fieldname="FaltaCompetencia" >


	<label class="r-search-label control-label" for="{$labelfor_FaltaCompetencia}">
		{$label dbo_Autorizaciones FaltaCompetencia }	</label>
	<div class="r-search-option">
		{$searchtype_FaltaCompetencia}
	</div>
	<div class="r-search-field">
		{$FaltaCompetencia_editcontrol}	</div>
	<div class="r-search-field">
		{$FaltaCompetencia_editcontrol1}
	</div>
	
</div>

{END FaltaCompetencia_fieldblock}
											
{BEGIN PorPrescripcion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PorPrescripcion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="PorPrescripcion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="PorPrescripcion" data-fieldname="PorPrescripcion" >


	<label class="r-search-label control-label" for="{$labelfor_PorPrescripcion}">
		{$label dbo_Autorizaciones PorPrescripcion }	</label>
	<div class="r-search-option">
		{$searchtype_PorPrescripcion}
	</div>
	<div class="r-search-field">
		{$PorPrescripcion_editcontrol}	</div>
	<div class="r-search-field">
		{$PorPrescripcion_editcontrol1}
	</div>
	
</div>

{END PorPrescripcion_fieldblock}
											
{BEGIN SeccionalId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SeccionalId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="SeccionalId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="SeccionalId" data-fieldname="SeccionalId" >


	<label class="r-search-label control-label" for="{$labelfor_SeccionalId}">
		{$label dbo_Autorizaciones SeccionalId }	</label>
	<div class="r-search-option">
		{$searchtype_SeccionalId}
	</div>
	<div class="r-search-field">
		{$SeccionalId_editcontrol}	</div>
	<div class="r-search-field">
		{$SeccionalId_editcontrol1}
	</div>
	
</div>

{END SeccionalId_fieldblock}
											
{BEGIN Folios_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Folios}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Folios{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="Folios" data-fieldname="Folios" >


	<label class="r-search-label control-label" for="{$labelfor_Folios}">
		{$label dbo_Autorizaciones Folios }	</label>
	<div class="r-search-option">
		{$searchtype_Folios}
	</div>
	<div class="r-search-field">
		{$Folios_editcontrol}	</div>
	<div class="r-search-field">
		{$Folios_editcontrol1}
	</div>
	
</div>

{END Folios_fieldblock}
											
{BEGIN SeccionalIdDestino_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SeccionalIdDestino}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="SeccionalIdDestino{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="SeccionalIdDestino" data-fieldname="SeccionalIdDestino" >


	<label class="r-search-label control-label" for="{$labelfor_SeccionalIdDestino}">
		{$label dbo_Autorizaciones SeccionalIdDestino }	</label>
	<div class="r-search-option">
		{$searchtype_SeccionalIdDestino}
	</div>
	<div class="r-search-field">
		{$SeccionalIdDestino_editcontrol}	</div>
	<div class="r-search-field">
		{$SeccionalIdDestino_editcontrol1}
	</div>
	
</div>

{END SeccionalIdDestino_fieldblock}
											
{BEGIN Observaciones_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Observaciones}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Observaciones{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="Observaciones" data-fieldname="Observaciones" >


	<label class="r-search-label control-label" for="{$labelfor_Observaciones}">
		{$label dbo_Autorizaciones Observaciones }	</label>
	<div class="r-search-option">
		{$searchtype_Observaciones}
	</div>
	<div class="r-search-field">
		{$Observaciones_editcontrol}	</div>
	<div class="r-search-field">
		{$Observaciones_editcontrol1}
	</div>
	
</div>

{END Observaciones_fieldblock}
											
{BEGIN Procesado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Procesado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Procesado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="Procesado" data-fieldname="Procesado" >


	<label class="r-search-label control-label" for="{$labelfor_Procesado}">
		{$label dbo_Autorizaciones Procesado }	</label>
	<div class="r-search-option">
		{$searchtype_Procesado}
	</div>
	<div class="r-search-field">
		{$Procesado_editcontrol}	</div>
	<div class="r-search-field">
		{$Procesado_editcontrol1}
	</div>
	
</div>

{END Procesado_fieldblock}
											
{BEGIN Tipo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Tipo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="Tipo" data-fieldname="Tipo" >


	<label class="r-search-label control-label" for="{$labelfor_Tipo}">
		{$label dbo_Autorizaciones Tipo }	</label>
	<div class="r-search-option">
		{$searchtype_Tipo}
	</div>
	<div class="r-search-field">
		{$Tipo_editcontrol}	</div>
	<div class="r-search-field">
		{$Tipo_editcontrol1}
	</div>
	
</div>

{END Tipo_fieldblock}
											
{BEGIN FechaSancion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FechaSancion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="FechaSancion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="FechaSancion" data-fieldname="FechaSancion" >


	<label class="r-search-label control-label" for="{$labelfor_FechaSancion}">
		{$label dbo_Autorizaciones FechaSancion }	</label>
	<div class="r-search-option">
		{$searchtype_FechaSancion}
	</div>
	<div class="r-search-field">
		{$FechaSancion_editcontrol}	</div>
	<div class="r-search-field">
		{$FechaSancion_editcontrol1}
	</div>
	
</div>

{END FechaSancion_fieldblock}
											
{BEGIN Cantidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Cantidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Cantidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="Cantidad" data-fieldname="Cantidad" >


	<label class="r-search-label control-label" for="{$labelfor_Cantidad}">
		{$label dbo_Autorizaciones Cantidad }	</label>
	<div class="r-search-option">
		{$searchtype_Cantidad}
	</div>
	<div class="r-search-field">
		{$Cantidad_editcontrol}	</div>
	<div class="r-search-field">
		{$Cantidad_editcontrol1}
	</div>
	
</div>

{END Cantidad_fieldblock}
											
{BEGIN Obligacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Obligacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Obligacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="Obligacion" data-fieldname="Obligacion" >


	<label class="r-search-label control-label" for="{$labelfor_Obligacion}">
		{$label dbo_Autorizaciones Obligacion }	</label>
	<div class="r-search-option">
		{$searchtype_Obligacion}
	</div>
	<div class="r-search-field">
		{$Obligacion_editcontrol}	</div>
	<div class="r-search-field">
		{$Obligacion_editcontrol1}
	</div>
	
</div>

{END Obligacion_fieldblock}
											
{BEGIN Costas_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Costas}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Costas{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="Costas" data-fieldname="Costas" >


	<label class="r-search-label control-label" for="{$labelfor_Costas}">
		{$label dbo_Autorizaciones Costas }	</label>
	<div class="r-search-option">
		{$searchtype_Costas}
	</div>
	<div class="r-search-field">
		{$Costas_editcontrol}	</div>
	<div class="r-search-field">
		{$Costas_editcontrol1}
	</div>
	
</div>

{END Costas_fieldblock}
											
{BEGIN Remisorio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Remisorio}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Remisorio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="Remisorio" data-fieldname="Remisorio" >


	<label class="r-search-label control-label" for="{$labelfor_Remisorio}">
		{$label dbo_Autorizaciones Remisorio }	</label>
	<div class="r-search-option">
		{$searchtype_Remisorio}
	</div>
	<div class="r-search-field">
		{$Remisorio_editcontrol}	</div>
	<div class="r-search-field">
		{$Remisorio_editcontrol1}
	</div>
	
</div>

{END Remisorio_fieldblock}
											
{BEGIN CarteraTipoId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CarteraTipoId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CarteraTipoId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="CarteraTipoId" data-fieldname="CarteraTipoId" >


	<label class="r-search-label control-label" for="{$labelfor_CarteraTipoId}">
		{$label dbo_Autorizaciones CarteraTipoId }	</label>
	<div class="r-search-option">
		{$searchtype_CarteraTipoId}
	</div>
	<div class="r-search-field">
		{$CarteraTipoId_editcontrol}	</div>
	<div class="r-search-field">
		{$CarteraTipoId_editcontrol1}
	</div>
	
</div>

{END CarteraTipoId_fieldblock}
											
{BEGIN MinJusticia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_MinJusticia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="MinJusticia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="MinJusticia" data-fieldname="MinJusticia" >


	<label class="r-search-label control-label" for="{$labelfor_MinJusticia}">
		{$label dbo_Autorizaciones MinJusticia }	</label>
	<div class="r-search-option">
		{$searchtype_MinJusticia}
	</div>
	<div class="r-search-field">
		{$MinJusticia_editcontrol}	</div>
	<div class="r-search-field">
		{$MinJusticia_editcontrol1}
	</div>
	
</div>

{END MinJusticia_fieldblock}
											
{BEGIN Aprobado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Aprobado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Aprobado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="Aprobado" data-fieldname="Aprobado" >


	<label class="r-search-label control-label" for="{$labelfor_Aprobado}">
		{$label dbo_Autorizaciones Aprobado }	</label>
	<div class="r-search-option">
		{$searchtype_Aprobado}
	</div>
	<div class="r-search-field">
		{$Aprobado_editcontrol}	</div>
	<div class="r-search-field">
		{$Aprobado_editcontrol1}
	</div>
	
</div>

{END Aprobado_fieldblock}
											
{BEGIN AprobadoPor_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_AprobadoPor}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="AprobadoPor{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="AprobadoPor" data-fieldname="AprobadoPor" >


	<label class="r-search-label control-label" for="{$labelfor_AprobadoPor}">
		{$label dbo_Autorizaciones AprobadoPor }	</label>
	<div class="r-search-option">
		{$searchtype_AprobadoPor}
	</div>
	<div class="r-search-field">
		{$AprobadoPor_editcontrol}	</div>
	<div class="r-search-field">
		{$AprobadoPor_editcontrol1}
	</div>
	
</div>

{END AprobadoPor_fieldblock}
											
{BEGIN FechaAprobacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FechaAprobacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="FechaAprobacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="FechaAprobacion" data-fieldname="FechaAprobacion" >


	<label class="r-search-label control-label" for="{$labelfor_FechaAprobacion}">
		{$label dbo_Autorizaciones FechaAprobacion }	</label>
	<div class="r-search-option">
		{$searchtype_FechaAprobacion}
	</div>
	<div class="r-search-field">
		{$FechaAprobacion_editcontrol}	</div>
	<div class="r-search-field">
		{$FechaAprobacion_editcontrol1}
	</div>
	
</div>

{END FechaAprobacion_fieldblock}
											
{BEGIN Plazo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Plazo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Plazo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="Plazo" data-fieldname="Plazo" >


	<label class="r-search-label control-label" for="{$labelfor_Plazo}">
		{$label dbo_Autorizaciones Plazo }	</label>
	<div class="r-search-option">
		{$searchtype_Plazo}
	</div>
	<div class="r-search-field">
		{$Plazo_editcontrol}	</div>
	<div class="r-search-field">
		{$Plazo_editcontrol1}
	</div>
	
</div>

{END Plazo_fieldblock}
											
{BEGIN NaturalezaId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NaturalezaId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="NaturalezaId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="NaturalezaId" data-fieldname="NaturalezaId" >


	<label class="r-search-label control-label" for="{$labelfor_NaturalezaId}">
		{$label dbo_Autorizaciones NaturalezaId }	</label>
	<div class="r-search-option">
		{$searchtype_NaturalezaId}
	</div>
	<div class="r-search-field">
		{$NaturalezaId_editcontrol}	</div>
	<div class="r-search-field">
		{$NaturalezaId_editcontrol1}
	</div>
	
</div>

{END NaturalezaId_fieldblock}
											
{BEGIN Sigobius_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Sigobius}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Sigobius{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="Sigobius" data-fieldname="Sigobius" >


	<label class="r-search-label control-label" for="{$labelfor_Sigobius}">
		{$label dbo_Autorizaciones Sigobius }	</label>
	<div class="r-search-option">
		{$searchtype_Sigobius}
	</div>
	<div class="r-search-field">
		{$Sigobius_editcontrol}	</div>
	<div class="r-search-field">
		{$Sigobius_editcontrol1}
	</div>
	
</div>

{END Sigobius_fieldblock}
											
{BEGIN Monto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Monto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Monto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="Monto" data-fieldname="Monto" >


	<label class="r-search-label control-label" for="{$labelfor_Monto}">
		{$label dbo_Autorizaciones Monto }	</label>
	<div class="r-search-option">
		{$searchtype_Monto}
	</div>
	<div class="r-search-field">
		{$Monto_editcontrol}	</div>
	<div class="r-search-field">
		{$Monto_editcontrol1}
	</div>
	
</div>

{END Monto_fieldblock}
											
{BEGIN TramiteId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TramiteId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="TramiteId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field38" {$item_integrated_search_field38} data-pageid="{$pageid}" data-field="TramiteId" data-fieldname="TramiteId" >


	<label class="r-search-label control-label" for="{$labelfor_TramiteId}">
		{$label dbo_Autorizaciones TramiteId }	</label>
	<div class="r-search-option">
		{$searchtype_TramiteId}
	</div>
	<div class="r-search-field">
		{$TramiteId_editcontrol}	</div>
	<div class="r-search-field">
		{$TramiteId_editcontrol1}
	</div>
	
</div>

{END TramiteId_fieldblock}
											
{BEGIN Fisico_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Fisico}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Fisico{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field39" {$item_integrated_search_field39} data-pageid="{$pageid}" data-field="Fisico" data-fieldname="Fisico" >


	<label class="r-search-label control-label" for="{$labelfor_Fisico}">
		{$label dbo_Autorizaciones Fisico }	</label>
	<div class="r-search-option">
		{$searchtype_Fisico}
	</div>
	<div class="r-search-field">
		{$Fisico_editcontrol}	</div>
	<div class="r-search-field">
		{$Fisico_editcontrol1}
	</div>
	
</div>

{END Fisico_fieldblock}
											
{BEGIN Digital_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Digital}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Digital{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field40" {$item_integrated_search_field40} data-pageid="{$pageid}" data-field="Digital" data-fieldname="Digital" >


	<label class="r-search-label control-label" for="{$labelfor_Digital}">
		{$label dbo_Autorizaciones Digital }	</label>
	<div class="r-search-option">
		{$searchtype_Digital}
	</div>
	<div class="r-search-field">
		{$Digital_editcontrol}	</div>
	<div class="r-search-field">
		{$Digital_editcontrol1}
	</div>
	
</div>

{END Digital_fieldblock}
											
{BEGIN ChequeoId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ChequeoId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ChequeoId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="ChequeoId" data-fieldname="ChequeoId" >


	<label class="r-search-label control-label" for="{$labelfor_ChequeoId}">
		{$label dbo_Autorizaciones ChequeoId }	</label>
	<div class="r-search-option">
		{$searchtype_ChequeoId}
	</div>
	<div class="r-search-field">
		{$ChequeoId_editcontrol}	</div>
	<div class="r-search-field">
		{$ChequeoId_editcontrol1}
	</div>
	
</div>

{END ChequeoId_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
