<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_Carceles3 view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN CarcelId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CarcelId}  r-vertical-field" data-fieldname="CarcelId" data-signal-error-for="CarcelId{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="CarcelId" data-fieldname="CarcelId" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_CarcelId}">
		
		{BEGIN CarcelId_label}{$label dbo_Carceles3 CarcelId }{END CarcelId_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$CarcelId_value}	</div>

		
</div>


{END CarcelId_fieldblock}
											
{BEGIN Carcel_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Carcel}  r-vertical-field" data-fieldname="Carcel" data-signal-error-for="Carcel{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Carcel" data-fieldname="Carcel" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Carcel}">
		
		{BEGIN Carcel_label}{$label dbo_Carceles3 Carcel }{END Carcel_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Carcel_value}	</div>

		
</div>


{END Carcel_fieldblock}
											
{BEGIN CiudadId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CiudadId}  r-vertical-field" data-fieldname="CiudadId" data-signal-error-for="CiudadId{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="CiudadId" data-fieldname="CiudadId" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_CiudadId}">
		
		{BEGIN CiudadId_label}{$label dbo_Carceles3 CiudadId }{END CiudadId_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$CiudadId_value}	</div>

		
</div>


{END CiudadId_fieldblock}
											
{BEGIN Direccion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Direccion}  r-vertical-field" data-fieldname="Direccion" data-signal-error-for="Direccion{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Direccion" data-fieldname="Direccion" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Direccion}">
		
		{BEGIN Direccion_label}{$label dbo_Carceles3 Direccion }{END Direccion_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Direccion_value}	</div>

		
</div>


{END Direccion_fieldblock}
											
{BEGIN Telefono_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Telefono}  r-vertical-field" data-fieldname="Telefono" data-signal-error-for="Telefono{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Telefono" data-fieldname="Telefono" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Telefono}">
		
		{BEGIN Telefono_label}{$label dbo_Carceles3 Telefono }{END Telefono_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Telefono_value}	</div>

		
</div>


{END Telefono_fieldblock}
											
{BEGIN Email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Email}  r-vertical-field" data-fieldname="Email" data-signal-error-for="Email{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Email" data-fieldname="Email" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Email}">
		
		{BEGIN Email_label}{$label dbo_Carceles3 Email }{END Email_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Email_value}	</div>

		
</div>


{END Email_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="carceles3_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
