<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-print" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel Certificado_del_Resumen_por_Periodo print}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
									{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" class=" table table-hover table-bordered r-horizontal-grid  rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
			
																									<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Seccional_class}	"

			data-field="Seccional"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Seccional_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field24" {$item_simple_grid_field24} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Seccional" data-fieldname="Seccional">
	{$label Certificado_del_Resumen_por_Periodo Seccional }	</span>
{END Seccional_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Concepto_class}	"

			data-field="Concepto"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Concepto_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field25" {$item_simple_grid_field25} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Concepto" data-fieldname="Concepto">
	{$label Certificado_del_Resumen_por_Periodo Concepto }	</span>
{END Concepto_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcAnte_class}	"

			data-field="ProcAnte"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ProcAnte_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field26" {$item_simple_grid_field26} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ProcAnte" data-fieldname="ProcAnte">
	{$label Certificado_del_Resumen_por_Periodo ProcAnte }	</span>
{END ProcAnte_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliAnte_class}	"

			data-field="ObliAnte"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ObliAnte_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field27" {$item_simple_grid_field27} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ObliAnte" data-fieldname="ObliAnte">
	{$label Certificado_del_Resumen_por_Periodo ObliAnte }	</span>
{END ObliAnte_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcActu_class}	"

			data-field="ProcActu"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ProcActu_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field28" {$item_simple_grid_field28} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ProcActu" data-fieldname="ProcActu">
	{$label Certificado_del_Resumen_por_Periodo ProcActu }	</span>
{END ProcActu_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliActu_class}	"

			data-field="ObliActu"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ObliActu_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field29" {$item_simple_grid_field29} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ObliActu" data-fieldname="ObliActu">
	{$label Certificado_del_Resumen_por_Periodo ObliActu }	</span>
{END ObliActu_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcReca_class}	"

			data-field="ProcReca"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ProcReca_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field30" {$item_simple_grid_field30} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ProcReca" data-fieldname="ProcReca">
	{$label Certificado_del_Resumen_por_Periodo ProcReca }	</span>
{END ProcReca_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
									{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliReca_class}	"

			data-field="ObliReca"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ObliReca_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field31" {$item_simple_grid_field31} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ObliReca" data-fieldname="ObliReca">
	{$label Certificado_del_Resumen_por_Periodo ObliReca }	</span>
{END ObliReca_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
									{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcTras_class}	"

			data-field="ProcTras"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ProcTras_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field32" {$item_simple_grid_field32} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ProcTras" data-fieldname="ProcTras">
	{$label Certificado_del_Resumen_por_Periodo ProcTras }	</span>
{END ProcTras_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
									{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliTras_class}	"

			data-field="ObliTras"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ObliTras_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field33" {$item_simple_grid_field33} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ObliTras" data-fieldname="ObliTras">
	{$label Certificado_del_Resumen_por_Periodo ObliTras }	</span>
{END ObliTras_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
									{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcNopa_class}	"

			data-field="ProcNopa"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ProcNopa_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field34" {$item_simple_grid_field34} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ProcNopa" data-fieldname="ProcNopa">
	{$label Certificado_del_Resumen_por_Periodo ProcNopa }	</span>
{END ProcNopa_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
									{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliNopa_class}	"

			data-field="ObliNopa"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ObliNopa_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field35" {$item_simple_grid_field35} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ObliNopa" data-fieldname="ObliNopa">
	{$label Certificado_del_Resumen_por_Periodo ObliNopa }	</span>
{END ObliNopa_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
									{BEGIN cellblock_grid_headcell_field12}
	<th
	
	{$cell_grid_headcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcNove_class}	"

			data-field="ProcNove"
	
	data-cellId="grid_headcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ProcNove_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field36" {$item_simple_grid_field36} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ProcNove" data-fieldname="ProcNove">
	{$label Certificado_del_Resumen_por_Periodo ProcNove }	</span>
{END ProcNove_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field12}
									{BEGIN cellblock_grid_headcell_field13}
	<th
	
	{$cell_grid_headcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliNove_class}	"

			data-field="ObliNove"
	
	data-cellId="grid_headcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ObliNove_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field37" {$item_simple_grid_field37} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ObliNove" data-fieldname="ObliNove">
	{$label Certificado_del_Resumen_por_Periodo ObliNove }	</span>
{END ObliNove_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field13}
									{BEGIN cellblock_grid_headcell_field14}
	<th
	
	{$cell_grid_headcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcTota_class}	"

			data-field="ProcTota"
	
	data-cellId="grid_headcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ProcTota_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field38" {$item_simple_grid_field38} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ProcTota" data-fieldname="ProcTota">
	{$label Certificado_del_Resumen_por_Periodo ProcTota }	</span>
{END ProcTota_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field14}
									{BEGIN cellblock_grid_headcell_field15}
	<th
	
	{$cell_grid_headcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliTota_class}	"

			data-field="ObliTota"
	
	data-cellId="grid_headcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ObliTota_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field39" {$item_simple_grid_field39} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ObliTota" data-fieldname="ObliTota">
	{$label Certificado_del_Resumen_por_Periodo ObliTota }	</span>
{END ObliTota_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field15}
									{BEGIN cellblock_grid_headcell_field16}
	<th
	
	{$cell_grid_headcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___InteAnte_class}	"

			data-field="INTERESES_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___InteAnte"
	
	data-cellId="grid_headcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN INTERESES_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___InteAnte_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field40" {$item_simple_grid_field40} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="INTERESES_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___InteAnte" data-fieldname="INTERESES DE MULTA POR COBRAR - C. SALDO FINAL MES ANTERIOR - InteAnte">
	{$label Certificado_del_Resumen_por_Periodo INTERESES_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___InteAnte }	</span>
{END INTERESES_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___InteAnte_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field16}
									{BEGIN cellblock_grid_headcell_field17}
	<th
	
	{$cell_grid_headcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___InteActu_class}	"

			data-field="INTERESES_DE_MULTA_POR_COBRAR___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___InteActu"
	
	data-cellId="grid_headcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN INTERESES_DE_MULTA_POR_COBRAR___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___InteActu_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field41" {$item_simple_grid_field41} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="INTERESES_DE_MULTA_POR_COBRAR___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___InteActu" data-fieldname="INTERESES DE MULTA POR COBRAR - D. PROCESOS RECIBIDOS, NUEVOS INTER. Y COSTAS - InteActu">
	{$label Certificado_del_Resumen_por_Periodo INTERESES_DE_MULTA_POR_COBRAR___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___InteActu }	</span>
{END INTERESES_DE_MULTA_POR_COBRAR___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___InteActu_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field17}
									{BEGIN cellblock_grid_headcell_field18}
	<th
	
	{$cell_grid_headcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR____E__RECAUDO___InteReca_class}	"

			data-field="INTERESES_DE_MULTA_POR_COBRAR____E__RECAUDO___InteReca"
	
	data-cellId="grid_headcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN INTERESES_DE_MULTA_POR_COBRAR____E__RECAUDO___InteReca_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field42" {$item_simple_grid_field42} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="INTERESES_DE_MULTA_POR_COBRAR____E__RECAUDO___InteReca" data-fieldname="INTERESES DE MULTA POR COBRAR  - E. RECAUDO - InteReca">
	{$label Certificado_del_Resumen_por_Periodo INTERESES_DE_MULTA_POR_COBRAR____E__RECAUDO___InteReca }	</span>
{END INTERESES_DE_MULTA_POR_COBRAR____E__RECAUDO___InteReca_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field18}
									{BEGIN cellblock_grid_headcell_field19}
	<th
	
	{$cell_grid_headcell_field19}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR___F_TRASLADOS___InteTras_class}	"

			data-field="INTERESES_DE_MULTA_POR_COBRAR___F_TRASLADOS___InteTras"
	
	data-cellId="grid_headcell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN INTERESES_DE_MULTA_POR_COBRAR___F_TRASLADOS___InteTras_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field43" {$item_simple_grid_field43} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="INTERESES_DE_MULTA_POR_COBRAR___F_TRASLADOS___InteTras" data-fieldname="INTERESES DE MULTA POR COBRAR - F.TRASLADOS - InteTras">
	{$label Certificado_del_Resumen_por_Periodo INTERESES_DE_MULTA_POR_COBRAR___F_TRASLADOS___InteTras }	</span>
{END INTERESES_DE_MULTA_POR_COBRAR___F_TRASLADOS___InteTras_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field19}
									{BEGIN cellblock_grid_headcell_field20}
	<th
	
	{$cell_grid_headcell_field20}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR____G__PROCESOS_TERMINADOS_SIN_PAG___InteNopa_class}	"

			data-field="INTERESES_DE_MULTA_POR_COBRAR____G__PROCESOS_TERMINADOS_SIN_PAG___InteNopa"
	
	data-cellId="grid_headcell_field20" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN INTERESES_DE_MULTA_POR_COBRAR____G__PROCESOS_TERMINADOS_SIN_PAG___InteNopa_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field44" {$item_simple_grid_field44} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="INTERESES_DE_MULTA_POR_COBRAR____G__PROCESOS_TERMINADOS_SIN_PAG___InteNopa" data-fieldname="INTERESES DE MULTA POR COBRAR  - G. PROCESOS TERMINADOS SIN PAG - InteNopa">
	{$label Certificado_del_Resumen_por_Periodo INTERESES_DE_MULTA_POR_COBRAR____G__PROCESOS_TERMINADOS_SIN_PAG___InteNopa }	</span>
{END INTERESES_DE_MULTA_POR_COBRAR____G__PROCESOS_TERMINADOS_SIN_PAG___InteNopa_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field20}
									{BEGIN cellblock_grid_headcell_field21}
	<th
	
	{$cell_grid_headcell_field21}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR___H__NOVEDADES___InteNove_class}	"

			data-field="INTERESES_DE_MULTA_POR_COBRAR___H__NOVEDADES___InteNove"
	
	data-cellId="grid_headcell_field21" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN INTERESES_DE_MULTA_POR_COBRAR___H__NOVEDADES___InteNove_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field45" {$item_simple_grid_field45} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="INTERESES_DE_MULTA_POR_COBRAR___H__NOVEDADES___InteNove" data-fieldname="INTERESES DE MULTA POR COBRAR - H. NOVEDADES - InteNove">
	{$label Certificado_del_Resumen_por_Periodo INTERESES_DE_MULTA_POR_COBRAR___H__NOVEDADES___InteNove }	</span>
{END INTERESES_DE_MULTA_POR_COBRAR___H__NOVEDADES___InteNove_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field21}
									{BEGIN cellblock_grid_headcell_field22}
	<th
	
	{$cell_grid_headcell_field22}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota_class}	"

			data-field="INTERESES_DE_MULTA_POR_COBRAR___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota"
	
	data-cellId="grid_headcell_field22" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN INTERESES_DE_MULTA_POR_COBRAR___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field46" {$item_simple_grid_field46} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="INTERESES_DE_MULTA_POR_COBRAR___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota" data-fieldname="INTERESES DE MULTA POR COBRAR - I. SALDO FINAL COBRO COACTIVO PERIODO ACTUAL(C+D-E+F-G+H) - InteTota">
	{$label Certificado_del_Resumen_por_Periodo INTERESES_DE_MULTA_POR_COBRAR___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota }	</span>
{END INTERESES_DE_MULTA_POR_COBRAR___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field22}
									{BEGIN cellblock_grid_headcell_field23}
	<th
	
	{$cell_grid_headcell_field23}
	{$recordattrs}
	class="
		 r-ori-vert		 {$COSTAS_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___CostAnte_class}	"

			data-field="COSTAS_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___CostAnte"
	
	data-cellId="grid_headcell_field23" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN COSTAS_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___CostAnte_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field47" {$item_simple_grid_field47} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="COSTAS_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___CostAnte" data-fieldname="COSTAS DE MULTA POR COBRAR - C. SALDO FINAL MES ANTERIOR - CostAnte">
	{$label Certificado_del_Resumen_por_Periodo COSTAS_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___CostAnte }	</span>
{END COSTAS_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___CostAnte_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field23}
							</tr>
															
					{END grid_header}
			</thead>
															{BEGIN grid_row}
					<tbody>
							
																														<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Seccional_class}	"

			data-field="Seccional"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Seccional_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Seccional" data-fieldname="Seccional" data-default-width >
{$Seccional_value}
</span>
{END Seccional_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Concepto_class}	"

			data-field="Concepto"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Concepto_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Concepto" data-fieldname="Concepto" data-default-width >
{$Concepto_value}
</span>
{END Concepto_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcAnte_class}	"

			data-field="ProcAnte"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ProcAnte_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ProcAnte" data-fieldname="ProcAnte" data-default-width >
{$ProcAnte_value}
</span>
{END ProcAnte_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliAnte_class}	"

			data-field="ObliAnte"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ObliAnte_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ObliAnte" data-fieldname="ObliAnte" data-default-width >
{$ObliAnte_value}
</span>
{END ObliAnte_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcActu_class}	"

			data-field="ProcActu"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ProcActu_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ProcActu" data-fieldname="ProcActu" data-default-width >
{$ProcActu_value}
</span>
{END ProcActu_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliActu_class}	"

			data-field="ObliActu"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ObliActu_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ObliActu" data-fieldname="ObliActu" data-default-width >
{$ObliActu_value}
</span>
{END ObliActu_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcReca_class}	"

			data-field="ProcReca"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ProcReca_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ProcReca" data-fieldname="ProcReca" data-default-width >
{$ProcReca_value}
</span>
{END ProcReca_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
									{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliReca_class}	"

			data-field="ObliReca"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ObliReca_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ObliReca" data-fieldname="ObliReca" data-default-width >
{$ObliReca_value}
</span>
{END ObliReca_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
									{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcTras_class}	"

			data-field="ProcTras"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ProcTras_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ProcTras" data-fieldname="ProcTras" data-default-width >
{$ProcTras_value}
</span>
{END ProcTras_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
									{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliTras_class}	"

			data-field="ObliTras"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ObliTras_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ObliTras" data-fieldname="ObliTras" data-default-width >
{$ObliTras_value}
</span>
{END ObliTras_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
									{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcNopa_class}	"

			data-field="ProcNopa"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ProcNopa_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ProcNopa" data-fieldname="ProcNopa" data-default-width >
{$ProcNopa_value}
</span>
{END ProcNopa_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
									{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliNopa_class}	"

			data-field="ObliNopa"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ObliNopa_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ObliNopa" data-fieldname="ObliNopa" data-default-width >
{$ObliNopa_value}
</span>
{END ObliNopa_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
									{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcNove_class}	"

			data-field="ProcNove"
	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ProcNove_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ProcNove" data-fieldname="ProcNove" data-default-width >
{$ProcNove_value}
</span>
{END ProcNove_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field12}
									{BEGIN cellblock_grid_cell_field13}
	<td
	
	{$cell_grid_cell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliNove_class}	"

			data-field="ObliNove"
	
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ObliNove_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ObliNove" data-fieldname="ObliNove" data-default-width >
{$ObliNove_value}
</span>
{END ObliNove_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field13}
									{BEGIN cellblock_grid_cell_field14}
	<td
	
	{$cell_grid_cell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcTota_class}	"

			data-field="ProcTota"
	
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ProcTota_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ProcTota" data-fieldname="ProcTota" data-default-width >
{$ProcTota_value}
</span>
{END ProcTota_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field14}
									{BEGIN cellblock_grid_cell_field15}
	<td
	
	{$cell_grid_cell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliTota_class}	"

			data-field="ObliTota"
	
	data-cellId="grid_cell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ObliTota_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ObliTota" data-fieldname="ObliTota" data-default-width >
{$ObliTota_value}
</span>
{END ObliTota_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field15}
									{BEGIN cellblock_grid_cell_field16}
	<td
	
	{$cell_grid_cell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___InteAnte_class}	"

			data-field="INTERESES_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___InteAnte"
	
	data-cellId="grid_cell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN INTERESES_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___InteAnte_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="INTERESES_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___InteAnte" data-fieldname="INTERESES DE MULTA POR COBRAR - C. SALDO FINAL MES ANTERIOR - InteAnte" data-default-width >
{$INTERESES_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___InteAnte_value}
</span>
{END INTERESES_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___InteAnte_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field16}
									{BEGIN cellblock_grid_cell_field17}
	<td
	
	{$cell_grid_cell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___InteActu_class}	"

			data-field="INTERESES_DE_MULTA_POR_COBRAR___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___InteActu"
	
	data-cellId="grid_cell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN INTERESES_DE_MULTA_POR_COBRAR___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___InteActu_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="INTERESES_DE_MULTA_POR_COBRAR___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___InteActu" data-fieldname="INTERESES DE MULTA POR COBRAR - D. PROCESOS RECIBIDOS, NUEVOS INTER. Y COSTAS - InteActu" data-default-width >
{$INTERESES_DE_MULTA_POR_COBRAR___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___InteActu_value}
</span>
{END INTERESES_DE_MULTA_POR_COBRAR___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___InteActu_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field17}
									{BEGIN cellblock_grid_cell_field18}
	<td
	
	{$cell_grid_cell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR____E__RECAUDO___InteReca_class}	"

			data-field="INTERESES_DE_MULTA_POR_COBRAR____E__RECAUDO___InteReca"
	
	data-cellId="grid_cell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN INTERESES_DE_MULTA_POR_COBRAR____E__RECAUDO___InteReca_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="INTERESES_DE_MULTA_POR_COBRAR____E__RECAUDO___InteReca" data-fieldname="INTERESES DE MULTA POR COBRAR  - E. RECAUDO - InteReca" data-default-width >
{$INTERESES_DE_MULTA_POR_COBRAR____E__RECAUDO___InteReca_value}
</span>
{END INTERESES_DE_MULTA_POR_COBRAR____E__RECAUDO___InteReca_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field18}
									{BEGIN cellblock_grid_cell_field19}
	<td
	
	{$cell_grid_cell_field19}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR___F_TRASLADOS___InteTras_class}	"

			data-field="INTERESES_DE_MULTA_POR_COBRAR___F_TRASLADOS___InteTras"
	
	data-cellId="grid_cell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN INTERESES_DE_MULTA_POR_COBRAR___F_TRASLADOS___InteTras_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="INTERESES_DE_MULTA_POR_COBRAR___F_TRASLADOS___InteTras" data-fieldname="INTERESES DE MULTA POR COBRAR - F.TRASLADOS - InteTras" data-default-width >
{$INTERESES_DE_MULTA_POR_COBRAR___F_TRASLADOS___InteTras_value}
</span>
{END INTERESES_DE_MULTA_POR_COBRAR___F_TRASLADOS___InteTras_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field19}
									{BEGIN cellblock_grid_cell_field20}
	<td
	
	{$cell_grid_cell_field20}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR____G__PROCESOS_TERMINADOS_SIN_PAG___InteNopa_class}	"

			data-field="INTERESES_DE_MULTA_POR_COBRAR____G__PROCESOS_TERMINADOS_SIN_PAG___InteNopa"
	
	data-cellId="grid_cell_field20" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN INTERESES_DE_MULTA_POR_COBRAR____G__PROCESOS_TERMINADOS_SIN_PAG___InteNopa_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="INTERESES_DE_MULTA_POR_COBRAR____G__PROCESOS_TERMINADOS_SIN_PAG___InteNopa" data-fieldname="INTERESES DE MULTA POR COBRAR  - G. PROCESOS TERMINADOS SIN PAG - InteNopa" data-default-width >
{$INTERESES_DE_MULTA_POR_COBRAR____G__PROCESOS_TERMINADOS_SIN_PAG___InteNopa_value}
</span>
{END INTERESES_DE_MULTA_POR_COBRAR____G__PROCESOS_TERMINADOS_SIN_PAG___InteNopa_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field20}
									{BEGIN cellblock_grid_cell_field21}
	<td
	
	{$cell_grid_cell_field21}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR___H__NOVEDADES___InteNove_class}	"

			data-field="INTERESES_DE_MULTA_POR_COBRAR___H__NOVEDADES___InteNove"
	
	data-cellId="grid_cell_field21" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN INTERESES_DE_MULTA_POR_COBRAR___H__NOVEDADES___InteNove_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="INTERESES_DE_MULTA_POR_COBRAR___H__NOVEDADES___InteNove" data-fieldname="INTERESES DE MULTA POR COBRAR - H. NOVEDADES - InteNove" data-default-width >
{$INTERESES_DE_MULTA_POR_COBRAR___H__NOVEDADES___InteNove_value}
</span>
{END INTERESES_DE_MULTA_POR_COBRAR___H__NOVEDADES___InteNove_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field21}
									{BEGIN cellblock_grid_cell_field22}
	<td
	
	{$cell_grid_cell_field22}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota_class}	"

			data-field="INTERESES_DE_MULTA_POR_COBRAR___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota"
	
	data-cellId="grid_cell_field22" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN INTERESES_DE_MULTA_POR_COBRAR___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="INTERESES_DE_MULTA_POR_COBRAR___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota" data-fieldname="INTERESES DE MULTA POR COBRAR - I. SALDO FINAL COBRO COACTIVO PERIODO ACTUAL(C+D-E+F-G+H) - InteTota" data-default-width >
{$INTERESES_DE_MULTA_POR_COBRAR___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota_value}
</span>
{END INTERESES_DE_MULTA_POR_COBRAR___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field22}
									{BEGIN cellblock_grid_cell_field23}
	<td
	
	{$cell_grid_cell_field23}
	{$recordattrs}
	class="
		 r-ori-vert		 {$COSTAS_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___CostAnte_class}	"

			data-field="COSTAS_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___CostAnte"
	
	data-cellId="grid_cell_field23" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN COSTAS_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___CostAnte_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="COSTAS_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___CostAnte" data-fieldname="COSTAS DE MULTA POR COBRAR - C. SALDO FINAL MES ANTERIOR - CostAnte" data-default-width >
{$COSTAS_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___CostAnte_value}
</span>
{END COSTAS_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___CostAnte_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field23}
							</tr>
										
											</tbody>
					{END grid_row}
													<tfoot>
			
																																			<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Seccional_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Concepto_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcAnte_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliAnte_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcActu_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliActu_class}	"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcReca_class}	"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
									{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliReca_class}	"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
									{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcTras_class}	"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
									{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliTras_class}	"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
									{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcNopa_class}	"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
									{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliNopa_class}	"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
									{BEGIN cellblock_grid_footcell_field12}
	<td
	
	{$cell_grid_footcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcNove_class}	"

	
	data-cellId="grid_footcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field12}
									{BEGIN cellblock_grid_footcell_field13}
	<td
	
	{$cell_grid_footcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliNove_class}	"

	
	data-cellId="grid_footcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field13}
									{BEGIN cellblock_grid_footcell_field14}
	<td
	
	{$cell_grid_footcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ProcTota_class}	"

	
	data-cellId="grid_footcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field14}
									{BEGIN cellblock_grid_footcell_field15}
	<td
	
	{$cell_grid_footcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ObliTota_class}	"

	
	data-cellId="grid_footcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field15}
									{BEGIN cellblock_grid_footcell_field16}
	<td
	
	{$cell_grid_footcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___InteAnte_class}	"

	
	data-cellId="grid_footcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field16}
									{BEGIN cellblock_grid_footcell_field17}
	<td
	
	{$cell_grid_footcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___InteActu_class}	"

	
	data-cellId="grid_footcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field17}
									{BEGIN cellblock_grid_footcell_field18}
	<td
	
	{$cell_grid_footcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR____E__RECAUDO___InteReca_class}	"

	
	data-cellId="grid_footcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field18}
									{BEGIN cellblock_grid_footcell_field19}
	<td
	
	{$cell_grid_footcell_field19}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR___F_TRASLADOS___InteTras_class}	"

	
	data-cellId="grid_footcell_field19" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field19}
									{BEGIN cellblock_grid_footcell_field20}
	<td
	
	{$cell_grid_footcell_field20}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR____G__PROCESOS_TERMINADOS_SIN_PAG___InteNopa_class}	"

	
	data-cellId="grid_footcell_field20" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field20}
									{BEGIN cellblock_grid_footcell_field21}
	<td
	
	{$cell_grid_footcell_field21}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR___H__NOVEDADES___InteNove_class}	"

	
	data-cellId="grid_footcell_field21" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field21}
									{BEGIN cellblock_grid_footcell_field22}
	<td
	
	{$cell_grid_footcell_field22}
	{$recordattrs}
	class="
		 r-ori-vert		 {$INTERESES_DE_MULTA_POR_COBRAR___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota_class}	"

	
	data-cellId="grid_footcell_field22" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field22}
									{BEGIN cellblock_grid_footcell_field23}
	<td
	
	{$cell_grid_footcell_field23}
	{$recordattrs}
	class="
		 r-ori-vert		 {$COSTAS_DE_MULTA_POR_COBRAR___C__SALDO_FINAL_MES_ANTERIOR___CostAnte_class}	"

	
	data-cellId="grid_footcell_field23" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="certificado_del_resumen_por_periodo_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field23}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
