<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel Certificado_del_Resumen_por_Periodo search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Concepto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Concepto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Concepto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="Concepto" data-fieldname="Concepto" >


	<label class="r-search-label control-label" for="{$labelfor_Concepto}">
		{$label Certificado_del_Resumen_por_Periodo Concepto }	</label>
	<div class="r-search-option">
		{$searchtype_Concepto}
	</div>
	<div class="r-search-field">
		{$Concepto_editcontrol}	</div>
	<div class="r-search-field">
		{$Concepto_editcontrol1}
	</div>
	
</div>

{END Concepto_fieldblock}
											
{BEGIN ProcAnte_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcAnte}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcAnte{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="ProcAnte" data-fieldname="ProcAnte" >


	<label class="r-search-label control-label" for="{$labelfor_ProcAnte}">
		{$label Certificado_del_Resumen_por_Periodo ProcAnte }	</label>
	<div class="r-search-option">
		{$searchtype_ProcAnte}
	</div>
	<div class="r-search-field">
		{$ProcAnte_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcAnte_editcontrol1}
	</div>
	
</div>

{END ProcAnte_fieldblock}
											
{BEGIN ObliAnte_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ObliAnte}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ObliAnte{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="ObliAnte" data-fieldname="ObliAnte" >


	<label class="r-search-label control-label" for="{$labelfor_ObliAnte}">
		{$label Certificado_del_Resumen_por_Periodo ObliAnte }	</label>
	<div class="r-search-option">
		{$searchtype_ObliAnte}
	</div>
	<div class="r-search-field">
		{$ObliAnte_editcontrol}	</div>
	<div class="r-search-field">
		{$ObliAnte_editcontrol1}
	</div>
	
</div>

{END ObliAnte_fieldblock}
											
{BEGIN ProcActu_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcActu}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcActu{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="ProcActu" data-fieldname="ProcActu" >


	<label class="r-search-label control-label" for="{$labelfor_ProcActu}">
		{$label Certificado_del_Resumen_por_Periodo ProcActu }	</label>
	<div class="r-search-option">
		{$searchtype_ProcActu}
	</div>
	<div class="r-search-field">
		{$ProcActu_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcActu_editcontrol1}
	</div>
	
</div>

{END ProcActu_fieldblock}
											
{BEGIN ObliActu_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ObliActu}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ObliActu{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="ObliActu" data-fieldname="ObliActu" >


	<label class="r-search-label control-label" for="{$labelfor_ObliActu}">
		{$label Certificado_del_Resumen_por_Periodo ObliActu }	</label>
	<div class="r-search-option">
		{$searchtype_ObliActu}
	</div>
	<div class="r-search-field">
		{$ObliActu_editcontrol}	</div>
	<div class="r-search-field">
		{$ObliActu_editcontrol1}
	</div>
	
</div>

{END ObliActu_fieldblock}
											
{BEGIN ProcReca_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcReca}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcReca{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="ProcReca" data-fieldname="ProcReca" >


	<label class="r-search-label control-label" for="{$labelfor_ProcReca}">
		{$label Certificado_del_Resumen_por_Periodo ProcReca }	</label>
	<div class="r-search-option">
		{$searchtype_ProcReca}
	</div>
	<div class="r-search-field">
		{$ProcReca_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcReca_editcontrol1}
	</div>
	
</div>

{END ProcReca_fieldblock}
											
{BEGIN ObliReca_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ObliReca}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ObliReca{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="ObliReca" data-fieldname="ObliReca" >


	<label class="r-search-label control-label" for="{$labelfor_ObliReca}">
		{$label Certificado_del_Resumen_por_Periodo ObliReca }	</label>
	<div class="r-search-option">
		{$searchtype_ObliReca}
	</div>
	<div class="r-search-field">
		{$ObliReca_editcontrol}	</div>
	<div class="r-search-field">
		{$ObliReca_editcontrol1}
	</div>
	
</div>

{END ObliReca_fieldblock}
											
{BEGIN ProcTras_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcTras}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcTras{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="ProcTras" data-fieldname="ProcTras" >


	<label class="r-search-label control-label" for="{$labelfor_ProcTras}">
		{$label Certificado_del_Resumen_por_Periodo ProcTras }	</label>
	<div class="r-search-option">
		{$searchtype_ProcTras}
	</div>
	<div class="r-search-field">
		{$ProcTras_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcTras_editcontrol1}
	</div>
	
</div>

{END ProcTras_fieldblock}
											
{BEGIN ObliTras_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ObliTras}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ObliTras{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="ObliTras" data-fieldname="ObliTras" >


	<label class="r-search-label control-label" for="{$labelfor_ObliTras}">
		{$label Certificado_del_Resumen_por_Periodo ObliTras }	</label>
	<div class="r-search-option">
		{$searchtype_ObliTras}
	</div>
	<div class="r-search-field">
		{$ObliTras_editcontrol}	</div>
	<div class="r-search-field">
		{$ObliTras_editcontrol1}
	</div>
	
</div>

{END ObliTras_fieldblock}
											
{BEGIN ProcNopa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcNopa}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcNopa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="ProcNopa" data-fieldname="ProcNopa" >


	<label class="r-search-label control-label" for="{$labelfor_ProcNopa}">
		{$label Certificado_del_Resumen_por_Periodo ProcNopa }	</label>
	<div class="r-search-option">
		{$searchtype_ProcNopa}
	</div>
	<div class="r-search-field">
		{$ProcNopa_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcNopa_editcontrol1}
	</div>
	
</div>

{END ProcNopa_fieldblock}
											
{BEGIN ObliNopa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ObliNopa}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ObliNopa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="ObliNopa" data-fieldname="ObliNopa" >


	<label class="r-search-label control-label" for="{$labelfor_ObliNopa}">
		{$label Certificado_del_Resumen_por_Periodo ObliNopa }	</label>
	<div class="r-search-option">
		{$searchtype_ObliNopa}
	</div>
	<div class="r-search-field">
		{$ObliNopa_editcontrol}	</div>
	<div class="r-search-field">
		{$ObliNopa_editcontrol1}
	</div>
	
</div>

{END ObliNopa_fieldblock}
											
{BEGIN ProcNove_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcNove}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcNove{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="ProcNove" data-fieldname="ProcNove" >


	<label class="r-search-label control-label" for="{$labelfor_ProcNove}">
		{$label Certificado_del_Resumen_por_Periodo ProcNove }	</label>
	<div class="r-search-option">
		{$searchtype_ProcNove}
	</div>
	<div class="r-search-field">
		{$ProcNove_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcNove_editcontrol1}
	</div>
	
</div>

{END ProcNove_fieldblock}
											
{BEGIN ObliNove_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ObliNove}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ObliNove{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="ObliNove" data-fieldname="ObliNove" >


	<label class="r-search-label control-label" for="{$labelfor_ObliNove}">
		{$label Certificado_del_Resumen_por_Periodo ObliNove }	</label>
	<div class="r-search-option">
		{$searchtype_ObliNove}
	</div>
	<div class="r-search-field">
		{$ObliNove_editcontrol}	</div>
	<div class="r-search-field">
		{$ObliNove_editcontrol1}
	</div>
	
</div>

{END ObliNove_fieldblock}
											
{BEGIN ProcTota_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcTota}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcTota{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="ProcTota" data-fieldname="ProcTota" >


	<label class="r-search-label control-label" for="{$labelfor_ProcTota}">
		{$label Certificado_del_Resumen_por_Periodo ProcTota }	</label>
	<div class="r-search-option">
		{$searchtype_ProcTota}
	</div>
	<div class="r-search-field">
		{$ProcTota_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcTota_editcontrol1}
	</div>
	
</div>

{END ProcTota_fieldblock}
											
{BEGIN ObliTota_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ObliTota}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ObliTota{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="ObliTota" data-fieldname="ObliTota" >


	<label class="r-search-label control-label" for="{$labelfor_ObliTota}">
		{$label Certificado_del_Resumen_por_Periodo ObliTota }	</label>
	<div class="r-search-option">
		{$searchtype_ObliTota}
	</div>
	<div class="r-search-field">
		{$ObliTota_editcontrol}	</div>
	<div class="r-search-field">
		{$ObliTota_editcontrol1}
	</div>
	
</div>

{END ObliTota_fieldblock}
											
{BEGIN INTERESES_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___InteAnte_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_INTERESES_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___InteAnte}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="INTERESES_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___InteAnte{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="INTERESES_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___InteAnte" data-fieldname="INTERESES DE MULTAS - C. SALDO FINAL MES ANTERIOR - InteAnte" >


	<label class="r-search-label control-label" for="{$labelfor_INTERESES_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___InteAnte}">
		{$label Certificado_del_Resumen_por_Periodo INTERESES_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___InteAnte }	</label>
	<div class="r-search-option">
		{$searchtype_INTERESES_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___InteAnte}
	</div>
	<div class="r-search-field">
		{$INTERESES_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___InteAnte_editcontrol}	</div>
	<div class="r-search-field">
		{$INTERESES_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___InteAnte_editcontrol1}
	</div>
	
</div>

{END INTERESES_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___InteAnte_fieldblock}
											
{BEGIN INTERESES_DE_MULTAS____D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS_InteActu_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_INTERESES_DE_MULTAS____D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS_InteActu}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="INTERESES_DE_MULTAS____D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS_InteActu{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="INTERESES_DE_MULTAS____D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS_InteActu" data-fieldname="INTERESES DE MULTAS -  D. PROCESOS RECIBIDOS, NUEVOS INTER. Y COSTAS InteActu" >


	<label class="r-search-label control-label" for="{$labelfor_INTERESES_DE_MULTAS____D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS_InteActu}">
		{$label Certificado_del_Resumen_por_Periodo INTERESES_DE_MULTAS____D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS_InteActu }	</label>
	<div class="r-search-option">
		{$searchtype_INTERESES_DE_MULTAS____D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS_InteActu}
	</div>
	<div class="r-search-field">
		{$INTERESES_DE_MULTAS____D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS_InteActu_editcontrol}	</div>
	<div class="r-search-field">
		{$INTERESES_DE_MULTAS____D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS_InteActu_editcontrol1}
	</div>
	
</div>

{END INTERESES_DE_MULTAS____D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS_InteActu_fieldblock}
											
{BEGIN INTERESES_DE_MULTAS___E__RECAUDO__InteReca_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_INTERESES_DE_MULTAS___E__RECAUDO__InteReca}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="INTERESES_DE_MULTAS___E__RECAUDO__InteReca{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="INTERESES_DE_MULTAS___E__RECAUDO__InteReca" data-fieldname="INTERESES DE MULTAS - E. RECAUDO -InteReca" >


	<label class="r-search-label control-label" for="{$labelfor_INTERESES_DE_MULTAS___E__RECAUDO__InteReca}">
		{$label Certificado_del_Resumen_por_Periodo INTERESES_DE_MULTAS___E__RECAUDO__InteReca }	</label>
	<div class="r-search-option">
		{$searchtype_INTERESES_DE_MULTAS___E__RECAUDO__InteReca}
	</div>
	<div class="r-search-field">
		{$INTERESES_DE_MULTAS___E__RECAUDO__InteReca_editcontrol}	</div>
	<div class="r-search-field">
		{$INTERESES_DE_MULTAS___E__RECAUDO__InteReca_editcontrol1}
	</div>
	
</div>

{END INTERESES_DE_MULTAS___E__RECAUDO__InteReca_fieldblock}
											
{BEGIN INTERESES_DE_MULTAS____F_TRASLADOS___InteTras_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_INTERESES_DE_MULTAS____F_TRASLADOS___InteTras}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="INTERESES_DE_MULTAS____F_TRASLADOS___InteTras{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="INTERESES_DE_MULTAS____F_TRASLADOS___InteTras" data-fieldname="INTERESES DE MULTAS  - F.TRASLADOS - InteTras" >


	<label class="r-search-label control-label" for="{$labelfor_INTERESES_DE_MULTAS____F_TRASLADOS___InteTras}">
		{$label Certificado_del_Resumen_por_Periodo INTERESES_DE_MULTAS____F_TRASLADOS___InteTras }	</label>
	<div class="r-search-option">
		{$searchtype_INTERESES_DE_MULTAS____F_TRASLADOS___InteTras}
	</div>
	<div class="r-search-field">
		{$INTERESES_DE_MULTAS____F_TRASLADOS___InteTras_editcontrol}	</div>
	<div class="r-search-field">
		{$INTERESES_DE_MULTAS____F_TRASLADOS___InteTras_editcontrol1}
	</div>
	
</div>

{END INTERESES_DE_MULTAS____F_TRASLADOS___InteTras_fieldblock}
											
{BEGIN INTERESES_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO___InteNopa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_INTERESES_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO___InteNopa}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="INTERESES_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO___InteNopa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="INTERESES_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO___InteNopa" data-fieldname="INTERESES DE MULTAS - G. PROCESOS TERMINADOS SIN PAGO - InteNopa" >


	<label class="r-search-label control-label" for="{$labelfor_INTERESES_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO___InteNopa}">
		{$label Certificado_del_Resumen_por_Periodo INTERESES_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO___InteNopa }	</label>
	<div class="r-search-option">
		{$searchtype_INTERESES_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO___InteNopa}
	</div>
	<div class="r-search-field">
		{$INTERESES_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO___InteNopa_editcontrol}	</div>
	<div class="r-search-field">
		{$INTERESES_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO___InteNopa_editcontrol1}
	</div>
	
</div>

{END INTERESES_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO___InteNopa_fieldblock}
											
{BEGIN INTERESES_DE_MULTAS___H__NOVEDADES___InteNove_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_INTERESES_DE_MULTAS___H__NOVEDADES___InteNove}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="INTERESES_DE_MULTAS___H__NOVEDADES___InteNove{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="INTERESES_DE_MULTAS___H__NOVEDADES___InteNove" data-fieldname="INTERESES DE MULTAS - H. NOVEDADES - InteNove" >


	<label class="r-search-label control-label" for="{$labelfor_INTERESES_DE_MULTAS___H__NOVEDADES___InteNove}">
		{$label Certificado_del_Resumen_por_Periodo INTERESES_DE_MULTAS___H__NOVEDADES___InteNove }	</label>
	<div class="r-search-option">
		{$searchtype_INTERESES_DE_MULTAS___H__NOVEDADES___InteNove}
	</div>
	<div class="r-search-field">
		{$INTERESES_DE_MULTAS___H__NOVEDADES___InteNove_editcontrol}	</div>
	<div class="r-search-field">
		{$INTERESES_DE_MULTAS___H__NOVEDADES___InteNove_editcontrol1}
	</div>
	
</div>

{END INTERESES_DE_MULTAS___H__NOVEDADES___InteNove_fieldblock}
											
{BEGIN INTERESES_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_INTERESES_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="INTERESES_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="INTERESES_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota" data-fieldname="INTERESES DE MULTAS - I. SALDO FINAL COBRO COACTIVO PERIODO ACTUAL(C+D-E+F-G+H) - InteTota" >


	<label class="r-search-label control-label" for="{$labelfor_INTERESES_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota}">
		{$label Certificado_del_Resumen_por_Periodo INTERESES_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota }	</label>
	<div class="r-search-option">
		{$searchtype_INTERESES_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota}
	</div>
	<div class="r-search-field">
		{$INTERESES_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota_editcontrol}	</div>
	<div class="r-search-field">
		{$INTERESES_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota_editcontrol1}
	</div>
	
</div>

{END INTERESES_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H____InteTota_fieldblock}
											
{BEGIN _COSTAS_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___CostAnte_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass__COSTAS_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___CostAnte}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="_COSTAS_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___CostAnte{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="_COSTAS_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___CostAnte" data-fieldname=" COSTAS DE MULTAS - C. SALDO FINAL MES ANTERIOR - CostAnte" >


	<label class="r-search-label control-label" for="{$labelfor__COSTAS_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___CostAnte}">
		{$label Certificado_del_Resumen_por_Periodo _COSTAS_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___CostAnte }	</label>
	<div class="r-search-option">
		{$searchtype__COSTAS_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___CostAnte}
	</div>
	<div class="r-search-field">
		{$_COSTAS_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___CostAnte_editcontrol}	</div>
	<div class="r-search-field">
		{$_COSTAS_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___CostAnte_editcontrol1}
	</div>
	
</div>

{END _COSTAS_DE_MULTAS___C__SALDO_FINAL_MES_ANTERIOR___CostAnte_fieldblock}
											
{BEGIN _COSTAS_DE_MULTAS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___CostActu_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass__COSTAS_DE_MULTAS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___CostActu}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="_COSTAS_DE_MULTAS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___CostActu{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="_COSTAS_DE_MULTAS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___CostActu" data-fieldname=" COSTAS DE MULTAS - D. PROCESOS RECIBIDOS, NUEVOS INTER. Y COSTAS - CostActu" >


	<label class="r-search-label control-label" for="{$labelfor__COSTAS_DE_MULTAS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___CostActu}">
		{$label Certificado_del_Resumen_por_Periodo _COSTAS_DE_MULTAS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___CostActu }	</label>
	<div class="r-search-option">
		{$searchtype__COSTAS_DE_MULTAS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___CostActu}
	</div>
	<div class="r-search-field">
		{$_COSTAS_DE_MULTAS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___CostActu_editcontrol}	</div>
	<div class="r-search-field">
		{$_COSTAS_DE_MULTAS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___CostActu_editcontrol1}
	</div>
	
</div>

{END _COSTAS_DE_MULTAS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___CostActu_fieldblock}
											
{BEGIN COSTAS_DE_MULTAS___E__RECAUDO___CostReca_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_COSTAS_DE_MULTAS___E__RECAUDO___CostReca}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="COSTAS_DE_MULTAS___E__RECAUDO___CostReca{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="COSTAS_DE_MULTAS___E__RECAUDO___CostReca" data-fieldname="COSTAS DE MULTAS - E. RECAUDO - CostReca" >


	<label class="r-search-label control-label" for="{$labelfor_COSTAS_DE_MULTAS___E__RECAUDO___CostReca}">
		{$label Certificado_del_Resumen_por_Periodo COSTAS_DE_MULTAS___E__RECAUDO___CostReca }	</label>
	<div class="r-search-option">
		{$searchtype_COSTAS_DE_MULTAS___E__RECAUDO___CostReca}
	</div>
	<div class="r-search-field">
		{$COSTAS_DE_MULTAS___E__RECAUDO___CostReca_editcontrol}	</div>
	<div class="r-search-field">
		{$COSTAS_DE_MULTAS___E__RECAUDO___CostReca_editcontrol1}
	</div>
	
</div>

{END COSTAS_DE_MULTAS___E__RECAUDO___CostReca_fieldblock}
											
{BEGIN COSTAS_DE_MULTAS___F_TRASLADOS___CostTras_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_COSTAS_DE_MULTAS___F_TRASLADOS___CostTras}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="COSTAS_DE_MULTAS___F_TRASLADOS___CostTras{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="COSTAS_DE_MULTAS___F_TRASLADOS___CostTras" data-fieldname="COSTAS DE MULTAS - F.TRASLADOS - CostTras" >


	<label class="r-search-label control-label" for="{$labelfor_COSTAS_DE_MULTAS___F_TRASLADOS___CostTras}">
		{$label Certificado_del_Resumen_por_Periodo COSTAS_DE_MULTAS___F_TRASLADOS___CostTras }	</label>
	<div class="r-search-option">
		{$searchtype_COSTAS_DE_MULTAS___F_TRASLADOS___CostTras}
	</div>
	<div class="r-search-field">
		{$COSTAS_DE_MULTAS___F_TRASLADOS___CostTras_editcontrol}	</div>
	<div class="r-search-field">
		{$COSTAS_DE_MULTAS___F_TRASLADOS___CostTras_editcontrol1}
	</div>
	
</div>

{END COSTAS_DE_MULTAS___F_TRASLADOS___CostTras_fieldblock}
											
{BEGIN COSTAS_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO__CostNopa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_COSTAS_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO__CostNopa}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="COSTAS_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO__CostNopa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="COSTAS_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO__CostNopa" data-fieldname="COSTAS DE MULTAS - G. PROCESOS TERMINADOS SIN PAGO -CostNopa" >


	<label class="r-search-label control-label" for="{$labelfor_COSTAS_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO__CostNopa}">
		{$label Certificado_del_Resumen_por_Periodo COSTAS_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO__CostNopa }	</label>
	<div class="r-search-option">
		{$searchtype_COSTAS_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO__CostNopa}
	</div>
	<div class="r-search-field">
		{$COSTAS_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO__CostNopa_editcontrol}	</div>
	<div class="r-search-field">
		{$COSTAS_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO__CostNopa_editcontrol1}
	</div>
	
</div>

{END COSTAS_DE_MULTAS___G__PROCESOS_TERMINADOS_SIN_PAGO__CostNopa_fieldblock}
											
{BEGIN COSTAS_DE_MULTAS___H__NOVEDADES___CostNove_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_COSTAS_DE_MULTAS___H__NOVEDADES___CostNove}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="COSTAS_DE_MULTAS___H__NOVEDADES___CostNove{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="COSTAS_DE_MULTAS___H__NOVEDADES___CostNove" data-fieldname="COSTAS DE MULTAS - H. NOVEDADES - CostNove" >


	<label class="r-search-label control-label" for="{$labelfor_COSTAS_DE_MULTAS___H__NOVEDADES___CostNove}">
		{$label Certificado_del_Resumen_por_Periodo COSTAS_DE_MULTAS___H__NOVEDADES___CostNove }	</label>
	<div class="r-search-option">
		{$searchtype_COSTAS_DE_MULTAS___H__NOVEDADES___CostNove}
	</div>
	<div class="r-search-field">
		{$COSTAS_DE_MULTAS___H__NOVEDADES___CostNove_editcontrol}	</div>
	<div class="r-search-field">
		{$COSTAS_DE_MULTAS___H__NOVEDADES___CostNove_editcontrol1}
	</div>
	
</div>

{END COSTAS_DE_MULTAS___H__NOVEDADES___CostNove_fieldblock}
											
{BEGIN COSTAS_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___CostTota_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_COSTAS_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___CostTota}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="COSTAS_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___CostTota{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="COSTAS_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___CostTota" data-fieldname="COSTAS DE MULTAS - I. SALDO FINAL COBRO COACTIVO PERIODO ACTUAL(C+D-E+F-G+H - CostTota" >


	<label class="r-search-label control-label" for="{$labelfor_COSTAS_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___CostTota}">
		{$label Certificado_del_Resumen_por_Periodo COSTAS_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___CostTota }	</label>
	<div class="r-search-option">
		{$searchtype_COSTAS_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___CostTota}
	</div>
	<div class="r-search-field">
		{$COSTAS_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___CostTota_editcontrol}	</div>
	<div class="r-search-field">
		{$COSTAS_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___CostTota_editcontrol1}
	</div>
	
</div>

{END COSTAS_DE_MULTAS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___CostTota_fieldblock}
											
{BEGIN _DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___C__SALDO_FINAL_MES_ANTERIOR___DeteAnte_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass__DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___C__SALDO_FINAL_MES_ANTERIOR___DeteAnte}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="_DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___C__SALDO_FINAL_MES_ANTERIOR___DeteAnte{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="_DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___C__SALDO_FINAL_MES_ANTERIOR___DeteAnte" data-fieldname=" DETERIORO DE CARTERA INGRESOS NO TRIBUTARIOS - C. SALDO FINAL MES ANTERIOR - DeteAnte" >


	<label class="r-search-label control-label" for="{$labelfor__DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___C__SALDO_FINAL_MES_ANTERIOR___DeteAnte}">
		{$label Certificado_del_Resumen_por_Periodo _DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___C__SALDO_FINAL_MES_ANTERIOR___DeteAnte }	</label>
	<div class="r-search-option">
		{$searchtype__DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___C__SALDO_FINAL_MES_ANTERIOR___DeteAnte}
	</div>
	<div class="r-search-field">
		{$_DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___C__SALDO_FINAL_MES_ANTERIOR___DeteAnte_editcontrol}	</div>
	<div class="r-search-field">
		{$_DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___C__SALDO_FINAL_MES_ANTERIOR___DeteAnte_editcontrol1}
	</div>
	
</div>

{END _DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___C__SALDO_FINAL_MES_ANTERIOR___DeteAnte_fieldblock}
											
{BEGIN DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___DeteActu_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___DeteActu}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___DeteActu{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___DeteActu" data-fieldname="DETERIORO DE CARTERA INGRESOS NO TRIBUTARIOS - D. PROCESOS RECIBIDOS, NUEVOS INTER. Y COSTAS - DeteActu" >


	<label class="r-search-label control-label" for="{$labelfor_DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___DeteActu}">
		{$label Certificado_del_Resumen_por_Periodo DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___DeteActu }	</label>
	<div class="r-search-option">
		{$searchtype_DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___DeteActu}
	</div>
	<div class="r-search-field">
		{$DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___DeteActu_editcontrol}	</div>
	<div class="r-search-field">
		{$DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___DeteActu_editcontrol1}
	</div>
	
</div>

{END DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___D__PROCESOS_RECIBIDOS__NUEVOS_INTER__Y_COSTAS___DeteActu_fieldblock}
											
{BEGIN DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___DeteTota_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___DeteTota}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___DeteTota{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___DeteTota" data-fieldname="DETERIORO DE CARTERA INGRESOS NO TRIBUTARIOS - I. SALDO FINAL COBRO COACTIVO PERIODO ACTUAL(C+D-E+F-G+H) -DeteTota" >


	<label class="r-search-label control-label" for="{$labelfor_DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___DeteTota}">
		{$label Certificado_del_Resumen_por_Periodo DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___DeteTota }	</label>
	<div class="r-search-option">
		{$searchtype_DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___DeteTota}
	</div>
	<div class="r-search-field">
		{$DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___DeteTota_editcontrol}	</div>
	<div class="r-search-field">
		{$DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___DeteTota_editcontrol1}
	</div>
	
</div>

{END DETERIORO_DE_CARTERA_INGRESOS_NO_TRIBUTARIOS___I__SALDO_FINAL_COBRO_COACTIVO_PERIODO_ACTUAL_C_D_E_F_G_H___DeteTota_fieldblock}
											
{BEGIN Director_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Director}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Director{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="Director" data-fieldname="Director" >


	<label class="r-search-label control-label" for="{$labelfor_Director}">
		{$label Certificado_del_Resumen_por_Periodo Director }	</label>
	<div class="r-search-option">
		{$searchtype_Director}
	</div>
	<div class="r-search-field">
		{$Director_editcontrol}	</div>
	<div class="r-search-field">
		{$Director_editcontrol1}
	</div>
	
</div>

{END Director_fieldblock}
											
{BEGIN DirectorCargo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DirectorCargo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DirectorCargo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="DirectorCargo" data-fieldname="DirectorCargo" >


	<label class="r-search-label control-label" for="{$labelfor_DirectorCargo}">
		{$label Certificado_del_Resumen_por_Periodo DirectorCargo }	</label>
	<div class="r-search-option">
		{$searchtype_DirectorCargo}
	</div>
	<div class="r-search-field">
		{$DirectorCargo_editcontrol}	</div>
	<div class="r-search-field">
		{$DirectorCargo_editcontrol1}
	</div>
	
</div>

{END DirectorCargo_fieldblock}
											
{BEGIN Abogado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Abogado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Abogado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="Abogado" data-fieldname="Abogado" >


	<label class="r-search-label control-label" for="{$labelfor_Abogado}">
		{$label Certificado_del_Resumen_por_Periodo Abogado }	</label>
	<div class="r-search-option">
		{$searchtype_Abogado}
	</div>
	<div class="r-search-field">
		{$Abogado_editcontrol}	</div>
	<div class="r-search-field">
		{$Abogado_editcontrol1}
	</div>
	
</div>

{END Abogado_fieldblock}
											
{BEGIN AbogadoCargo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_AbogadoCargo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="AbogadoCargo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="AbogadoCargo" data-fieldname="AbogadoCargo" >


	<label class="r-search-label control-label" for="{$labelfor_AbogadoCargo}">
		{$label Certificado_del_Resumen_por_Periodo AbogadoCargo }	</label>
	<div class="r-search-option">
		{$searchtype_AbogadoCargo}
	</div>
	<div class="r-search-field">
		{$AbogadoCargo_editcontrol}	</div>
	<div class="r-search-field">
		{$AbogadoCargo_editcontrol1}
	</div>
	
</div>

{END AbogadoCargo_fieldblock}
											
{BEGIN Contador_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Contador}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Contador{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="Contador" data-fieldname="Contador" >


	<label class="r-search-label control-label" for="{$labelfor_Contador}">
		{$label Certificado_del_Resumen_por_Periodo Contador }	</label>
	<div class="r-search-option">
		{$searchtype_Contador}
	</div>
	<div class="r-search-field">
		{$Contador_editcontrol}	</div>
	<div class="r-search-field">
		{$Contador_editcontrol1}
	</div>
	
</div>

{END Contador_fieldblock}
											
{BEGIN ContadorCargo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ContadorCargo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ContadorCargo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="ContadorCargo" data-fieldname="ContadorCargo" >


	<label class="r-search-label control-label" for="{$labelfor_ContadorCargo}">
		{$label Certificado_del_Resumen_por_Periodo ContadorCargo }	</label>
	<div class="r-search-option">
		{$searchtype_ContadorCargo}
	</div>
	<div class="r-search-field">
		{$ContadorCargo_editcontrol}	</div>
	<div class="r-search-field">
		{$ContadorCargo_editcontrol1}
	</div>
	
</div>

{END ContadorCargo_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
