<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_ChequeosSancionados add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editar</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ChequeoId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ChequeoId}  r-vertical-field" 
	data-signal-error-for="ChequeoId{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="ChequeoId" data-fieldname="ChequeoId" >

	<label class="r-edit-label control-label" for="{$labelfor_ChequeoId}">
		{BEGIN ChequeoId_label}{$label dbo_ChequeosSancionados ChequeoId }{END ChequeoId_label}
	</label>
	<div class="r-edit-field">
		{$ChequeoId_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ChequeoId" {$tooltipAttr dbo_ChequeosSancionados ChequeoId } >
		<div class="text-muted" >
		{$tooltip dbo_ChequeosSancionados ChequeoId }		</div>
	</div>
</div>


{END ChequeoId_fieldblock}
											
{BEGIN Sancionado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Sancionado}  r-vertical-field" 
	data-signal-error-for="Sancionado{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Sancionado" data-fieldname="Sancionado" >

	<label class="r-edit-label control-label" for="{$labelfor_Sancionado}">
		{BEGIN Sancionado_label}{$label dbo_ChequeosSancionados Sancionado }{END Sancionado_label}
	</label>
	<div class="r-edit-field">
		{$Sancionado_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Sancionado" {$tooltipAttr dbo_ChequeosSancionados Sancionado } >
		<div class="text-muted" >
		{$tooltip dbo_ChequeosSancionados Sancionado }		</div>
	</div>
</div>


{END Sancionado_fieldblock}
											
{BEGIN TipoDocumentoId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_TipoDocumentoId}  r-vertical-field" 
	data-signal-error-for="TipoDocumentoId{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="TipoDocumentoId" data-fieldname="TipoDocumentoId" >

	<label class="r-edit-label control-label" for="{$labelfor_TipoDocumentoId}">
		{BEGIN TipoDocumentoId_label}{$label dbo_ChequeosSancionados TipoDocumentoId }{END TipoDocumentoId_label}
	</label>
	<div class="r-edit-field">
		{$TipoDocumentoId_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="TipoDocumentoId" {$tooltipAttr dbo_ChequeosSancionados TipoDocumentoId } >
		<div class="text-muted" >
		{$tooltip dbo_ChequeosSancionados TipoDocumentoId }		</div>
	</div>
</div>


{END TipoDocumentoId_fieldblock}
											
{BEGIN Documento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Documento}  r-vertical-field" 
	data-signal-error-for="Documento{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Documento" data-fieldname="Documento" >

	<label class="r-edit-label control-label" for="{$labelfor_Documento}">
		{BEGIN Documento_label}{$label dbo_ChequeosSancionados Documento }{END Documento_label}
	</label>
	<div class="r-edit-field">
		{$Documento_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Documento" {$tooltipAttr dbo_ChequeosSancionados Documento } >
		<div class="text-muted" >
		{$tooltip dbo_ChequeosSancionados Documento }		</div>
	</div>
</div>


{END Documento_fieldblock}
											
{BEGIN Direccion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Direccion}  r-vertical-field" 
	data-signal-error-for="Direccion{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Direccion" data-fieldname="Direccion" >

	<label class="r-edit-label control-label" for="{$labelfor_Direccion}">
		{BEGIN Direccion_label}{$label dbo_ChequeosSancionados Direccion }{END Direccion_label}
	</label>
	<div class="r-edit-field">
		{$Direccion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Direccion" {$tooltipAttr dbo_ChequeosSancionados Direccion } >
		<div class="text-muted" >
		{$tooltip dbo_ChequeosSancionados Direccion }		</div>
	</div>
</div>


{END Direccion_fieldblock}
											
{BEGIN Telefono_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Telefono}  r-vertical-field" 
	data-signal-error-for="Telefono{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Telefono" data-fieldname="Telefono" >

	<label class="r-edit-label control-label" for="{$labelfor_Telefono}">
		{BEGIN Telefono_label}{$label dbo_ChequeosSancionados Telefono }{END Telefono_label}
	</label>
	<div class="r-edit-field">
		{$Telefono_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Telefono" {$tooltipAttr dbo_ChequeosSancionados Telefono } >
		<div class="text-muted" >
		{$tooltip dbo_ChequeosSancionados Telefono }		</div>
	</div>
</div>


{END Telefono_fieldblock}
											
{BEGIN CiudadId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CiudadId}  r-vertical-field" 
	data-signal-error-for="CiudadId{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="CiudadId" data-fieldname="CiudadId" >

	<label class="r-edit-label control-label" for="{$labelfor_CiudadId}">
		{BEGIN CiudadId_label}{$label dbo_ChequeosSancionados CiudadId }{END CiudadId_label}
	</label>
	<div class="r-edit-field">
		{$CiudadId_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="CiudadId" {$tooltipAttr dbo_ChequeosSancionados CiudadId } >
		<div class="text-muted" >
		{$tooltip dbo_ChequeosSancionados CiudadId }		</div>
	</div>
</div>


{END CiudadId_fieldblock}
											
{BEGIN CarcelId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CarcelId}  r-vertical-field" 
	data-signal-error-for="CarcelId{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="CarcelId" data-fieldname="CarcelId" >

	<label class="r-edit-label control-label" for="{$labelfor_CarcelId}">
		{BEGIN CarcelId_label}{$label dbo_ChequeosSancionados CarcelId }{END CarcelId_label}
	</label>
	<div class="r-edit-field">
		{$CarcelId_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="CarcelId" {$tooltipAttr dbo_ChequeosSancionados CarcelId } >
		<div class="text-muted" >
		{$tooltip dbo_ChequeosSancionados CarcelId }		</div>
	</div>
</div>


{END CarcelId_fieldblock}
											
{BEGIN Email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Email}  r-vertical-field" 
	data-signal-error-for="Email{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="Email" data-fieldname="Email" >

	<label class="r-edit-label control-label" for="{$labelfor_Email}">
		{BEGIN Email_label}{$label dbo_ChequeosSancionados Email }{END Email_label}
	</label>
	<div class="r-edit-field">
		{$Email_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Email" {$tooltipAttr dbo_ChequeosSancionados Email } >
		<div class="text-muted" >
		{$tooltip dbo_ChequeosSancionados Email }		</div>
	</div>
</div>


{END Email_fieldblock}
											
{BEGIN Masculino_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Masculino}  r-vertical-field" 
	data-signal-error-for="Masculino{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="Masculino" data-fieldname="Masculino" >

	<label class="r-edit-label control-label" for="{$labelfor_Masculino}">
		{BEGIN Masculino_label}{$label dbo_ChequeosSancionados Masculino }{END Masculino_label}
	</label>
	<div class="r-edit-field">
		{$Masculino_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Masculino" {$tooltipAttr dbo_ChequeosSancionados Masculino } >
		<div class="text-muted" >
		{$tooltip dbo_ChequeosSancionados Masculino }		</div>
	</div>
</div>


{END Masculino_fieldblock}
											
{BEGIN Observaciones_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Observaciones}  r-vertical-field" 
	data-signal-error-for="Observaciones{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="Observaciones" data-fieldname="Observaciones" >

	<label class="r-edit-label control-label" for="{$labelfor_Observaciones}">
		{BEGIN Observaciones_label}{$label dbo_ChequeosSancionados Observaciones }{END Observaciones_label}
	</label>
	<div class="r-edit-field">
		{$Observaciones_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Observaciones" {$tooltipAttr dbo_ChequeosSancionados Observaciones } >
		<div class="text-muted" >
		{$tooltip dbo_ChequeosSancionados Observaciones }		</div>
	</div>
</div>


{END Observaciones_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
