<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_despachosSigob search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label dbo_despachosSigob id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN fecha_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="fecha" data-fieldname="fecha" >


	<label class="r-search-label control-label" for="{$labelfor_fecha}">
		{$label dbo_despachosSigob fecha }	</label>
	<div class="r-search-option">
		{$searchtype_fecha}
	</div>
	<div class="r-search-field">
		{$fecha_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_editcontrol1}
	</div>
	
</div>

{END fecha_fieldblock}
											
{BEGIN codigo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_codigo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="codigo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="codigo" data-fieldname="codigo" >


	<label class="r-search-label control-label" for="{$labelfor_codigo}">
		{$label dbo_despachosSigob codigo }	</label>
	<div class="r-search-option">
		{$searchtype_codigo}
	</div>
	<div class="r-search-field">
		{$codigo_editcontrol}	</div>
	<div class="r-search-field">
		{$codigo_editcontrol1}
	</div>
	
</div>

{END codigo_fieldblock}
											
{BEGIN nombreCompleto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nombreCompleto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nombreCompleto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="nombreCompleto" data-fieldname="nombreCompleto" >


	<label class="r-search-label control-label" for="{$labelfor_nombreCompleto}">
		{$label dbo_despachosSigob nombreCompleto }	</label>
	<div class="r-search-option">
		{$searchtype_nombreCompleto}
	</div>
	<div class="r-search-field">
		{$nombreCompleto_editcontrol}	</div>
	<div class="r-search-field">
		{$nombreCompleto_editcontrol1}
	</div>
	
</div>

{END nombreCompleto_fieldblock}
											
{BEGIN documento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_documento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="documento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="documento" data-fieldname="documento" >


	<label class="r-search-label control-label" for="{$labelfor_documento}">
		{$label dbo_despachosSigob documento }	</label>
	<div class="r-search-option">
		{$searchtype_documento}
	</div>
	<div class="r-search-field">
		{$documento_editcontrol}	</div>
	<div class="r-search-field">
		{$documento_editcontrol1}
	</div>
	
</div>

{END documento_fieldblock}
											
{BEGIN cargo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cargo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cargo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="cargo" data-fieldname="cargo" >


	<label class="r-search-label control-label" for="{$labelfor_cargo}">
		{$label dbo_despachosSigob cargo }	</label>
	<div class="r-search-option">
		{$searchtype_cargo}
	</div>
	<div class="r-search-field">
		{$cargo_editcontrol}	</div>
	<div class="r-search-field">
		{$cargo_editcontrol1}
	</div>
	
</div>

{END cargo_fieldblock}
											
{BEGIN area_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_area}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="area{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="area" data-fieldname="area" >


	<label class="r-search-label control-label" for="{$labelfor_area}">
		{$label dbo_despachosSigob area }	</label>
	<div class="r-search-option">
		{$searchtype_area}
	</div>
	<div class="r-search-field">
		{$area_editcontrol}	</div>
	<div class="r-search-field">
		{$area_editcontrol1}
	</div>
	
</div>

{END area_fieldblock}
											
{BEGIN institucion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_institucion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="institucion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="institucion" data-fieldname="institucion" >


	<label class="r-search-label control-label" for="{$labelfor_institucion}">
		{$label dbo_despachosSigob institucion }	</label>
	<div class="r-search-option">
		{$searchtype_institucion}
	</div>
	<div class="r-search-field">
		{$institucion_editcontrol}	</div>
	<div class="r-search-field">
		{$institucion_editcontrol1}
	</div>
	
</div>

{END institucion_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
