<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_Direcciones search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN DireccionId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DireccionId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DireccionId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="DireccionId" data-fieldname="DireccionId" >


	<label class="r-search-label control-label" for="{$labelfor_DireccionId}">
		{$label dbo_Direcciones DireccionId }	</label>
	<div class="r-search-option">
		{$searchtype_DireccionId}
	</div>
	<div class="r-search-field">
		{$DireccionId_editcontrol}	</div>
	<div class="r-search-field">
		{$DireccionId_editcontrol1}
	</div>
	
</div>

{END DireccionId_fieldblock}
											
{BEGIN SancionadoId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SancionadoId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="SancionadoId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="SancionadoId" data-fieldname="SancionadoId" >


	<label class="r-search-label control-label" for="{$labelfor_SancionadoId}">
		{$label dbo_Direcciones SancionadoId }	</label>
	<div class="r-search-option">
		{$searchtype_SancionadoId}
	</div>
	<div class="r-search-field">
		{$SancionadoId_editcontrol}	</div>
	<div class="r-search-field">
		{$SancionadoId_editcontrol1}
	</div>
	
</div>

{END SancionadoId_fieldblock}
											
{BEGIN CarcelId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CarcelId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CarcelId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="CarcelId" data-fieldname="CarcelId" >


	<label class="r-search-label control-label" for="{$labelfor_CarcelId}">
		{$label dbo_Direcciones CarcelId }	</label>
	<div class="r-search-option">
		{$searchtype_CarcelId}
	</div>
	<div class="r-search-field">
		{$CarcelId_editcontrol}	</div>
	<div class="r-search-field">
		{$CarcelId_editcontrol1}
	</div>
	
</div>

{END CarcelId_fieldblock}
											
{BEGIN CiudadId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CiudadId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CiudadId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="CiudadId" data-fieldname="CiudadId" >


	<label class="r-search-label control-label" for="{$labelfor_CiudadId}">
		{$label dbo_Direcciones CiudadId }	</label>
	<div class="r-search-option">
		{$searchtype_CiudadId}
	</div>
	<div class="r-search-field">
		{$CiudadId_editcontrol}	</div>
	<div class="r-search-field">
		{$CiudadId_editcontrol1}
	</div>
	
</div>

{END CiudadId_fieldblock}
											
{BEGIN Direccion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Direccion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Direccion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="Direccion" data-fieldname="Direccion" >


	<label class="r-search-label control-label" for="{$labelfor_Direccion}">
		{$label dbo_Direcciones Direccion }	</label>
	<div class="r-search-option">
		{$searchtype_Direccion}
	</div>
	<div class="r-search-field">
		{$Direccion_editcontrol}	</div>
	<div class="r-search-field">
		{$Direccion_editcontrol1}
	</div>
	
</div>

{END Direccion_fieldblock}
											
{BEGIN Barrio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Barrio}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Barrio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Barrio" data-fieldname="Barrio" >


	<label class="r-search-label control-label" for="{$labelfor_Barrio}">
		{$label dbo_Direcciones Barrio }	</label>
	<div class="r-search-option">
		{$searchtype_Barrio}
	</div>
	<div class="r-search-field">
		{$Barrio_editcontrol}	</div>
	<div class="r-search-field">
		{$Barrio_editcontrol1}
	</div>
	
</div>

{END Barrio_fieldblock}
											
{BEGIN Telefonos_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Telefonos}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Telefonos{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="Telefonos" data-fieldname="Telefonos" >


	<label class="r-search-label control-label" for="{$labelfor_Telefonos}">
		{$label dbo_Direcciones Telefonos }	</label>
	<div class="r-search-option">
		{$searchtype_Telefonos}
	</div>
	<div class="r-search-field">
		{$Telefonos_editcontrol}	</div>
	<div class="r-search-field">
		{$Telefonos_editcontrol1}
	</div>
	
</div>

{END Telefonos_fieldblock}
											
{BEGIN Activa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Activa}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Activa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="Activa" data-fieldname="Activa" >


	<label class="r-search-label control-label" for="{$labelfor_Activa}">
		{$label dbo_Direcciones Activa }	</label>
	<div class="r-search-option">
		{$searchtype_Activa}
	</div>
	<div class="r-search-field">
		{$Activa_editcontrol}	</div>
	<div class="r-search-field">
		{$Activa_editcontrol1}
	</div>
	
</div>

{END Activa_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
