<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_Empresas view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN EmpresaId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_EmpresaId}  r-vertical-field" data-fieldname="EmpresaId" data-signal-error-for="EmpresaId{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="EmpresaId" data-fieldname="EmpresaId" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_EmpresaId}">
		
		{BEGIN EmpresaId_label}{$label dbo_Empresas EmpresaId }{END EmpresaId_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$EmpresaId_value}	</div>

		
</div>


{END EmpresaId_fieldblock}
											
{BEGIN Empresa_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Empresa}  r-vertical-field" data-fieldname="Empresa" data-signal-error-for="Empresa{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Empresa" data-fieldname="Empresa" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Empresa}">
		
		{BEGIN Empresa_label}{$label dbo_Empresas Empresa }{END Empresa_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Empresa_value}	</div>

		
</div>


{END Empresa_fieldblock}
											
{BEGIN Cierre_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Cierre}  r-vertical-field" data-fieldname="Cierre" data-signal-error-for="Cierre{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Cierre" data-fieldname="Cierre" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Cierre}">
		
		{BEGIN Cierre_label}{$label dbo_Empresas Cierre }{END Cierre_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Cierre_value}	</div>

		
</div>


{END Cierre_fieldblock}
											
{BEGIN ValorMaximo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ValorMaximo}  r-vertical-field" data-fieldname="ValorMaximo" data-signal-error-for="ValorMaximo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="ValorMaximo" data-fieldname="ValorMaximo" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ValorMaximo}">
		
		{BEGIN ValorMaximo_label}{$label dbo_Empresas ValorMaximo }{END ValorMaximo_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ValorMaximo_value}	</div>

		
</div>


{END ValorMaximo_fieldblock}
											
{BEGIN MaximoPesos_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_MaximoPesos}  r-vertical-field" data-fieldname="MaximoPesos" data-signal-error-for="MaximoPesos{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="MaximoPesos" data-fieldname="MaximoPesos" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_MaximoPesos}">
		
		{BEGIN MaximoPesos_label}{$label dbo_Empresas MaximoPesos }{END MaximoPesos_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$MaximoPesos_value}	</div>

		
</div>


{END MaximoPesos_fieldblock}
											
{BEGIN MaximoSalarios_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_MaximoSalarios}  r-vertical-field" data-fieldname="MaximoSalarios" data-signal-error-for="MaximoSalarios{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="MaximoSalarios" data-fieldname="MaximoSalarios" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_MaximoSalarios}">
		
		{BEGIN MaximoSalarios_label}{$label dbo_Empresas MaximoSalarios }{END MaximoSalarios_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$MaximoSalarios_value}	</div>

		
</div>


{END MaximoSalarios_fieldblock}
											
{BEGIN MaximoUvt_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_MaximoUvt}  r-vertical-field" data-fieldname="MaximoUvt" data-signal-error-for="MaximoUvt{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="MaximoUvt" data-fieldname="MaximoUvt" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_MaximoUvt}">
		
		{BEGIN MaximoUvt_label}{$label dbo_Empresas MaximoUvt }{END MaximoUvt_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$MaximoUvt_value}	</div>

		
</div>


{END MaximoUvt_fieldblock}
											
{BEGIN EmailAprobador_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_EmailAprobador}  r-vertical-field" data-fieldname="EmailAprobador" data-signal-error-for="EmailAprobador{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="EmailAprobador" data-fieldname="EmailAprobador" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_EmailAprobador}">
		
		{BEGIN EmailAprobador_label}{$label dbo_Empresas EmailAprobador }{END EmailAprobador_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$EmailAprobador_value}	</div>

		
</div>


{END EmailAprobador_fieldblock}
											
{BEGIN Tope_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Tope}  r-vertical-field" data-fieldname="Tope" data-signal-error-for="Tope{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="Tope" data-fieldname="Tope" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Tope}">
		
		{BEGIN Tope_label}{$label dbo_Empresas Tope }{END Tope_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Tope_value}	</div>

		
</div>


{END Tope_fieldblock}
											
{BEGIN DiasPersuasivo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DiasPersuasivo}  r-vertical-field" data-fieldname="DiasPersuasivo" data-signal-error-for="DiasPersuasivo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="DiasPersuasivo" data-fieldname="DiasPersuasivo" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_DiasPersuasivo}">
		
		{BEGIN DiasPersuasivo_label}{$label dbo_Empresas DiasPersuasivo }{END DiasPersuasivo_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$DiasPersuasivo_value}	</div>

		
</div>


{END DiasPersuasivo_fieldblock}
											
{BEGIN CarteraEspecialUvt_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CarteraEspecialUvt}  r-vertical-field" data-fieldname="CarteraEspecialUvt" data-signal-error-for="CarteraEspecialUvt{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="CarteraEspecialUvt" data-fieldname="CarteraEspecialUvt" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_CarteraEspecialUvt}">
		
		{BEGIN CarteraEspecialUvt_label}{$label dbo_Empresas CarteraEspecialUvt }{END CarteraEspecialUvt_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$CarteraEspecialUvt_value}	</div>

		
</div>


{END CarteraEspecialUvt_fieldblock}
											
{BEGIN TasaDTN_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_TasaDTN}  r-vertical-field" data-fieldname="TasaDTN" data-signal-error-for="TasaDTN{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="TasaDTN" data-fieldname="TasaDTN" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_TasaDTN}">
		
		{BEGIN TasaDTN_label}{$label dbo_Empresas TasaDTN }{END TasaDTN_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$TasaDTN_value}	</div>

		
</div>


{END TasaDTN_fieldblock}
											
{BEGIN TasaCivil_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_TasaCivil}  r-vertical-field" data-fieldname="TasaCivil" data-signal-error-for="TasaCivil{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="TasaCivil" data-fieldname="TasaCivil" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_TasaCivil}">
		
		{BEGIN TasaCivil_label}{$label dbo_Empresas TasaCivil }{END TasaCivil_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$TasaCivil_value}	</div>

		
</div>


{END TasaCivil_fieldblock}
											
{BEGIN InteresesPlazo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_InteresesPlazo}  r-vertical-field" data-fieldname="InteresesPlazo" data-signal-error-for="InteresesPlazo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="InteresesPlazo" data-fieldname="InteresesPlazo" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_InteresesPlazo}">
		
		{BEGIN InteresesPlazo_label}{$label dbo_Empresas InteresesPlazo }{END InteresesPlazo_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$InteresesPlazo_value}	</div>

		
</div>


{END InteresesPlazo_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="empresas_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
