




<table>

      <div align="left">
        <font size="2" face="Arial, Helvetica, sans-serif"><strong>Dirección:</strong></font>
        <input name="direccion" id="direccion" type="text" class="campo1B" value="" size="50" readonly = "readonly"
          style="display: block; max-width: 800px; width: 65%; height: 38px; padding: 8px 12px; font-size: 14px;
                 line-height: 1.42857143; color: #555555; background-color: #fff; border: 1px solid #ccc; 
                 border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
                 transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;" oninput="traducirDireccion()">
          
  
                 <div id="sugerencias" style="position: absolute; background: white; border: 1px solid #ccc; display: none;"></div>
      </div>
      
  
</table>

<p>
  
<ul>
    <li>
<label for="select"><strong>Nomenclaturas frecuentes</strong></label>

<select name="select1" id="select1" 
    onchange="if(document.getElementById('complementoActivo').value=='0') {
        concatenaString(document.getElementById('puente').value,this.value,'puente');
        if(this.options[this.selectedIndex].text !== 'OTRA NOMENCLATURA') {
            concatenaString(document.getElementById('direccion').value, this.options[this.selectedIndex].text,'direccion');
        }
        verificaComplemento(this.options[this.selectedIndex].text);
        this.selectedIndex = 0;
    } else {
        enComplemento();
        this.selectedIndex = 0;
    }"  style="display: block; max-width: 600px; width: 50%; height: 38px; padding: 8px 12px; font-size: 14px;
                 line-height: 1.42857143; color: #555555; background-color: #fff; border: 1px solid #ccc; 
                 border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
                 transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;">
    <option value="">Seleccione...</option>
    <option value="AP">APARTAMENTO</option>
    <option value="AV">AVENIDA</option>
    <option value="AUT">AUTOPISTA</option>
    <option value="BRR">BARRIO</option>
    <option value="CL">CALLE</option>
    <option value="CR">CARRERA</option>
    <option value="DG">DIAGONAL</option>
    <option value="ED">EDIFICIO</option>
    <option value="NORTE">NORTE</option>
    <option value="SUR">SUR</option>
    <option value="TV">TRANSVERSAL</option>

</select>
</li>

<p>

      
    <li>
      <label for="numeroSeleccionado">
        <strong>Letra</strong>
      </label>
    <select id="letras" style="display: block; max-width: 600px; width: 50%; height: 38px; padding: 8px 12px; font-size: 14px;
                 line-height: 1.42857143; color: #555555; background-color: #fff; border: 1px solid #ccc; 
                 border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
                 transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;">
        <option value="">Seleccione...</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option>
        <option value="F">F</option>
        <option value="G">G</option>
        <option value="H">H</option>
        <option value="I">I</option>
        <option value="J">J</option>
        <option value="K">K</option>
        <option value="L">L</option>
        <option value="M">M</option>
        <option value="N">N</option>
        <option value="O">O</option>
        <option value="P">P</option>
        <option value="Q">Q</option>
        <option value="R">R</option>
        <option value="S">S</option>
        <option value="T">T</option>
        <option value="U">U</option>
        <option value="V">V</option>
        <option value="W">W</option>
        <option value="X">X</option>
        <option value="Y">Y</option>
        <option value="Z">Z</option>
        <option value="BIS">BIS</option>
    </select>
</li>
    <p>  
<li>
  <label for="numeroSeleccionado"><strong>Dígito o "#,-":</strong></label>
  <div class="calculadora-container">
    <input type="text" id="numeroSeleccionado" readonly onclick="toggleCalculadora()">
    <div class="calculadora" id="calculadora">
      <div class="calculadora-grid">
        <button onclick="seleccionarValor('1')">1</button>
        <button onclick="seleccionarValor('2')">2</button>
        <button onclick="seleccionarValor('3')">3</button>
        <button onclick="seleccionarValor('4')">4</button>
        <button onclick="seleccionarValor('5')">5</button>
        <button onclick="seleccionarValor('6')">6</button>
        <button onclick="seleccionarValor('7')">7</button>
        <button onclick="seleccionarValor('8')">8</button>
        <button onclick="seleccionarValor('9')">9</button>
        <button width="88"  align="center"  class="campo172A" onClick="if(document.getElementById('complementoActivo').value=='0') {concatenaString(document.getElementById('puente').value,' ','puente');
                         concatenaString(document.getElementById('direccion').value, '#','direccion');
                          } else enComplemento();">
                <label align="center" > <strong>#</strong> </label></button>

        <button onclick="seleccionarValor('0')">0</button>
        <button width="5" align="center" class="campo172A" onClick="if(document.getElementById('complementoActivo').value=='0') {concatenaString(document.getElementById('puente').value,' ','puente');
                         concatenaString(document.getElementById('direccion').value, '-','direccion');
                         } else enComplemento();">
                <label align="center"> <strong>-</strong></label></button>
      </div>
    </div>
  </div>
</li>
<p>


    <li>
      <label for="numeroSeleccionado">
        <strong>Todas las nomenclaturas</strong>
      </label>

<select name="select" id="select" 
    onchange="if(document.getElementById('complementoActivo').value=='0') {
        concatenaString(document.getElementById('puente').value,this.value,'puente');
        if(this.options[this.selectedIndex].text !== 'OTRA NOMENCLATURA') {
            concatenaString(document.getElementById('direccion').value, this.options[this.selectedIndex].text,'direccion');
        }
        verificaComplemento(this.options[this.selectedIndex].text);
        this.selectedIndex = 0;
    } else {
        enComplemento();
        this.selectedIndex = 0;
    }"  style="display: block; max-width: 600px; width: 50%; height: 38px; padding: 8px 12px; font-size: 14px;
                 line-height: 1.42857143; color: #555555; background-color: #fff; border: 1px solid #ccc; 
                 border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
                 transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;">

