<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel Gesti_n_Medidas_Cautelares search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Seccional_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Seccional}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Seccional{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="Seccional" data-fieldname="Seccional" >


	<label class="r-search-label control-label" for="{$labelfor_Seccional}">
		{$label Gesti_n_Medidas_Cautelares Seccional }	</label>
	<div class="r-search-option">
		{$searchtype_Seccional}
	</div>
	<div class="r-search-field">
		{$Seccional_editcontrol}	</div>
	<div class="r-search-field">
		{$Seccional_editcontrol1}
	</div>
	
</div>

{END Seccional_fieldblock}
											
{BEGIN ProcInic1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcInic1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcInic1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="ProcInic1" data-fieldname="ProcInic1" >


	<label class="r-search-label control-label" for="{$labelfor_ProcInic1}">
		{$label Gesti_n_Medidas_Cautelares ProcInic1 }	</label>
	<div class="r-search-option">
		{$searchtype_ProcInic1}
	</div>
	<div class="r-search-field">
		{$ProcInic1_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcInic1_editcontrol1}
	</div>
	
</div>

{END ProcInic1_fieldblock}
											
{BEGIN ProcInic120_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcInic120}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcInic120{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="ProcInic120" data-fieldname="ProcInic120" >


	<label class="r-search-label control-label" for="{$labelfor_ProcInic120}">
		{$label Gesti_n_Medidas_Cautelares ProcInic120 }	</label>
	<div class="r-search-option">
		{$searchtype_ProcInic120}
	</div>
	<div class="r-search-field">
		{$ProcInic120_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcInic120_editcontrol1}
	</div>
	
</div>

{END ProcInic120_fieldblock}
											
{BEGIN ProcFina1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcFina1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcFina1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="ProcFina1" data-fieldname="ProcFina1" >


	<label class="r-search-label control-label" for="{$labelfor_ProcFina1}">
		{$label Gesti_n_Medidas_Cautelares ProcFina1 }	</label>
	<div class="r-search-option">
		{$searchtype_ProcFina1}
	</div>
	<div class="r-search-field">
		{$ProcFina1_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcFina1_editcontrol1}
	</div>
	
</div>

{END ProcFina1_fieldblock}
											
{BEGIN ProcIndi1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcIndi1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcIndi1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="ProcIndi1" data-fieldname="ProcIndi1" >


	<label class="r-search-label control-label" for="{$labelfor_ProcIndi1}">
		{$label Gesti_n_Medidas_Cautelares ProcIndi1 }	</label>
	<div class="r-search-option">
		{$searchtype_ProcIndi1}
	</div>
	<div class="r-search-field">
		{$ProcIndi1_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcIndi1_editcontrol1}
	</div>
	
</div>

{END ProcIndi1_fieldblock}
											
{BEGIN ProcInic4_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcInic4}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcInic4{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="ProcInic4" data-fieldname="ProcInic4" >


	<label class="r-search-label control-label" for="{$labelfor_ProcInic4}">
		{$label Gesti_n_Medidas_Cautelares ProcInic4 }	</label>
	<div class="r-search-option">
		{$searchtype_ProcInic4}
	</div>
	<div class="r-search-field">
		{$ProcInic4_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcInic4_editcontrol1}
	</div>
	
</div>

{END ProcInic4_fieldblock}
											
{BEGIN ProcInic420_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcInic420}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcInic420{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="ProcInic420" data-fieldname="ProcInic420" >


	<label class="r-search-label control-label" for="{$labelfor_ProcInic420}">
		{$label Gesti_n_Medidas_Cautelares ProcInic420 }	</label>
	<div class="r-search-option">
		{$searchtype_ProcInic420}
	</div>
	<div class="r-search-field">
		{$ProcInic420_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcInic420_editcontrol1}
	</div>
	
</div>

{END ProcInic420_fieldblock}
											
{BEGIN ProcFina4_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcFina4}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcFina4{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="ProcFina4" data-fieldname="ProcFina4" >


	<label class="r-search-label control-label" for="{$labelfor_ProcFina4}">
		{$label Gesti_n_Medidas_Cautelares ProcFina4 }	</label>
	<div class="r-search-option">
		{$searchtype_ProcFina4}
	</div>
	<div class="r-search-field">
		{$ProcFina4_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcFina4_editcontrol1}
	</div>
	
</div>

{END ProcFina4_fieldblock}
											
{BEGIN ProcIndi4_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcIndi4}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcIndi4{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="ProcIndi4" data-fieldname="ProcIndi4" >


	<label class="r-search-label control-label" for="{$labelfor_ProcIndi4}">
		{$label Gesti_n_Medidas_Cautelares ProcIndi4 }	</label>
	<div class="r-search-option">
		{$searchtype_ProcIndi4}
	</div>
	<div class="r-search-field">
		{$ProcIndi4_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcIndi4_editcontrol1}
	</div>
	
</div>

{END ProcIndi4_fieldblock}
											
{BEGIN ProcInic5_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcInic5}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcInic5{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="ProcInic5" data-fieldname="ProcInic5" >


	<label class="r-search-label control-label" for="{$labelfor_ProcInic5}">
		{$label Gesti_n_Medidas_Cautelares ProcInic5 }	</label>
	<div class="r-search-option">
		{$searchtype_ProcInic5}
	</div>
	<div class="r-search-field">
		{$ProcInic5_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcInic5_editcontrol1}
	</div>
	
</div>

{END ProcInic5_fieldblock}
											
{BEGIN ProcInic520_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcInic520}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcInic520{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="ProcInic520" data-fieldname="ProcInic520" >


	<label class="r-search-label control-label" for="{$labelfor_ProcInic520}">
		{$label Gesti_n_Medidas_Cautelares ProcInic520 }	</label>
	<div class="r-search-option">
		{$searchtype_ProcInic520}
	</div>
	<div class="r-search-field">
		{$ProcInic520_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcInic520_editcontrol1}
	</div>
	
</div>

{END ProcInic520_fieldblock}
											
{BEGIN ProcFina5_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcFina5}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcFina5{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="ProcFina5" data-fieldname="ProcFina5" >


	<label class="r-search-label control-label" for="{$labelfor_ProcFina5}">
		{$label Gesti_n_Medidas_Cautelares ProcFina5 }	</label>
	<div class="r-search-option">
		{$searchtype_ProcFina5}
	</div>
	<div class="r-search-field">
		{$ProcFina5_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcFina5_editcontrol1}
	</div>
	
</div>

{END ProcFina5_fieldblock}
											
{BEGIN ProcIndi5_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcIndi5}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcIndi5{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="ProcIndi5" data-fieldname="ProcIndi5" >


	<label class="r-search-label control-label" for="{$labelfor_ProcIndi5}">
		{$label Gesti_n_Medidas_Cautelares ProcIndi5 }	</label>
	<div class="r-search-option">
		{$searchtype_ProcIndi5}
	</div>
	<div class="r-search-field">
		{$ProcIndi5_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcIndi5_editcontrol1}
	</div>
	
</div>

{END ProcIndi5_fieldblock}
											
{BEGIN ProcInicTota_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcInicTota}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcInicTota{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="ProcInicTota" data-fieldname="ProcInicTota" >


	<label class="r-search-label control-label" for="{$labelfor_ProcInicTota}">
		{$label Gesti_n_Medidas_Cautelares ProcInicTota }	</label>
	<div class="r-search-option">
		{$searchtype_ProcInicTota}
	</div>
	<div class="r-search-field">
		{$ProcInicTota_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcInicTota_editcontrol1}
	</div>
	
</div>

{END ProcInicTota_fieldblock}
											
{BEGIN ProcInicTota20_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcInicTota20}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcInicTota20{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="ProcInicTota20" data-fieldname="ProcInicTota20" >


	<label class="r-search-label control-label" for="{$labelfor_ProcInicTota20}">
		{$label Gesti_n_Medidas_Cautelares ProcInicTota20 }	</label>
	<div class="r-search-option">
		{$searchtype_ProcInicTota20}
	</div>
	<div class="r-search-field">
		{$ProcInicTota20_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcInicTota20_editcontrol1}
	</div>
	
</div>

{END ProcInicTota20_fieldblock}
											
{BEGIN ProcFinaTota_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcFinaTota}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcFinaTota{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="ProcFinaTota" data-fieldname="ProcFinaTota" >


	<label class="r-search-label control-label" for="{$labelfor_ProcFinaTota}">
		{$label Gesti_n_Medidas_Cautelares ProcFinaTota }	</label>
	<div class="r-search-option">
		{$searchtype_ProcFinaTota}
	</div>
	<div class="r-search-field">
		{$ProcFinaTota_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcFinaTota_editcontrol1}
	</div>
	
</div>

{END ProcFinaTota_fieldblock}
											
{BEGIN ProcIndiTota_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcIndiTota}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcIndiTota{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="ProcIndiTota" data-fieldname="ProcIndiTota" >


	<label class="r-search-label control-label" for="{$labelfor_ProcIndiTota}">
		{$label Gesti_n_Medidas_Cautelares ProcIndiTota }	</label>
	<div class="r-search-option">
		{$searchtype_ProcIndiTota}
	</div>
	<div class="r-search-field">
		{$ProcIndiTota_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcIndiTota_editcontrol1}
	</div>
	
</div>

{END ProcIndiTota_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
