<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_Horarios edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="horarios_view.php?{$editlink}" {$view_page_button_attrs}>Ver</a>
{END message_view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Horario_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Horario}  r-vertical-field" 
	data-signal-error-for="Horario{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="Horario" data-fieldname="Horario" >

	<label class="r-edit-label control-label" for="{$labelfor_Horario}">
		{BEGIN Horario_label}{$label dbo_Horarios Horario }{END Horario_label}
	</label>
	<div class="r-edit-field">
		{$Horario_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Horario" {$tooltipAttr dbo_Horarios Horario } >
		<div class="text-muted" >
		{$tooltip dbo_Horarios Horario }		</div>
	</div>
</div>


{END Horario_fieldblock}
											
{BEGIN Lun_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Lun}  r-vertical-field" 
	data-signal-error-for="Lun{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Lun" data-fieldname="Lun" >

	<label class="r-edit-label control-label" for="{$labelfor_Lun}">
		{BEGIN Lun_label}{$label dbo_Horarios Lun }{END Lun_label}
	</label>
	<div class="r-edit-field">
		{$Lun_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Lun" {$tooltipAttr dbo_Horarios Lun } >
		<div class="text-muted" >
		{$tooltip dbo_Horarios Lun }		</div>
	</div>
</div>


{END Lun_fieldblock}
											
{BEGIN Mar_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Mar}  r-vertical-field" 
	data-signal-error-for="Mar{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Mar" data-fieldname="Mar" >

	<label class="r-edit-label control-label" for="{$labelfor_Mar}">
		{BEGIN Mar_label}{$label dbo_Horarios Mar }{END Mar_label}
	</label>
	<div class="r-edit-field">
		{$Mar_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Mar" {$tooltipAttr dbo_Horarios Mar } >
		<div class="text-muted" >
		{$tooltip dbo_Horarios Mar }		</div>
	</div>
</div>


{END Mar_fieldblock}
											
{BEGIN Mie_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Mie}  r-vertical-field" 
	data-signal-error-for="Mie{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Mie" data-fieldname="Mie" >

	<label class="r-edit-label control-label" for="{$labelfor_Mie}">
		{BEGIN Mie_label}{$label dbo_Horarios Mie }{END Mie_label}
	</label>
	<div class="r-edit-field">
		{$Mie_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Mie" {$tooltipAttr dbo_Horarios Mie } >
		<div class="text-muted" >
		{$tooltip dbo_Horarios Mie }		</div>
	</div>
</div>


{END Mie_fieldblock}
											
{BEGIN Jue_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Jue}  r-vertical-field" 
	data-signal-error-for="Jue{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Jue" data-fieldname="Jue" >

	<label class="r-edit-label control-label" for="{$labelfor_Jue}">
		{BEGIN Jue_label}{$label dbo_Horarios Jue }{END Jue_label}
	</label>
	<div class="r-edit-field">
		{$Jue_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Jue" {$tooltipAttr dbo_Horarios Jue } >
		<div class="text-muted" >
		{$tooltip dbo_Horarios Jue }		</div>
	</div>
</div>


{END Jue_fieldblock}
											
{BEGIN Vie_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Vie}  r-vertical-field" 
	data-signal-error-for="Vie{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Vie" data-fieldname="Vie" >

	<label class="r-edit-label control-label" for="{$labelfor_Vie}">
		{BEGIN Vie_label}{$label dbo_Horarios Vie }{END Vie_label}
	</label>
	<div class="r-edit-field">
		{$Vie_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Vie" {$tooltipAttr dbo_Horarios Vie } >
		<div class="text-muted" >
		{$tooltip dbo_Horarios Vie }		</div>
	</div>
</div>


{END Vie_fieldblock}
											
{BEGIN Sab_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Sab}  r-vertical-field" 
	data-signal-error-for="Sab{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="Sab" data-fieldname="Sab" >

	<label class="r-edit-label control-label" for="{$labelfor_Sab}">
		{BEGIN Sab_label}{$label dbo_Horarios Sab }{END Sab_label}
	</label>
	<div class="r-edit-field">
		{$Sab_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Sab" {$tooltipAttr dbo_Horarios Sab } >
		<div class="text-muted" >
		{$tooltip dbo_Horarios Sab }		</div>
	</div>
</div>


{END Sab_fieldblock}
											
{BEGIN Dom_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Dom}  r-vertical-field" 
	data-signal-error-for="Dom{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Dom" data-fieldname="Dom" >

	<label class="r-edit-label control-label" for="{$labelfor_Dom}">
		{BEGIN Dom_label}{$label dbo_Horarios Dom }{END Dom_label}
	</label>
	<div class="r-edit-field">
		{$Dom_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Dom" {$tooltipAttr dbo_Horarios Dom } >
		<div class="text-muted" >
		{$tooltip dbo_Horarios Dom }		</div>
	</div>
</div>


{END Dom_fieldblock}
											
{BEGIN Fes_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Fes}  r-vertical-field" 
	data-signal-error-for="Fes{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="Fes" data-fieldname="Fes" >

	<label class="r-edit-label control-label" for="{$labelfor_Fes}">
		{BEGIN Fes_label}{$label dbo_Horarios Fes }{END Fes_label}
	</label>
	<div class="r-edit-field">
		{$Fes_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Fes" {$tooltipAttr dbo_Horarios Fes } >
		<div class="text-muted" >
		{$tooltip dbo_Horarios Fes }		</div>
	</div>
</div>


{END Fes_fieldblock}
											
{BEGIN Desde_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Desde}  r-vertical-field" 
	data-signal-error-for="Desde{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="Desde" data-fieldname="Desde" >

	<label class="r-edit-label control-label" for="{$labelfor_Desde}">
		{BEGIN Desde_label}{$label dbo_Horarios Desde }{END Desde_label}
	</label>
	<div class="r-edit-field">
		{$Desde_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Desde" {$tooltipAttr dbo_Horarios Desde } >
		<div class="text-muted" >
		{$tooltip dbo_Horarios Desde }		</div>
	</div>
</div>


{END Desde_fieldblock}
											
{BEGIN Hasta_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Hasta}  r-vertical-field" 
	data-signal-error-for="Hasta{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="Hasta" data-fieldname="Hasta" >

	<label class="r-edit-label control-label" for="{$labelfor_Hasta}">
		{BEGIN Hasta_label}{$label dbo_Horarios Hasta }{END Hasta_label}
	</label>
	<div class="r-edit-field">
		{$Hasta_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Hasta" {$tooltipAttr dbo_Horarios Hasta } >
		<div class="text-muted" >
		{$tooltip dbo_Horarios Hasta }		</div>
	</div>
</div>


{END Hasta_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancelar			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Reiniciar		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="horarios_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		Ver		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
