<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_Importaciones view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ImportacionId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ImportacionId}  r-vertical-field" data-fieldname="ImportacionId" data-signal-error-for="ImportacionId{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="ImportacionId" data-fieldname="ImportacionId" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ImportacionId}">
		
		{BEGIN ImportacionId_label}{$label dbo_Importaciones ImportacionId }{END ImportacionId_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ImportacionId_value}	</div>

		
</div>


{END ImportacionId_fieldblock}
											
{BEGIN CarteraTipoId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CarteraTipoId}  r-vertical-field" data-fieldname="CarteraTipoId" data-signal-error-for="CarteraTipoId{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="CarteraTipoId" data-fieldname="CarteraTipoId" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_CarteraTipoId}">
		
		{BEGIN CarteraTipoId_label}{$label dbo_Importaciones CarteraTipoId }{END CarteraTipoId_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$CarteraTipoId_value}	</div>

		
</div>


{END CarteraTipoId_fieldblock}
											
{BEGIN SeccionalId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SeccionalId}  r-vertical-field" data-fieldname="SeccionalId" data-signal-error-for="SeccionalId{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="SeccionalId" data-fieldname="SeccionalId" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_SeccionalId}">
		
		{BEGIN SeccionalId_label}{$label dbo_Importaciones SeccionalId }{END SeccionalId_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$SeccionalId_value}	</div>

		
</div>


{END SeccionalId_fieldblock}
											
{BEGIN ConceptoId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ConceptoId}  r-vertical-field" data-fieldname="ConceptoId" data-signal-error-for="ConceptoId{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="ConceptoId" data-fieldname="ConceptoId" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ConceptoId}">
		
		{BEGIN ConceptoId_label}{$label dbo_Importaciones ConceptoId }{END ConceptoId_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ConceptoId_value}	</div>

		
</div>


{END ConceptoId_fieldblock}
											
{BEGIN Archivo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Archivo}  r-vertical-field" data-fieldname="Archivo" data-signal-error-for="Archivo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Archivo" data-fieldname="Archivo" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Archivo}">
		
		{BEGIN Archivo_label}{$label dbo_Importaciones Archivo }{END Archivo_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Archivo_value}	</div>

		
</div>


{END Archivo_fieldblock}
											
{BEGIN Radicado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Radicado}  r-vertical-field" data-fieldname="Radicado" data-signal-error-for="Radicado{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Radicado" data-fieldname="Radicado" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Radicado}">
		
		{BEGIN Radicado_label}{$label dbo_Importaciones Radicado }{END Radicado_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Radicado_value}	</div>

		
</div>


{END Radicado_fieldblock}
											
{BEGIN Fecha_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha}  r-vertical-field" data-fieldname="Fecha" data-signal-error-for="Fecha{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="Fecha" data-fieldname="Fecha" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Fecha}">
		
		{BEGIN Fecha_label}{$label dbo_Importaciones Fecha }{END Fecha_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Fecha_value}	</div>

		
</div>


{END Fecha_fieldblock}
											
{BEGIN Despacho_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Despacho}  r-vertical-field" data-fieldname="Despacho" data-signal-error-for="Despacho{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Despacho" data-fieldname="Despacho" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Despacho}">
		
		{BEGIN Despacho_label}{$label dbo_Importaciones Despacho }{END Despacho_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Despacho_value}	</div>

		
</div>


{END Despacho_fieldblock}
											
{BEGIN Sancionado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Sancionado}  r-vertical-field" data-fieldname="Sancionado" data-signal-error-for="Sancionado{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="Sancionado" data-fieldname="Sancionado" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Sancionado}">
		
		{BEGIN Sancionado_label}{$label dbo_Importaciones Sancionado }{END Sancionado_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Sancionado_value}	</div>

		
</div>


{END Sancionado_fieldblock}
											
{BEGIN Documento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Documento}  r-vertical-field" data-fieldname="Documento" data-signal-error-for="Documento{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="Documento" data-fieldname="Documento" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Documento}">
		
		{BEGIN Documento_label}{$label dbo_Importaciones Documento }{END Documento_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Documento_value}	</div>

		
</div>


{END Documento_fieldblock}
											
{BEGIN Direccion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Direccion}  r-vertical-field" data-fieldname="Direccion" data-signal-error-for="Direccion{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="Direccion" data-fieldname="Direccion" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Direccion}">
		
		{BEGIN Direccion_label}{$label dbo_Importaciones Direccion }{END Direccion_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Direccion_value}	</div>

		
</div>


{END Direccion_fieldblock}
											
{BEGIN Telefono_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Telefono}  r-vertical-field" data-fieldname="Telefono" data-signal-error-for="Telefono{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="Telefono" data-fieldname="Telefono" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Telefono}">
		
		{BEGIN Telefono_label}{$label dbo_Importaciones Telefono }{END Telefono_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Telefono_value}	</div>

		
</div>


{END Telefono_fieldblock}
											
{BEGIN Numero_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Numero}  r-vertical-field" data-fieldname="Numero" data-signal-error-for="Numero{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="Numero" data-fieldname="Numero" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Numero}">
		
		{BEGIN Numero_label}{$label dbo_Importaciones Numero }{END Numero_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Numero_value}	</div>

		
</div>


{END Numero_fieldblock}
											
{BEGIN Providencia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Providencia}  r-vertical-field" data-fieldname="Providencia" data-signal-error-for="Providencia{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="Providencia" data-fieldname="Providencia" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Providencia}">
		
		{BEGIN Providencia_label}{$label dbo_Importaciones Providencia }{END Providencia_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Providencia_value}	</div>

		
</div>


{END Providencia_fieldblock}
											
{BEGIN Ejecutoria_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Ejecutoria}  r-vertical-field" data-fieldname="Ejecutoria" data-signal-error-for="Ejecutoria{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="Ejecutoria" data-fieldname="Ejecutoria" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Ejecutoria}">
		
		{BEGIN Ejecutoria_label}{$label dbo_Importaciones Ejecutoria }{END Ejecutoria_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Ejecutoria_value}	</div>

		
</div>


{END Ejecutoria_fieldblock}
											
{BEGIN Obligacion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Obligacion}  r-vertical-field" data-fieldname="Obligacion" data-signal-error-for="Obligacion{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="Obligacion" data-fieldname="Obligacion" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Obligacion}">
		
		{BEGIN Obligacion_label}{$label dbo_Importaciones Obligacion }{END Obligacion_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Obligacion_value}	</div>

		
</div>


{END Obligacion_fieldblock}
											
{BEGIN Intereses_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Intereses}  r-vertical-field" data-fieldname="Intereses" data-signal-error-for="Intereses{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="Intereses" data-fieldname="Intereses" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Intereses}">
		
		{BEGIN Intereses_label}{$label dbo_Importaciones Intereses }{END Intereses_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Intereses_value}	</div>

		
</div>


{END Intereses_fieldblock}
											
{BEGIN Recaudo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Recaudo}  r-vertical-field" data-fieldname="Recaudo" data-signal-error-for="Recaudo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="Recaudo" data-fieldname="Recaudo" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Recaudo}">
		
		{BEGIN Recaudo_label}{$label dbo_Importaciones Recaudo }{END Recaudo_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Recaudo_value}	</div>

		
</div>


{END Recaudo_fieldblock}
											
{BEGIN Carpeta_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Carpeta}  r-vertical-field" data-fieldname="Carpeta" data-signal-error-for="Carpeta{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="Carpeta" data-fieldname="Carpeta" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Carpeta}">
		
		{BEGIN Carpeta_label}{$label dbo_Importaciones Carpeta }{END Carpeta_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Carpeta_value}	</div>

		
</div>


{END Carpeta_fieldblock}
											
{BEGIN Observaciones_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Observaciones}  r-vertical-field" data-fieldname="Observaciones" data-signal-error-for="Observaciones{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="Observaciones" data-fieldname="Observaciones" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Observaciones}">
		
		{BEGIN Observaciones_label}{$label dbo_Importaciones Observaciones }{END Observaciones_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Observaciones_value}	</div>

		
</div>


{END Observaciones_fieldblock}
											
{BEGIN Registro_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Registro}  r-vertical-field" data-fieldname="Registro" data-signal-error-for="Registro{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="Registro" data-fieldname="Registro" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Registro}">
		
		{BEGIN Registro_label}{$label dbo_Importaciones Registro }{END Registro_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Registro_value}	</div>

		
</div>


{END Registro_fieldblock}
											
{BEGIN Aprobada_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Aprobada}  r-vertical-field" data-fieldname="Aprobada" data-signal-error-for="Aprobada{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="Aprobada" data-fieldname="Aprobada" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Aprobada}">
		
		{BEGIN Aprobada_label}{$label dbo_Importaciones Aprobada }{END Aprobada_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Aprobada_value}	</div>

		
</div>


{END Aprobada_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="importaciones_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
