<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel Intereses_por_Proceso search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Proceso_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Proceso}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Proceso{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="Proceso" data-fieldname="Proceso" >


	<label class="r-search-label control-label" for="{$labelfor_Proceso}">
		{$label Intereses_por_Proceso Proceso }	</label>
	<div class="r-search-option">
		{$searchtype_Proceso}
	</div>
	<div class="r-search-field">
		{$Proceso_editcontrol}	</div>
	<div class="r-search-field">
		{$Proceso_editcontrol1}
	</div>
	
</div>

{END Proceso_fieldblock}
											
{BEGIN CarteraTipoId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CarteraTipoId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CarteraTipoId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="CarteraTipoId" data-fieldname="CarteraTipoId" >


	<label class="r-search-label control-label" for="{$labelfor_CarteraTipoId}">
		{$label Intereses_por_Proceso CarteraTipoId }	</label>
	<div class="r-search-option">
		{$searchtype_CarteraTipoId}
	</div>
	<div class="r-search-field">
		{$CarteraTipoId_editcontrol}	</div>
	<div class="r-search-field">
		{$CarteraTipoId_editcontrol1}
	</div>
	
</div>

{END CarteraTipoId_fieldblock}
											
{BEGIN SeccionalId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SeccionalId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="SeccionalId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="SeccionalId" data-fieldname="SeccionalId" >


	<label class="r-search-label control-label" for="{$labelfor_SeccionalId}">
		{$label Intereses_por_Proceso SeccionalId }	</label>
	<div class="r-search-option">
		{$searchtype_SeccionalId}
	</div>
	<div class="r-search-field">
		{$SeccionalId_editcontrol}	</div>
	<div class="r-search-field">
		{$SeccionalId_editcontrol1}
	</div>
	
</div>

{END SeccionalId_fieldblock}
											
{BEGIN Seccional_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Seccional}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Seccional{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="Seccional" data-fieldname="Seccional" >


	<label class="r-search-label control-label" for="{$labelfor_Seccional}">
		{$label Intereses_por_Proceso Seccional }	</label>
	<div class="r-search-option">
		{$searchtype_Seccional}
	</div>
	<div class="r-search-field">
		{$Seccional_editcontrol}	</div>
	<div class="r-search-field">
		{$Seccional_editcontrol1}
	</div>
	
</div>

{END Seccional_fieldblock}
											
{BEGIN Enero_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Enero}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Enero{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="Enero" data-fieldname="Enero" >


	<label class="r-search-label control-label" for="{$labelfor_Enero}">
		{$label Intereses_por_Proceso Enero }	</label>
	<div class="r-search-option">
		{$searchtype_Enero}
	</div>
	<div class="r-search-field">
		{$Enero_editcontrol}	</div>
	<div class="r-search-field">
		{$Enero_editcontrol1}
	</div>
	
</div>

{END Enero_fieldblock}
											
{BEGIN Febrero_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Febrero}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Febrero{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Febrero" data-fieldname="Febrero" >


	<label class="r-search-label control-label" for="{$labelfor_Febrero}">
		{$label Intereses_por_Proceso Febrero }	</label>
	<div class="r-search-option">
		{$searchtype_Febrero}
	</div>
	<div class="r-search-field">
		{$Febrero_editcontrol}	</div>
	<div class="r-search-field">
		{$Febrero_editcontrol1}
	</div>
	
</div>

{END Febrero_fieldblock}
											
{BEGIN Marzo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Marzo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Marzo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="Marzo" data-fieldname="Marzo" >


	<label class="r-search-label control-label" for="{$labelfor_Marzo}">
		{$label Intereses_por_Proceso Marzo }	</label>
	<div class="r-search-option">
		{$searchtype_Marzo}
	</div>
	<div class="r-search-field">
		{$Marzo_editcontrol}	</div>
	<div class="r-search-field">
		{$Marzo_editcontrol1}
	</div>
	
</div>

{END Marzo_fieldblock}
											
{BEGIN Abril_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Abril}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Abril{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="Abril" data-fieldname="Abril" >


	<label class="r-search-label control-label" for="{$labelfor_Abril}">
		{$label Intereses_por_Proceso Abril }	</label>
	<div class="r-search-option">
		{$searchtype_Abril}
	</div>
	<div class="r-search-field">
		{$Abril_editcontrol}	</div>
	<div class="r-search-field">
		{$Abril_editcontrol1}
	</div>
	
</div>

{END Abril_fieldblock}
											
{BEGIN Mayo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Mayo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Mayo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="Mayo" data-fieldname="Mayo" >


	<label class="r-search-label control-label" for="{$labelfor_Mayo}">
		{$label Intereses_por_Proceso Mayo }	</label>
	<div class="r-search-option">
		{$searchtype_Mayo}
	</div>
	<div class="r-search-field">
		{$Mayo_editcontrol}	</div>
	<div class="r-search-field">
		{$Mayo_editcontrol1}
	</div>
	
</div>

{END Mayo_fieldblock}
											
{BEGIN Junio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Junio}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Junio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="Junio" data-fieldname="Junio" >


	<label class="r-search-label control-label" for="{$labelfor_Junio}">
		{$label Intereses_por_Proceso Junio }	</label>
	<div class="r-search-option">
		{$searchtype_Junio}
	</div>
	<div class="r-search-field">
		{$Junio_editcontrol}	</div>
	<div class="r-search-field">
		{$Junio_editcontrol1}
	</div>
	
</div>

{END Junio_fieldblock}
											
{BEGIN Julio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Julio}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Julio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="Julio" data-fieldname="Julio" >


	<label class="r-search-label control-label" for="{$labelfor_Julio}">
		{$label Intereses_por_Proceso Julio }	</label>
	<div class="r-search-option">
		{$searchtype_Julio}
	</div>
	<div class="r-search-field">
		{$Julio_editcontrol}	</div>
	<div class="r-search-field">
		{$Julio_editcontrol1}
	</div>
	
</div>

{END Julio_fieldblock}
											
{BEGIN Agosto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Agosto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Agosto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="Agosto" data-fieldname="Agosto" >


	<label class="r-search-label control-label" for="{$labelfor_Agosto}">
		{$label Intereses_por_Proceso Agosto }	</label>
	<div class="r-search-option">
		{$searchtype_Agosto}
	</div>
	<div class="r-search-field">
		{$Agosto_editcontrol}	</div>
	<div class="r-search-field">
		{$Agosto_editcontrol1}
	</div>
	
</div>

{END Agosto_fieldblock}
											
{BEGIN Septiembre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Septiembre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Septiembre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="Septiembre" data-fieldname="Septiembre" >


	<label class="r-search-label control-label" for="{$labelfor_Septiembre}">
		{$label Intereses_por_Proceso Septiembre }	</label>
	<div class="r-search-option">
		{$searchtype_Septiembre}
	</div>
	<div class="r-search-field">
		{$Septiembre_editcontrol}	</div>
	<div class="r-search-field">
		{$Septiembre_editcontrol1}
	</div>
	
</div>

{END Septiembre_fieldblock}
											
{BEGIN Octubre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Octubre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Octubre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="Octubre" data-fieldname="Octubre" >


	<label class="r-search-label control-label" for="{$labelfor_Octubre}">
		{$label Intereses_por_Proceso Octubre }	</label>
	<div class="r-search-option">
		{$searchtype_Octubre}
	</div>
	<div class="r-search-field">
		{$Octubre_editcontrol}	</div>
	<div class="r-search-field">
		{$Octubre_editcontrol1}
	</div>
	
</div>

{END Octubre_fieldblock}
											
{BEGIN Noviembre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Noviembre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Noviembre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="Noviembre" data-fieldname="Noviembre" >


	<label class="r-search-label control-label" for="{$labelfor_Noviembre}">
		{$label Intereses_por_Proceso Noviembre }	</label>
	<div class="r-search-option">
		{$searchtype_Noviembre}
	</div>
	<div class="r-search-field">
		{$Noviembre_editcontrol}	</div>
	<div class="r-search-field">
		{$Noviembre_editcontrol1}
	</div>
	
</div>

{END Noviembre_fieldblock}
											
{BEGIN Diciembre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Diciembre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Diciembre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="Diciembre" data-fieldname="Diciembre" >


	<label class="r-search-label control-label" for="{$labelfor_Diciembre}">
		{$label Intereses_por_Proceso Diciembre }	</label>
	<div class="r-search-option">
		{$searchtype_Diciembre}
	</div>
	<div class="r-search-field">
		{$Diciembre_editcontrol}	</div>
	<div class="r-search-field">
		{$Diciembre_editcontrol1}
	</div>
	
</div>

{END Diciembre_fieldblock}
											
{BEGIN TotalIntereses_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TotalIntereses}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="TotalIntereses{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="TotalIntereses" data-fieldname="TotalIntereses" >


	<label class="r-search-label control-label" for="{$labelfor_TotalIntereses}">
		{$label Intereses_por_Proceso TotalIntereses }	</label>
	<div class="r-search-option">
		{$searchtype_TotalIntereses}
	</div>
	<div class="r-search-field">
		{$TotalIntereses_editcontrol}	</div>
	<div class="r-search-field">
		{$TotalIntereses_editcontrol1}
	</div>
	
</div>

{END TotalIntereses_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
