<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-list"   
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expandir" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
 

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="search_panel" {$item_search_panel} data-topcell-item-type="search_panel" >
				<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}"	 >

	<div class="panel-heading">
		<div class="btn-group r-sp-addfield" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle btn-sm )" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Búsqueda			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group r-sp-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Mostrar opciones</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>todas las condiciones</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>cualquier condición</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>esconder</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_Proceso}


		<div class="form-group srchPanelRow {$filterRow_class_Proceso}" {$filterRow_attrs_Proceso}>
			<label>{$label Intereses_por_Proceso Proceso }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Proceso}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Proceso}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Proceso}</span>
						</div>
		{END searchCtrlBlock_Proceso}
																{BEGIN searchCtrlBlock_TotalIntereses}


		<div class="form-group srchPanelRow {$filterRow_class_TotalIntereses}" {$filterRow_attrs_TotalIntereses}>
			<label>{$label Intereses_por_Proceso TotalIntereses }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_TotalIntereses}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_TotalIntereses}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_TotalIntereses}</span>
						</div>
		{END searchCtrlBlock_TotalIntereses}
																{BEGIN searchCtrlBlock_Diciembre}


		<div class="form-group srchPanelRow {$filterRow_class_Diciembre}" {$filterRow_attrs_Diciembre}>
			<label>{$label Intereses_por_Proceso Diciembre }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Diciembre}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Diciembre}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Diciembre}</span>
						</div>
		{END searchCtrlBlock_Diciembre}
																{BEGIN searchCtrlBlock_Noviembre}


		<div class="form-group srchPanelRow {$filterRow_class_Noviembre}" {$filterRow_attrs_Noviembre}>
			<label>{$label Intereses_por_Proceso Noviembre }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Noviembre}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Noviembre}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Noviembre}</span>
						</div>
		{END searchCtrlBlock_Noviembre}
																{BEGIN searchCtrlBlock_Octubre}


		<div class="form-group srchPanelRow {$filterRow_class_Octubre}" {$filterRow_attrs_Octubre}>
			<label>{$label Intereses_por_Proceso Octubre }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Octubre}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Octubre}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Octubre}</span>
						</div>
		{END searchCtrlBlock_Octubre}
																{BEGIN searchCtrlBlock_Septiembre}


		<div class="form-group srchPanelRow {$filterRow_class_Septiembre}" {$filterRow_attrs_Septiembre}>
			<label>{$label Intereses_por_Proceso Septiembre }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Septiembre}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Septiembre}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Septiembre}</span>
						</div>
		{END searchCtrlBlock_Septiembre}
																{BEGIN searchCtrlBlock_Agosto}


		<div class="form-group srchPanelRow {$filterRow_class_Agosto}" {$filterRow_attrs_Agosto}>
			<label>{$label Intereses_por_Proceso Agosto }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Agosto}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Agosto}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Agosto}</span>
						</div>
		{END searchCtrlBlock_Agosto}
																{BEGIN searchCtrlBlock_Julio}


		<div class="form-group srchPanelRow {$filterRow_class_Julio}" {$filterRow_attrs_Julio}>
			<label>{$label Intereses_por_Proceso Julio }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Julio}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Julio}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Julio}</span>
						</div>
		{END searchCtrlBlock_Julio}
																{BEGIN searchCtrlBlock_Junio}


		<div class="form-group srchPanelRow {$filterRow_class_Junio}" {$filterRow_attrs_Junio}>
			<label>{$label Intereses_por_Proceso Junio }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Junio}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Junio}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Junio}</span>
						</div>
		{END searchCtrlBlock_Junio}
																{BEGIN searchCtrlBlock_Mayo}


		<div class="form-group srchPanelRow {$filterRow_class_Mayo}" {$filterRow_attrs_Mayo}>
			<label>{$label Intereses_por_Proceso Mayo }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Mayo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Mayo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Mayo}</span>
						</div>
		{END searchCtrlBlock_Mayo}
																{BEGIN searchCtrlBlock_Abril}


		<div class="form-group srchPanelRow {$filterRow_class_Abril}" {$filterRow_attrs_Abril}>
			<label>{$label Intereses_por_Proceso Abril }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Abril}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Abril}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Abril}</span>
						</div>
		{END searchCtrlBlock_Abril}
																{BEGIN searchCtrlBlock_Marzo}


		<div class="form-group srchPanelRow {$filterRow_class_Marzo}" {$filterRow_attrs_Marzo}>
			<label>{$label Intereses_por_Proceso Marzo }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Marzo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Marzo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Marzo}</span>
						</div>
		{END searchCtrlBlock_Marzo}
																{BEGIN searchCtrlBlock_Febrero}


		<div class="form-group srchPanelRow {$filterRow_class_Febrero}" {$filterRow_attrs_Febrero}>
			<label>{$label Intereses_por_Proceso Febrero }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Febrero}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Febrero}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Febrero}</span>
						</div>
		{END searchCtrlBlock_Febrero}
																{BEGIN searchCtrlBlock_Enero}


		<div class="form-group srchPanelRow {$filterRow_class_Enero}" {$filterRow_attrs_Enero}>
			<label>{$label Intereses_por_Proceso Enero }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Enero}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Enero}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Enero}</span>
						</div>
		{END searchCtrlBlock_Enero}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary btn-sm" id="searchButton{$id}" {$searchbutton_attrs}>Buscar</button>

				<button class="btn btn-default btn-sm" {$showAllCont_attrs} {$showallbutton_attrs}>Mostrar todo</button>
	</div>
</div>
<!-- End Search panel content -->
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div  class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Muestrame el menu" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Encubrir" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
				<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Mostrar todo">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}

	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="advsearch_link" {$item_advsearch_link} data-topcell-item-type="advsearch_link" >
				<span data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	"  href="intereses_por_proceso_search.php{$stateLink_full}" {$advsearchlink_attrs} data-popup >
					<span class="glyphicon glyphicon-plus"></span>
							Búsqueda avanzada			</a>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Mostrar panel de búsqueda		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Ocultar panel de búsqueda		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export" data-itemid="export" {$item_export} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportlink_attrs}  title="" >
				
		Exportar resultados		
		</a>
	</li>
{END export_link}
							<li role="separator" class="divider"></li>							{BEGIN import_link}
	<li data-itemtype="import" data-itemid="import" {$item_import} data-pageid="{$pageid}" data-small >
				<a  {$importlink_attrs} href="intereses_por_proceso_import.php{$stateLink_full}"  title="" >
				
		Importar		
		</a>
	</li>
{END import_link}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="notifications" {$item_notifications} data-topcell-item-type="notifications" >
				<div class="dropdown" data-itemtype="notifications" data-itemid="notifications" {$item_notifications} data-pageid="{$pageid}" id="notifications{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-bell"></i>
		<span class="badge badge-warning" ></span>
	</button>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
		<div class="r-noti-header">
			<span class="r-noti-h-text">
				Notificaciones			</span>
			<!--
			<a class="r-noti-all">
				see all
			</a>
			-->
			<a class="r-noti-close" href="#">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="r-noti-messages">
		</div>
	</div>
	
<script type="text/x-tmpl" id="noti-message">
	<a draggable="false" class="r-noti-message" 
		{% if (o.url ) { %} 
			href="{%=o.url%}" 
		{% } %}
		>
		<span class="r-noti-img">
			{% if (o.iconType == 'fa') { %}
			<span class="fa {%=o.icon%}"></span>
			{% } else if (o.iconType == 'bs') { %}
			<span class="glyphicon {%=o.icon%}"></span>
			{% } else if (o.icon) { %}
			<img src="{%=o.icon%}">
			{% } %}
		</span>
		<span class="r-noti-text">
			<span class="r-noti-title">
				{% if (o.title) { %}
					<span class="r-noti-title-text">
						{%=o.title%}
					</span>
				{% } %}
				<span class="r-noti-when">
					{%=o.time%}
				</span>
			</span>
			<span class="r-noti-body">
				{%=o.message%}
			</span>
		</span>
		{% if (o.new) { %}
		<span class="r-noti-new">
			<span class="fa fa-circle"></span>
		</span>
		{% } %}
	</a>
</script>	

</div>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Conectar			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		Perfil del usuario		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Desconectarse		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Area Admin		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Cambiar contraseña		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	</div>		
{END top_block}
						</div>
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-6
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="snippet" data-itemid="snippet1" {$item_snippet1} data-pageid="{$pageid}" >
{$event Intereses_por_Proceso_Cartera_Seccional}
</span>			{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$mlp_push}{$mlparam first var first_shown}{$mlparam last var last_shown}{$mlparam total var records_found}{mlang_message DISPLAYING}{$mlp_pop}</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="Página para imprimir" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			Rango:		</div>

			 
		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="intereses_por_proceso_print.php?all=1&amp;{$crosstable_attrs}" name="printScope" >
									Imprimir todas las páginas							</label>
		</div>
		{END print_friendly_all}
		</div>
		<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="intereses_por_proceso_print.php?{$crosstable_attrs}">
				Imprimir esta página			</label>
		</div>
	</div>
		
	</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					Resultados por página							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							Imprimir			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c3" data-pageid="{$pageid}"	{$cell_above-grid_c3}
	class="			col-md-6
	
">
		 
		<span data-itemtype="snippet" data-itemid="snippet" {$item_snippet} data-pageid="{$pageid}" >
{$event Intereses_por_Proceso_Ano}
</span>	 
		<span data-itemtype="custom_button" data-itemid="custom_button" {$item_custom_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="BuscarAno" href="javascript:void(0)" typeid="ib" >
					<span class="glyphicon glyphicon-search"></span>
										</a>
</span>
		</div>			 
				<div 
	data-cellId="above-grid_c4" data-pageid="{$pageid}"	{$cell_above-grid_c4}
	class="r-align-right r-ori-vert			col-md-6
	
">
			</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
				[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Proceso"]:before {
		content: "{$label Intereses_por_Proceso Proceso}";
	}
				[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Enero"]:before {
		content: "{$label Intereses_por_Proceso Enero}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Febrero"]:before {
		content: "{$label Intereses_por_Proceso Febrero}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Marzo"]:before {
		content: "{$label Intereses_por_Proceso Marzo}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Abril"]:before {
		content: "{$label Intereses_por_Proceso Abril}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Mayo"]:before {
		content: "{$label Intereses_por_Proceso Mayo}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Junio"]:before {
		content: "{$label Intereses_por_Proceso Junio}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Julio"]:before {
		content: "{$label Intereses_por_Proceso Julio}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Agosto"]:before {
		content: "{$label Intereses_por_Proceso Agosto}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Septiembre"]:before {
		content: "{$label Intereses_por_Proceso Septiembre}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Octubre"]:before {
		content: "{$label Intereses_por_Proceso Octubre}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Noviembre"]:before {
		content: "{$label Intereses_por_Proceso Noviembre}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Diciembre"]:before {
		content: "{$label Intereses_por_Proceso Diciembre}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="TotalIntereses"]:before {
		content: "{$label Intereses_por_Proceso TotalIntereses}";
	}
	}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" class=" table table-hover table-bordered r-horizontal-grid  r-flexgrid rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
			
																									<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_checkbox}
	<th
	
	{$cell_grid_headcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="intereses_por_proceso_list"	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox_head" data-itemid="grid_checkbox_head" {$item_grid_checkbox_head} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkboxheader_attrs}>
</span>
{END checkbox_column}
	
	</th>
	{END cellblock_grid_headcell_checkbox}
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Proceso_class}	"

			data-field="Proceso"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Proceso_fieldheadercolumn}
	{BEGIN Proceso_fieldheader}
	<SPAN {$Proceso_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Proceso" data-fieldname="Proceso">
	{$label Intereses_por_Proceso Proceso }	{$arrow_icon_Proceso}
	</SPAN>
	{END Proceso_fieldheader}
{END Proceso_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Enero_class}	"

			data-field="Enero"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Enero_fieldheadercolumn}
	{BEGIN Enero_fieldheader}
	<SPAN {$Enero_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field" {$item_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Enero" data-fieldname="Enero">
	{$label Intereses_por_Proceso Enero }	{$arrow_icon_Enero}
	</SPAN>
	{END Enero_fieldheader}
{END Enero_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Febrero_class}	"

			data-field="Febrero"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Febrero_fieldheadercolumn}
	{BEGIN Febrero_fieldheader}
	<SPAN {$Febrero_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field16" {$item_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Febrero" data-fieldname="Febrero">
	{$label Intereses_por_Proceso Febrero }	{$arrow_icon_Febrero}
	</SPAN>
	{END Febrero_fieldheader}
{END Febrero_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Marzo_class}	"

			data-field="Marzo"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Marzo_fieldheadercolumn}
	{BEGIN Marzo_fieldheader}
	<SPAN {$Marzo_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field17" {$item_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Marzo" data-fieldname="Marzo">
	{$label Intereses_por_Proceso Marzo }	{$arrow_icon_Marzo}
	</SPAN>
	{END Marzo_fieldheader}
{END Marzo_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Abril_class}	"

			data-field="Abril"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Abril_fieldheadercolumn}
	{BEGIN Abril_fieldheader}
	<SPAN {$Abril_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field18" {$item_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Abril" data-fieldname="Abril">
	{$label Intereses_por_Proceso Abril }	{$arrow_icon_Abril}
	</SPAN>
	{END Abril_fieldheader}
{END Abril_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Mayo_class}	"

			data-field="Mayo"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Mayo_fieldheadercolumn}
	{BEGIN Mayo_fieldheader}
	<SPAN {$Mayo_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field19" {$item_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Mayo" data-fieldname="Mayo">
	{$label Intereses_por_Proceso Mayo }	{$arrow_icon_Mayo}
	</SPAN>
	{END Mayo_fieldheader}
{END Mayo_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Junio_class}	"

			data-field="Junio"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Junio_fieldheadercolumn}
	{BEGIN Junio_fieldheader}
	<SPAN {$Junio_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field20" {$item_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Junio" data-fieldname="Junio">
	{$label Intereses_por_Proceso Junio }	{$arrow_icon_Junio}
	</SPAN>
	{END Junio_fieldheader}
{END Junio_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
									{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Julio_class}	"

			data-field="Julio"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Julio_fieldheadercolumn}
	{BEGIN Julio_fieldheader}
	<SPAN {$Julio_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field21" {$item_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Julio" data-fieldname="Julio">
	{$label Intereses_por_Proceso Julio }	{$arrow_icon_Julio}
	</SPAN>
	{END Julio_fieldheader}
{END Julio_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
									{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Agosto_class}	"

			data-field="Agosto"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Agosto_fieldheadercolumn}
	{BEGIN Agosto_fieldheader}
	<SPAN {$Agosto_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field22" {$item_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Agosto" data-fieldname="Agosto">
	{$label Intereses_por_Proceso Agosto }	{$arrow_icon_Agosto}
	</SPAN>
	{END Agosto_fieldheader}
{END Agosto_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
									{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Septiembre_class}	"

			data-field="Septiembre"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Septiembre_fieldheadercolumn}
	{BEGIN Septiembre_fieldheader}
	<SPAN {$Septiembre_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field23" {$item_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Septiembre" data-fieldname="Septiembre">
	{$label Intereses_por_Proceso Septiembre }	{$arrow_icon_Septiembre}
	</SPAN>
	{END Septiembre_fieldheader}
{END Septiembre_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
									{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Octubre_class}	"

			data-field="Octubre"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Octubre_fieldheadercolumn}
	{BEGIN Octubre_fieldheader}
	<SPAN {$Octubre_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field24" {$item_grid_field24} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Octubre" data-fieldname="Octubre">
	{$label Intereses_por_Proceso Octubre }	{$arrow_icon_Octubre}
	</SPAN>
	{END Octubre_fieldheader}
{END Octubre_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
									{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Noviembre_class}	"

			data-field="Noviembre"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Noviembre_fieldheadercolumn}
	{BEGIN Noviembre_fieldheader}
	<SPAN {$Noviembre_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field25" {$item_grid_field25} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Noviembre" data-fieldname="Noviembre">
	{$label Intereses_por_Proceso Noviembre }	{$arrow_icon_Noviembre}
	</SPAN>
	{END Noviembre_fieldheader}
{END Noviembre_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
									{BEGIN cellblock_grid_headcell_field12}
	<th
	
	{$cell_grid_headcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Diciembre_class}	"

			data-field="Diciembre"
	
	data-cellId="grid_headcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Diciembre_fieldheadercolumn}
	{BEGIN Diciembre_fieldheader}
	<SPAN {$Diciembre_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field26" {$item_grid_field26} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Diciembre" data-fieldname="Diciembre">
	{$label Intereses_por_Proceso Diciembre }	{$arrow_icon_Diciembre}
	</SPAN>
	{END Diciembre_fieldheader}
{END Diciembre_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field12}
									{BEGIN cellblock_grid_headcell_field13}
	<th
	
	{$cell_grid_headcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$TotalIntereses_class}	"

			data-field="TotalIntereses"
	
	data-cellId="grid_headcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN TotalIntereses_fieldheadercolumn}
	{BEGIN TotalIntereses_fieldheader}
	<SPAN {$TotalIntereses_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field27" {$item_grid_field27} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="TotalIntereses" data-fieldname="TotalIntereses">
	{$label Intereses_por_Proceso TotalIntereses }	{$arrow_icon_TotalIntereses}
	</SPAN>
	{END TotalIntereses_fieldheader}
{END TotalIntereses_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field13}
							</tr>
															
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
							
																														<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_checkbox}
	<td
	
	{$cell_grid_cell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"		data-control-cell
	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox" data-itemid="grid_checkbox" {$item_grid_checkbox} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkbox_attrs}
		>
</span>	
{END checkbox_column}
	
	</td>
	{END cellblock_grid_cell_checkbox}
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Proceso_class}	"

			data-field="Proceso"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Proceso_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Proceso" data-fieldname="Proceso" data-default-width >
{$Proceso_value}
</span>
{END Proceso_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Enero_class}	"

			data-field="Enero"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Enero_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field3" {$item_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Enero" data-fieldname="Enero" data-default-width >
{$Enero_value}
</span>
{END Enero_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Febrero_class}	"

			data-field="Febrero"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Febrero_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field4" {$item_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Febrero" data-fieldname="Febrero" data-default-width >
{$Febrero_value}
</span>
{END Febrero_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Marzo_class}	"

			data-field="Marzo"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Marzo_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field5" {$item_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Marzo" data-fieldname="Marzo" data-default-width >
{$Marzo_value}
</span>
{END Marzo_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Abril_class}	"

			data-field="Abril"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Abril_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field6" {$item_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Abril" data-fieldname="Abril" data-default-width >
{$Abril_value}
</span>
{END Abril_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Mayo_class}	"

			data-field="Mayo"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Mayo_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field7" {$item_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Mayo" data-fieldname="Mayo" data-default-width >
{$Mayo_value}
</span>
{END Mayo_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Junio_class}	"

			data-field="Junio"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Junio_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field8" {$item_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Junio" data-fieldname="Junio" data-default-width >
{$Junio_value}
</span>
{END Junio_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
									{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Julio_class}	"

			data-field="Julio"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Julio_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field9" {$item_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Julio" data-fieldname="Julio" data-default-width >
{$Julio_value}
</span>
{END Julio_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
									{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Agosto_class}	"

			data-field="Agosto"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Agosto_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field10" {$item_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Agosto" data-fieldname="Agosto" data-default-width >
{$Agosto_value}
</span>
{END Agosto_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
									{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Septiembre_class}	"

			data-field="Septiembre"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Septiembre_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field11" {$item_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Septiembre" data-fieldname="Septiembre" data-default-width >
{$Septiembre_value}
</span>
{END Septiembre_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
									{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Octubre_class}	"

			data-field="Octubre"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Octubre_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field12" {$item_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Octubre" data-fieldname="Octubre" data-default-width >
{$Octubre_value}
</span>
{END Octubre_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
									{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Noviembre_class}	"

			data-field="Noviembre"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Noviembre_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field13" {$item_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Noviembre" data-fieldname="Noviembre" data-default-width >
{$Noviembre_value}
</span>
{END Noviembre_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
									{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Diciembre_class}	"

			data-field="Diciembre"
	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Diciembre_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field14" {$item_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Diciembre" data-fieldname="Diciembre" data-default-width >
{$Diciembre_value}
</span>
{END Diciembre_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field12}
									{BEGIN cellblock_grid_cell_field13}
	<td
	
	{$cell_grid_cell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$TotalIntereses_class}	"

			data-field="TotalIntereses"
	
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN TotalIntereses_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field15" {$item_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="TotalIntereses" data-fieldname="TotalIntereses" data-default-width >
{$TotalIntereses_value}
</span>
{END TotalIntereses_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field13}
							</tr>
										
											{END grid_row}
					</tbody>
													<tfoot>
			
																																			<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_checkbox}
	<td
	
	{$cell_grid_footcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"		data-control-cell
	
	>

	
	</td>
	{END cellblock_grid_footcell_checkbox}
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Proceso_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="intereses_por_proceso_list"		data-control-cell
	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Enero_class}	"

			data-field="Enero"
	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="intereses_por_proceso_list"	
	>

	 
		{BEGIN Enero_fieldfootercolumn}
{BEGIN Enero_showtotal}
<span data-itemtype="grid_field_totals" data-itemid="grid_field_totals" {$item_grid_field_totals} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Enero" data-fieldname="Enero">
	$	{$Enero_total}
</span>
{END Enero_showtotal}
{END Enero_fieldfootercolumn}

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Febrero_class}	"

			data-field="Febrero"
	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="intereses_por_proceso_list"	
	>

	 
		{BEGIN Febrero_fieldfootercolumn}
{BEGIN Febrero_showtotal}
<span data-itemtype="grid_field_totals" data-itemid="grid_field_totals1" {$item_grid_field_totals1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Febrero" data-fieldname="Febrero">
	$	{$Febrero_total}
</span>
{END Febrero_showtotal}
{END Febrero_fieldfootercolumn}

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Marzo_class}	"

			data-field="Marzo"
	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="intereses_por_proceso_list"	
	>

	 
		{BEGIN Marzo_fieldfootercolumn}
{BEGIN Marzo_showtotal}
<span data-itemtype="grid_field_totals" data-itemid="grid_field_totals2" {$item_grid_field_totals2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Marzo" data-fieldname="Marzo">
	$	{$Marzo_total}
</span>
{END Marzo_showtotal}
{END Marzo_fieldfootercolumn}

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Abril_class}	"

			data-field="Abril"
	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="intereses_por_proceso_list"	
	>

	 
		{BEGIN Abril_fieldfootercolumn}
{BEGIN Abril_showtotal}
<span data-itemtype="grid_field_totals" data-itemid="grid_field_totals3" {$item_grid_field_totals3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Abril" data-fieldname="Abril">
	$	{$Abril_total}
</span>
{END Abril_showtotal}
{END Abril_fieldfootercolumn}

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Mayo_class}	"

			data-field="Mayo"
	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="intereses_por_proceso_list"	
	>

	 
		{BEGIN Mayo_fieldfootercolumn}
{BEGIN Mayo_showtotal}
<span data-itemtype="grid_field_totals" data-itemid="grid_field_totals4" {$item_grid_field_totals4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Mayo" data-fieldname="Mayo">
	$	{$Mayo_total}
</span>
{END Mayo_showtotal}
{END Mayo_fieldfootercolumn}

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Junio_class}	"

			data-field="Junio"
	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="intereses_por_proceso_list"	
	>

	 
		{BEGIN Junio_fieldfootercolumn}
{BEGIN Junio_showtotal}
<span data-itemtype="grid_field_totals" data-itemid="grid_field_totals5" {$item_grid_field_totals5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Junio" data-fieldname="Junio">
	$	{$Junio_total}
</span>
{END Junio_showtotal}
{END Junio_fieldfootercolumn}

	
	</td>
	{END cellblock_grid_footcell_field6}
									{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Julio_class}	"

			data-field="Julio"
	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="intereses_por_proceso_list"	
	>

	 
		{BEGIN Julio_fieldfootercolumn}
{BEGIN Julio_showtotal}
<span data-itemtype="grid_field_totals" data-itemid="grid_field_totals6" {$item_grid_field_totals6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Julio" data-fieldname="Julio">
	$	{$Julio_total}
</span>
{END Julio_showtotal}
{END Julio_fieldfootercolumn}

	
	</td>
	{END cellblock_grid_footcell_field7}
									{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Agosto_class}	"

			data-field="Agosto"
	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="intereses_por_proceso_list"	
	>

	 
		{BEGIN Agosto_fieldfootercolumn}
{BEGIN Agosto_showtotal}
<span data-itemtype="grid_field_totals" data-itemid="grid_field_totals7" {$item_grid_field_totals7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Agosto" data-fieldname="Agosto">
	$	{$Agosto_total}
</span>
{END Agosto_showtotal}
{END Agosto_fieldfootercolumn}

	
	</td>
	{END cellblock_grid_footcell_field8}
									{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Septiembre_class}	"

			data-field="Septiembre"
	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="intereses_por_proceso_list"	
	>

	 
		{BEGIN Septiembre_fieldfootercolumn}
{BEGIN Septiembre_showtotal}
<span data-itemtype="grid_field_totals" data-itemid="grid_field_totals8" {$item_grid_field_totals8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Septiembre" data-fieldname="Septiembre">
	$	{$Septiembre_total}
</span>
{END Septiembre_showtotal}
{END Septiembre_fieldfootercolumn}

	
	</td>
	{END cellblock_grid_footcell_field9}
									{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Octubre_class}	"

			data-field="Octubre"
	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="intereses_por_proceso_list"	
	>

	 
		{BEGIN Octubre_fieldfootercolumn}
{BEGIN Octubre_showtotal}
<span data-itemtype="grid_field_totals" data-itemid="grid_field_totals9" {$item_grid_field_totals9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Octubre" data-fieldname="Octubre">
	$	{$Octubre_total}
</span>
{END Octubre_showtotal}
{END Octubre_fieldfootercolumn}

	
	</td>
	{END cellblock_grid_footcell_field10}
									{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Noviembre_class}	"

			data-field="Noviembre"
	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="intereses_por_proceso_list"	
	>

	 
		{BEGIN Noviembre_fieldfootercolumn}
{BEGIN Noviembre_showtotal}
<span data-itemtype="grid_field_totals" data-itemid="grid_field_totals10" {$item_grid_field_totals10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Noviembre" data-fieldname="Noviembre">
	$	{$Noviembre_total}
</span>
{END Noviembre_showtotal}
{END Noviembre_fieldfootercolumn}

	
	</td>
	{END cellblock_grid_footcell_field11}
									{BEGIN cellblock_grid_footcell_field12}
	<td
	
	{$cell_grid_footcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Diciembre_class}	"

			data-field="Diciembre"
	
	data-cellId="grid_footcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="intereses_por_proceso_list"	
	>

	 
		{BEGIN Diciembre_fieldfootercolumn}
{BEGIN Diciembre_showtotal}
<span data-itemtype="grid_field_totals" data-itemid="grid_field_totals11" {$item_grid_field_totals11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Diciembre" data-fieldname="Diciembre">
	$	{$Diciembre_total}
</span>
{END Diciembre_showtotal}
{END Diciembre_fieldfootercolumn}

	
	</td>
	{END cellblock_grid_footcell_field12}
									{BEGIN cellblock_grid_footcell_field13}
	<td
	
	{$cell_grid_footcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$TotalIntereses_class}	"

			data-field="TotalIntereses"
	
	data-cellId="grid_footcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="intereses_por_proceso_list"	
	>

	 
		{BEGIN TotalIntereses_fieldfootercolumn}
{BEGIN TotalIntereses_showtotal}
<span data-itemtype="grid_field_totals" data-itemid="grid_field_totals12" {$item_grid_field_totals12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="TotalIntereses" data-fieldname="TotalIntereses">
	$	{$TotalIntereses_total}
</span>
{END TotalIntereses_showtotal}
{END TotalIntereses_fieldfootercolumn}

	
	</td>
	{END cellblock_grid_footcell_field13}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
