<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel Presunci_n_Prescripci_n search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Seccional_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Seccional}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Seccional{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="Seccional" data-fieldname="Seccional" >


	<label class="r-search-label control-label" for="{$labelfor_Seccional}">
		{$label Presunci_n_Prescripci_n Seccional }	</label>
	<div class="r-search-option">
		{$searchtype_Seccional}
	</div>
	<div class="r-search-field">
		{$Seccional_editcontrol}	</div>
	<div class="r-search-field">
		{$Seccional_editcontrol1}
	</div>
	
</div>

{END Seccional_fieldblock}
											
{BEGIN Concepto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Concepto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Concepto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="Concepto" data-fieldname="Concepto" >


	<label class="r-search-label control-label" for="{$labelfor_Concepto}">
		{$label Presunci_n_Prescripci_n Concepto }	</label>
	<div class="r-search-option">
		{$searchtype_Concepto}
	</div>
	<div class="r-search-field">
		{$Concepto_editcontrol}	</div>
	<div class="r-search-field">
		{$Concepto_editcontrol1}
	</div>
	
</div>

{END Concepto_fieldblock}
											
{BEGIN Etapa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Etapa}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Etapa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="Etapa" data-fieldname="Etapa" >


	<label class="r-search-label control-label" for="{$labelfor_Etapa}">
		{$label Presunci_n_Prescripci_n Etapa }	</label>
	<div class="r-search-option">
		{$searchtype_Etapa}
	</div>
	<div class="r-search-field">
		{$Etapa_editcontrol}	</div>
	<div class="r-search-field">
		{$Etapa_editcontrol1}
	</div>
	
</div>

{END Etapa_fieldblock}
											
{BEGIN Abogado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Abogado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Abogado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="Abogado" data-fieldname="Abogado" >


	<label class="r-search-label control-label" for="{$labelfor_Abogado}">
		{$label Presunci_n_Prescripci_n Abogado }	</label>
	<div class="r-search-option">
		{$searchtype_Abogado}
	</div>
	<div class="r-search-field">
		{$Abogado_editcontrol}	</div>
	<div class="r-search-field">
		{$Abogado_editcontrol1}
	</div>
	
</div>

{END Abogado_fieldblock}
											
{BEGIN Numero_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Numero}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Numero{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="Numero" data-fieldname="Numero" >


	<label class="r-search-label control-label" for="{$labelfor_Numero}">
		{$label Presunci_n_Prescripci_n Numero }	</label>
	<div class="r-search-option">
		{$searchtype_Numero}
	</div>
	<div class="r-search-field">
		{$Numero_editcontrol}	</div>
	<div class="r-search-field">
		{$Numero_editcontrol1}
	</div>
	
</div>

{END Numero_fieldblock}
											
{BEGIN Ejecutoria_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Ejecutoria}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Ejecutoria{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Ejecutoria" data-fieldname="Ejecutoria" >


	<label class="r-search-label control-label" for="{$labelfor_Ejecutoria}">
		{$label Presunci_n_Prescripci_n Ejecutoria }	</label>
	<div class="r-search-option">
		{$searchtype_Ejecutoria}
	</div>
	<div class="r-search-field">
		{$Ejecutoria_editcontrol}	</div>
	<div class="r-search-field">
		{$Ejecutoria_editcontrol1}
	</div>
	
</div>

{END Ejecutoria_fieldblock}
											
{BEGIN Notificacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Notificacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Notificacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="Notificacion" data-fieldname="Notificacion" >


	<label class="r-search-label control-label" for="{$labelfor_Notificacion}">
		{$label Presunci_n_Prescripci_n Notificacion }	</label>
	<div class="r-search-option">
		{$searchtype_Notificacion}
	</div>
	<div class="r-search-field">
		{$Notificacion_editcontrol}	</div>
	<div class="r-search-field">
		{$Notificacion_editcontrol1}
	</div>
	
</div>

{END Notificacion_fieldblock}
											
{BEGIN Acuerdo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Acuerdo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Acuerdo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="Acuerdo" data-fieldname="Acuerdo" >


	<label class="r-search-label control-label" for="{$labelfor_Acuerdo}">
		{$label Presunci_n_Prescripci_n Acuerdo }	</label>
	<div class="r-search-option">
		{$searchtype_Acuerdo}
	</div>
	<div class="r-search-field">
		{$Acuerdo_editcontrol}	</div>
	<div class="r-search-field">
		{$Acuerdo_editcontrol1}
	</div>
	
</div>

{END Acuerdo_fieldblock}
											
{BEGIN Obligacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Obligacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Obligacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="Obligacion" data-fieldname="Obligacion" >


	<label class="r-search-label control-label" for="{$labelfor_Obligacion}">
		{$label Presunci_n_Prescripci_n Obligacion }	</label>
	<div class="r-search-option">
		{$searchtype_Obligacion}
	</div>
	<div class="r-search-field">
		{$Obligacion_editcontrol}	</div>
	<div class="r-search-field">
		{$Obligacion_editcontrol1}
	</div>
	
</div>

{END Obligacion_fieldblock}
											
{BEGIN Costas_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Costas}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Costas{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="Costas" data-fieldname="Costas" >


	<label class="r-search-label control-label" for="{$labelfor_Costas}">
		{$label Presunci_n_Prescripci_n Costas }	</label>
	<div class="r-search-option">
		{$searchtype_Costas}
	</div>
	<div class="r-search-field">
		{$Costas_editcontrol}	</div>
	<div class="r-search-field">
		{$Costas_editcontrol1}
	</div>
	
</div>

{END Costas_fieldblock}
											
{BEGIN Intereses_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Intereses}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Intereses{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="Intereses" data-fieldname="Intereses" >


	<label class="r-search-label control-label" for="{$labelfor_Intereses}">
		{$label Presunci_n_Prescripci_n Intereses }	</label>
	<div class="r-search-option">
		{$searchtype_Intereses}
	</div>
	<div class="r-search-field">
		{$Intereses_editcontrol}	</div>
	<div class="r-search-field">
		{$Intereses_editcontrol1}
	</div>
	
</div>

{END Intereses_fieldblock}
											
{BEGIN Recaudo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Recaudo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Recaudo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="Recaudo" data-fieldname="Recaudo" >


	<label class="r-search-label control-label" for="{$labelfor_Recaudo}">
		{$label Presunci_n_Prescripci_n Recaudo }	</label>
	<div class="r-search-option">
		{$searchtype_Recaudo}
	</div>
	<div class="r-search-field">
		{$Recaudo_editcontrol}	</div>
	<div class="r-search-field">
		{$Recaudo_editcontrol1}
	</div>
	
</div>

{END Recaudo_fieldblock}
											
{BEGIN Saldo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Saldo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Saldo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="Saldo" data-fieldname="Saldo" >


	<label class="r-search-label control-label" for="{$labelfor_Saldo}">
		{$label Presunci_n_Prescripci_n Saldo }	</label>
	<div class="r-search-option">
		{$searchtype_Saldo}
	</div>
	<div class="r-search-field">
		{$Saldo_editcontrol}	</div>
	<div class="r-search-field">
		{$Saldo_editcontrol1}
	</div>
	
</div>

{END Saldo_fieldblock}
											
{BEGIN Prescripcion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Prescripcion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Prescripcion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="Prescripcion" data-fieldname="Prescripcion" >


	<label class="r-search-label control-label" for="{$labelfor_Prescripcion}">
		{$label Presunci_n_Prescripci_n Prescripcion }	</label>
	<div class="r-search-option">
		{$searchtype_Prescripcion}
	</div>
	<div class="r-search-field">
		{$Prescripcion_editcontrol}	</div>
	<div class="r-search-field">
		{$Prescripcion_editcontrol1}
	</div>
	
</div>

{END Prescripcion_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
