<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-rprint" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN pdflink_block}
<span data-itemtype="print_pdf" data-itemid="print_pdf" {$item_print_pdf} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	pdflink" data-pdfpage="rprint" 
data-scope="0" 
data-split="0" 
data-records="10" 
data-orientation="portrait" 
data-scale="100" 
data-filename="Procesos Sin Notifica Report.pdf" 
data-pagesize="LETTER" 
data-pagetype="rprint" 
{$pdflink_attrs} >
							Vista PDF			</a>
</span>
{END pdflink_block}
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_ProcesosSinNotificaReport rprint}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="top_c4" data-pageid="{$pageid}"	{$cell_top_c4}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
									{BEGIN grid_block}
<style>
	td.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary {
		background-color: #ffffbb;
	}
	td.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary {background-color: #ffe0b0;
	}
	.rnr-report {
		width: 100%;
	}
			td.group_1{
			background-color: #E6E6FA;
		}
		td.nbgroup_1{
			background-color: #E6E6FA;
		}
		td.header_1 {
			background-color: #E6E6FA; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_2{
			background-color: #C0FFFF;
		}
		td.nbgroup_2{
			background-color: #C0FFFF;
		}
		td.header_2 {
			background-color: #C0FFFF; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_3{
			background-color: #FFFFFF;
		}
		td.nbgroup_3{
			background-color: #FFFFFF;
		}
		td.header_3 {
			background-color: #FFFFFF; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
		td.blackshade {
		font-size: 120%;
	}
	.summaryrow > * {
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}
		.grouptotalsrow + :not(.grouptotalsrow) > * {
		border-top:solid #808080 1px; 
	}
	</style>
<div id="grid_block{$id}" class="rnr-report-gridblock">
						


<table class="table table-hover table-bordered rnr-b-grid rnr-gridtable" cellpadding="0" >
	<tbody>
	{BEGIN grid_row}
			{BEGIN CarteraTipoId_newgroup}
				<tr class="group-headers">
										<td class="blackshade {$fieldclass_CarteraTipoId}">{$label dbo_ProcesosSinNotificaReport CarteraTipoId }</td>
														<td class="blackshade {$fieldclass_SeccionalId}">{$label dbo_ProcesosSinNotificaReport SeccionalId }</td>
														<td class="blackshade {$fieldclass_Abogado}">{$label dbo_ProcesosSinNotificaReport Abogado }</td>
																																																																													
																															<td class="blackshade {$fieldclass_Fecha}">{$label dbo_ProcesosSinNotificaReport Fecha }</td>
														<td class="blackshade {$fieldclass_Numero}">{$label dbo_ProcesosSinNotificaReport Numero }</td>
														<td class="blackshade {$fieldclass_ConceptoId}">{$label dbo_ProcesosSinNotificaReport ConceptoId }</td>
														<td class="blackshade {$fieldclass_EstadoId}">{$label dbo_ProcesosSinNotificaReport EstadoId }</td>
														<td class="blackshade {$fieldclass_Obligacion}">{$label dbo_ProcesosSinNotificaReport Obligacion }</td>
														<td class="blackshade {$fieldclass_Costas}">{$label dbo_ProcesosSinNotificaReport Costas }</td>
														<td class="blackshade {$fieldclass_Intereses}">{$label dbo_ProcesosSinNotificaReport Intereses }</td>
														<td class="blackshade {$fieldclass_Sancionado}">{$label dbo_ProcesosSinNotificaReport Sancionado }</td>
														<td class="blackshade {$fieldclass_Documento}">{$label dbo_ProcesosSinNotificaReport Documento }</td>
														<td class="blackshade {$fieldclass_Mandamiento}">{$label dbo_ProcesosSinNotificaReport Mandamiento }</td>
									</tr>
		
		<tr class="group-spliter-1"  >
																							<td colspan="13" class="header_1">
				<font >
				{$xCarteraTipoId_grval}
				<span data-itemtype="report_group_field" data-itemid="report_group_field" {$item_report_group_field} data-pageid="{$pageid}" data-field="CarteraTipoId" data-fieldname="CarteraTipoId" >
{$CarteraTipoId_grval}
</span>				</font>
			</td>
																																												</tr>
		{END CarteraTipoId_newgroup}
			{BEGIN SeccionalId_newgroup}
		
		<tr class="group-spliter-2"  >
																		<td class=" group_1" >&nbsp;</td>
																											<td colspan="12" class="header_2">
				<font >
				{$xSeccionalId_grval}
				<span data-itemtype="report_group_field" data-itemid="report_group_field1" {$item_report_group_field1} data-pageid="{$pageid}" data-field="SeccionalId" data-fieldname="SeccionalId" >
{$SeccionalId_grval}
</span>				</font>
			</td>
																													</tr>
		{END SeccionalId_newgroup}
			{BEGIN Abogado_newgroup}
		
		<tr class="group-spliter-3" {$rowattrs} >
																		<td class=" group_1" >&nbsp;</td>
																						<td class=" group_2" >&nbsp;</td>
																											<td colspan="11" class="header_3">
				<font>
				{$xAbogado_grval}
				<span data-itemtype="report_group_field" data-itemid="report_group_field2" {$item_report_group_field2} data-pageid="{$pageid}" data-field="Abogado" data-fieldname="Abogado" >
{$Abogado_grval}
</span>				</font>
			</td>
														</tr>
		{END Abogado_newgroup}
	
		<!--  data-->
		{BEGIN row_data}
		<tr>
														<td class=" group_1" >&nbsp;</td>
																	<td class=" group_2" >&nbsp;</td>
																	<td class=" group_3" >&nbsp;</td>
																																								<td class="data {$fieldclass_Fecha}">
				{$xFecha_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field3" {$item_report_grid_field3} data-pageid="{$pageid}" data-field="Fecha" data-fieldname="Fecha" >
{$Fecha_value}
</span>			</td>
														<td class="data {$fieldclass_Numero}">
				{$xNumero_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field4" {$item_report_grid_field4} data-pageid="{$pageid}" data-field="Numero" data-fieldname="Numero" >
{$Numero_value}
</span>			</td>
														<td class="data {$fieldclass_ConceptoId}">
				{$xConceptoId_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field9" {$item_report_grid_field9} data-pageid="{$pageid}" data-field="ConceptoId" data-fieldname="ConceptoId" >
{$ConceptoId_value}
</span>			</td>
														<td class="data {$fieldclass_EstadoId}">
				{$xEstadoId_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field10" {$item_report_grid_field10} data-pageid="{$pageid}" data-field="EstadoId" data-fieldname="EstadoId" >
{$EstadoId_value}
</span>			</td>
														<td class="data {$fieldclass_Obligacion}">
				{$xObligacion_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field15" {$item_report_grid_field15} data-pageid="{$pageid}" data-field="Obligacion" data-fieldname="Obligacion" >
{$Obligacion_value}
</span>			</td>
														<td class="data {$fieldclass_Costas}">
				{$xCostas_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field16" {$item_report_grid_field16} data-pageid="{$pageid}" data-field="Costas" data-fieldname="Costas" >
{$Costas_value}
</span>			</td>
														<td class="data {$fieldclass_Intereses}">
				{$xIntereses_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field19" {$item_report_grid_field19} data-pageid="{$pageid}" data-field="Intereses" data-fieldname="Intereses" >
{$Intereses_value}
</span>			</td>
														<td class="data {$fieldclass_Sancionado}">
				{$xSancionado_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field5" {$item_report_grid_field5} data-pageid="{$pageid}" data-field="Sancionado" data-fieldname="Sancionado" >
{$Sancionado_value}
</span>			</td>
														<td class="data {$fieldclass_Documento}">
				{$xDocumento_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field6" {$item_report_grid_field6} data-pageid="{$pageid}" data-field="Documento" data-fieldname="Documento" >
{$Documento_value}
</span>			</td>
														<td class="data {$fieldclass_Mandamiento}">
				{$xMandamiento_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field7" {$item_report_grid_field7} data-pageid="{$pageid}" data-field="Mandamiento" data-fieldname="Mandamiento" >
{$Mandamiento_value}
</span>			</td>
							</tr>
		{END row_data}
	
				{BEGIN Abogado_endgroup}
		<tr class="summaryrow"  >
										<td class="group_1" style="border-top: none;"></td>
							<td class="group_2" style="border-top: none;"></td>
							
																								<td  class="group_3" colspan=11 >
				Resumen de&nbsp;{$label dbo_ProcesosSinNotificaReport Abogado }&nbsp;{$Abogado_grval}
					- <span class="summary-3" data-type="summary">{$groupAbogado_total_cnt}
					</span> Registros totales			</td>
																																																																															</tr>

		<!--  Sum -->
		<tr class="grouptotalsrow" >
					
						<td class="group_1">&nbsp;</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="group_3">Sum</td>
								
						<td class="group_3">&nbsp;</td>
								
						<td class="group_3">&nbsp;</td>
								
						<td class="group_3">&nbsp;</td>
								
						<td class="group_3">&nbsp;</td>
								
						<td class="{$fieldclass_Obligacion} group_3">
				<span class="summary-3" data-type="sum" data-field="Obligacion">
					{$groupAbogado_totalObligacion_sum}
				</span>
			</td>
								
						<td class="{$fieldclass_Costas} group_3">
				<span class="summary-3" data-type="sum" data-field="Costas">
					{$groupAbogado_totalCostas_sum}
				</span>
			</td>
								
						<td class="{$fieldclass_Intereses} group_3">
				<span class="summary-3" data-type="sum" data-field="Intereses">
					{$groupAbogado_totalIntereses_sum}
				</span>
			</td>
								
						<td class="group_3">&nbsp;</td>
								
						<td class="group_3">&nbsp;</td>
								
						<td class="group_3">&nbsp;</td>
							</tr>
	
	
	
	
	{END Abogado_endgroup}
						{BEGIN SeccionalId_endgroup}
		<tr class="summaryrow"  >
										<td class="group_1" style="border-top: none;"></td>
							
																	<td  class="group_2" colspan=12 >
				Resumen de&nbsp;{$label dbo_ProcesosSinNotificaReport SeccionalId }&nbsp;{$SeccionalId_grval}
					- <span class="summary-2" data-type="summary">{$groupSeccionalId_total_cnt}
					</span> Registros totales			</td>
																																																																																						</tr>

		<!--  Sum -->
		<tr class="grouptotalsrow" >
					
						<td class="group_1">&nbsp;</td>
								
						<td class="group_2">Sum</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="{$fieldclass_Obligacion} group_2">
				<span class="summary-2" data-type="sum" data-field="Obligacion">
					{$groupSeccionalId_totalObligacion_sum}
				</span>
			</td>
								
						<td class="{$fieldclass_Costas} group_2">
				<span class="summary-2" data-type="sum" data-field="Costas">
					{$groupSeccionalId_totalCostas_sum}
				</span>
			</td>
								
						<td class="{$fieldclass_Intereses} group_2">
				<span class="summary-2" data-type="sum" data-field="Intereses">
					{$groupSeccionalId_totalIntereses_sum}
				</span>
			</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="group_2">&nbsp;</td>
							</tr>
	
	
	
	
	{END SeccionalId_endgroup}
						{BEGIN CarteraTipoId_endgroup}
		<tr class="summaryrow"  >
			
										<td  class="group_1" colspan=13 >
				Resumen de&nbsp;{$label dbo_ProcesosSinNotificaReport CarteraTipoId }&nbsp;{$CarteraTipoId_grval}
					- <span class="summary-1" data-type="summary">{$groupCarteraTipoId_total_cnt}
					</span> Registros totales			</td>
																																																																																													</tr>

		<!--  Sum -->
		<tr class="grouptotalsrow" >
					
						<td class="group_1">Sum</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="{$fieldclass_Obligacion} group_1">
				<span class="summary-1" data-type="sum" data-field="Obligacion">
					{$groupCarteraTipoId_totalObligacion_sum}
				</span>
			</td>
								
						<td class="{$fieldclass_Costas} group_1">
				<span class="summary-1" data-type="sum" data-field="Costas">
					{$groupCarteraTipoId_totalCostas_sum}
				</span>
			</td>
								
						<td class="{$fieldclass_Intereses} group_1">
				<span class="summary-1" data-type="sum" data-field="Intereses">
					{$groupCarteraTipoId_totalIntereses_sum}
				</span>
			</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="group_1">&nbsp;</td>
							</tr>
	
	
	
	
	{END CarteraTipoId_endgroup}
			
	{END grid_row}


	


    

	<!-- global summary-->
	{BEGIN global_summary}
    <tr class="summaryrow summary-global">
        <td class="globalsummary" colspan="13">
            Resumen global {$global_total_cnt} - Registros totales        </td>
    </tr>

	    <!--  Sum -->
    <tr class="summary-global">
					
                <td class="globalsummary">Sum</td>
        		
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary {$fieldclass_Obligacion}">
            {$global_totalObligacion_sum}
        </td>
        		
					
                <td class="globalsummary {$fieldclass_Costas}">
            {$global_totalCostas_sum}
        </td>
        		
					
                <td class="globalsummary {$fieldclass_Intereses}">
            {$global_totalIntereses_sum}
        </td>
        		
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary">&nbsp;</td>
				
		</tr>
	
	
	
		{END global_summary}

	</tbody>
</table>


			</div>
{END grid_block}									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
