<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_Procesos search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN SeccionalId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SeccionalId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="SeccionalId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="SeccionalId" data-fieldname="SeccionalId" >


	<label class="r-search-label control-label" for="{$labelfor_SeccionalId}">
		{$label dbo_Procesos SeccionalId }	</label>
	<div class="r-search-option">
		{$searchtype_SeccionalId}
	</div>
	<div class="r-search-field">
		{$SeccionalId_editcontrol}	</div>
	<div class="r-search-field">
		{$SeccionalId_editcontrol1}
	</div>
	
</div>

{END SeccionalId_fieldblock}
											
{BEGIN AbogadoId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_AbogadoId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="AbogadoId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="AbogadoId" data-fieldname="AbogadoId" >


	<label class="r-search-label control-label" for="{$labelfor_AbogadoId}">
		{$label dbo_Procesos AbogadoId }	</label>
	<div class="r-search-option">
		{$searchtype_AbogadoId}
	</div>
	<div class="r-search-field">
		{$AbogadoId_editcontrol}	</div>
	<div class="r-search-field">
		{$AbogadoId_editcontrol1}
	</div>
	
</div>

{END AbogadoId_fieldblock}
											
{BEGIN Fecha_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Fecha{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="Fecha" data-fieldname="Fecha" >


	<label class="r-search-label control-label" for="{$labelfor_Fecha}">
		{$label dbo_Procesos Fecha }	</label>
	<div class="r-search-option">
		{$searchtype_Fecha}
	</div>
	<div class="r-search-field">
		{$Fecha_editcontrol}	</div>
	<div class="r-search-field">
		{$Fecha_editcontrol1}
	</div>
	
</div>

{END Fecha_fieldblock}
											
{BEGIN Numero_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Numero}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Numero{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="Numero" data-fieldname="Numero" >


	<label class="r-search-label control-label" for="{$labelfor_Numero}">
		{$label dbo_Procesos Numero }	</label>
	<div class="r-search-option">
		{$searchtype_Numero}
	</div>
	<div class="r-search-field">
		{$Numero_editcontrol}	</div>
	<div class="r-search-field">
		{$Numero_editcontrol1}
	</div>
	
</div>

{END Numero_fieldblock}
											
{BEGIN DespachoId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DespachoId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DespachoId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="DespachoId" data-fieldname="DespachoId" >


	<label class="r-search-label control-label" for="{$labelfor_DespachoId}">
		{$label dbo_Procesos DespachoId }	</label>
	<div class="r-search-option">
		{$searchtype_DespachoId}
	</div>
	<div class="r-search-field">
		{$DespachoId_editcontrol}	</div>
	<div class="r-search-field">
		{$DespachoId_editcontrol1}
	</div>
	
</div>

{END DespachoId_fieldblock}
											
{BEGIN SancionadoId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SancionadoId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="SancionadoId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="SancionadoId" data-fieldname="SancionadoId" >


	<label class="r-search-label control-label" for="{$labelfor_SancionadoId}">
		{$label dbo_Procesos SancionadoId }	</label>
	<div class="r-search-option">
		{$searchtype_SancionadoId}
	</div>
	<div class="r-search-field">
		{$SancionadoId_editcontrol}	</div>
	<div class="r-search-field">
		{$SancionadoId_editcontrol1}
	</div>
	
</div>

{END SancionadoId_fieldblock}
											
{BEGIN Providencia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Providencia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Providencia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="Providencia" data-fieldname="Providencia" >


	<label class="r-search-label control-label" for="{$labelfor_Providencia}">
		{$label dbo_Procesos Providencia }	</label>
	<div class="r-search-option">
		{$searchtype_Providencia}
	</div>
	<div class="r-search-field">
		{$Providencia_editcontrol}	</div>
	<div class="r-search-field">
		{$Providencia_editcontrol1}
	</div>
	
</div>

{END Providencia_fieldblock}
											
{BEGIN Ejecutoria_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Ejecutoria}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Ejecutoria{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="Ejecutoria" data-fieldname="Ejecutoria" >


	<label class="r-search-label control-label" for="{$labelfor_Ejecutoria}">
		{$label dbo_Procesos Ejecutoria }	</label>
	<div class="r-search-option">
		{$searchtype_Ejecutoria}
	</div>
	<div class="r-search-field">
		{$Ejecutoria_editcontrol}	</div>
	<div class="r-search-field">
		{$Ejecutoria_editcontrol1}
	</div>
	
</div>

{END Ejecutoria_fieldblock}
											
{BEGIN EstadoId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_EstadoId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="EstadoId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="EstadoId" data-fieldname="EstadoId" >


	<label class="r-search-label control-label" for="{$labelfor_EstadoId}">
		{$label dbo_Procesos EstadoId }	</label>
	<div class="r-search-option">
		{$searchtype_EstadoId}
	</div>
	<div class="r-search-field">
		{$EstadoId_editcontrol}	</div>
	<div class="r-search-field">
		{$EstadoId_editcontrol1}
	</div>
	
</div>

{END EstadoId_fieldblock}
											
{BEGIN EtapaId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_EtapaId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="EtapaId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="EtapaId" data-fieldname="EtapaId" >


	<label class="r-search-label control-label" for="{$labelfor_EtapaId}">
		{$label dbo_Procesos EtapaId }	</label>
	<div class="r-search-option">
		{$searchtype_EtapaId}
	</div>
	<div class="r-search-field">
		{$EtapaId_editcontrol}	</div>
	<div class="r-search-field">
		{$EtapaId_editcontrol1}
	</div>
	
</div>

{END EtapaId_fieldblock}
											
{BEGIN Folios_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Folios}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Folios{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="Folios" data-fieldname="Folios" >


	<label class="r-search-label control-label" for="{$labelfor_Folios}">
		{$label dbo_Procesos Folios }	</label>
	<div class="r-search-option">
		{$searchtype_Folios}
	</div>
	<div class="r-search-field">
		{$Folios_editcontrol}	</div>
	<div class="r-search-field">
		{$Folios_editcontrol1}
	</div>
	
</div>

{END Folios_fieldblock}
											
{BEGIN Obligacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Obligacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Obligacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="Obligacion" data-fieldname="Obligacion" >


	<label class="r-search-label control-label" for="{$labelfor_Obligacion}">
		{$label dbo_Procesos Obligacion }	</label>
	<div class="r-search-option">
		{$searchtype_Obligacion}
	</div>
	<div class="r-search-field">
		{$Obligacion_editcontrol}	</div>
	<div class="r-search-field">
		{$Obligacion_editcontrol1}
	</div>
	
</div>

{END Obligacion_fieldblock}
											
{BEGIN Costas_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Costas}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Costas{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="Costas" data-fieldname="Costas" >


	<label class="r-search-label control-label" for="{$labelfor_Costas}">
		{$label dbo_Procesos Costas }	</label>
	<div class="r-search-option">
		{$searchtype_Costas}
	</div>
	<div class="r-search-field">
		{$Costas_editcontrol}	</div>
	<div class="r-search-field">
		{$Costas_editcontrol1}
	</div>
	
</div>

{END Costas_fieldblock}
											
{BEGIN Liquidacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Liquidacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Liquidacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="Liquidacion" data-fieldname="Liquidacion" >


	<label class="r-search-label control-label" for="{$labelfor_Liquidacion}">
		{$label dbo_Procesos Liquidacion }	</label>
	<div class="r-search-option">
		{$searchtype_Liquidacion}
	</div>
	<div class="r-search-field">
		{$Liquidacion_editcontrol}	</div>
	<div class="r-search-field">
		{$Liquidacion_editcontrol1}
	</div>
	
</div>

{END Liquidacion_fieldblock}
											
{BEGIN Dias_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Dias}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Dias{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="Dias" data-fieldname="Dias" >


	<label class="r-search-label control-label" for="{$labelfor_Dias}">
		{$label dbo_Procesos Dias }	</label>
	<div class="r-search-option">
		{$searchtype_Dias}
	</div>
	<div class="r-search-field">
		{$Dias_editcontrol}	</div>
	<div class="r-search-field">
		{$Dias_editcontrol1}
	</div>
	
</div>

{END Dias_fieldblock}
											
{BEGIN Intereses_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Intereses}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Intereses{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="Intereses" data-fieldname="Intereses" >


	<label class="r-search-label control-label" for="{$labelfor_Intereses}">
		{$label dbo_Procesos Intereses }	</label>
	<div class="r-search-option">
		{$searchtype_Intereses}
	</div>
	<div class="r-search-field">
		{$Intereses_editcontrol}	</div>
	<div class="r-search-field">
		{$Intereses_editcontrol1}
	</div>
	
</div>

{END Intereses_fieldblock}
											
{BEGIN Recaudo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Recaudo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Recaudo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="Recaudo" data-fieldname="Recaudo" >


	<label class="r-search-label control-label" for="{$labelfor_Recaudo}">
		{$label dbo_Procesos Recaudo }	</label>
	<div class="r-search-option">
		{$searchtype_Recaudo}
	</div>
	<div class="r-search-field">
		{$Recaudo_editcontrol}	</div>
	<div class="r-search-field">
		{$Recaudo_editcontrol1}
	</div>
	
</div>

{END Recaudo_fieldblock}
											
{BEGIN Terminacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Terminacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Terminacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="Terminacion" data-fieldname="Terminacion" >


	<label class="r-search-label control-label" for="{$labelfor_Terminacion}">
		{$label dbo_Procesos Terminacion }	</label>
	<div class="r-search-option">
		{$searchtype_Terminacion}
	</div>
	<div class="r-search-field">
		{$Terminacion_editcontrol}	</div>
	<div class="r-search-field">
		{$Terminacion_editcontrol1}
	</div>
	
</div>

{END Terminacion_fieldblock}
											
{BEGIN MotivoId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_MotivoId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="MotivoId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="MotivoId" data-fieldname="MotivoId" >


	<label class="r-search-label control-label" for="{$labelfor_MotivoId}">
		{$label dbo_Procesos MotivoId }	</label>
	<div class="r-search-option">
		{$searchtype_MotivoId}
	</div>
	<div class="r-search-field">
		{$MotivoId_editcontrol}	</div>
	<div class="r-search-field">
		{$MotivoId_editcontrol1}
	</div>
	
</div>

{END MotivoId_fieldblock}
											
{BEGIN Radicado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Radicado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Radicado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="Radicado" data-fieldname="Radicado" >


	<label class="r-search-label control-label" for="{$labelfor_Radicado}">
		{$label dbo_Procesos Radicado }	</label>
	<div class="r-search-option">
		{$searchtype_Radicado}
	</div>
	<div class="r-search-field">
		{$Radicado_editcontrol}	</div>
	<div class="r-search-field">
		{$Radicado_editcontrol1}
	</div>
	
</div>

{END Radicado_fieldblock}
											
{BEGIN Acuerdo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Acuerdo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Acuerdo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="Acuerdo" data-fieldname="Acuerdo" >


	<label class="r-search-label control-label" for="{$labelfor_Acuerdo}">
		{$label dbo_Procesos Acuerdo }	</label>
	<div class="r-search-option">
		{$searchtype_Acuerdo}
	</div>
	<div class="r-search-field">
		{$Acuerdo_editcontrol}	</div>
	<div class="r-search-field">
		{$Acuerdo_editcontrol1}
	</div>
	
</div>

{END Acuerdo_fieldblock}
											
{BEGIN Incumplimiento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Incumplimiento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Incumplimiento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="Incumplimiento" data-fieldname="Incumplimiento" >


	<label class="r-search-label control-label" for="{$labelfor_Incumplimiento}">
		{$label dbo_Procesos Incumplimiento }	</label>
	<div class="r-search-option">
		{$searchtype_Incumplimiento}
	</div>
	<div class="r-search-field">
		{$Incumplimiento_editcontrol}	</div>
	<div class="r-search-field">
		{$Incumplimiento_editcontrol1}
	</div>
	
</div>

{END Incumplimiento_fieldblock}
											
{BEGIN Notificacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Notificacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Notificacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="Notificacion" data-fieldname="Notificacion" >


	<label class="r-search-label control-label" for="{$labelfor_Notificacion}">
		{$label dbo_Procesos Notificacion }	</label>
	<div class="r-search-option">
		{$searchtype_Notificacion}
	</div>
	<div class="r-search-field">
		{$Notificacion_editcontrol}	</div>
	<div class="r-search-field">
		{$Notificacion_editcontrol1}
	</div>
	
</div>

{END Notificacion_fieldblock}
											
{BEGIN CarteraTipoId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CarteraTipoId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CarteraTipoId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field38" {$item_integrated_search_field38} data-pageid="{$pageid}" data-field="CarteraTipoId" data-fieldname="CarteraTipoId" >


	<label class="r-search-label control-label" for="{$labelfor_CarteraTipoId}">
		{$label dbo_Procesos CarteraTipoId }	</label>
	<div class="r-search-option">
		{$searchtype_CarteraTipoId}
	</div>
	<div class="r-search-field">
		{$CarteraTipoId_editcontrol}	</div>
	<div class="r-search-field">
		{$CarteraTipoId_editcontrol1}
	</div>
	
</div>

{END CarteraTipoId_fieldblock}
											
{BEGIN ActuacionId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ActuacionId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ActuacionId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field43" {$item_integrated_search_field43} data-pageid="{$pageid}" data-field="ActuacionId" data-fieldname="ActuacionId" >


	<label class="r-search-label control-label" for="{$labelfor_ActuacionId}">
		{$label dbo_Procesos ActuacionId }	</label>
	<div class="r-search-option">
		{$searchtype_ActuacionId}
	</div>
	<div class="r-search-field">
		{$ActuacionId_editcontrol}	</div>
	<div class="r-search-field">
		{$ActuacionId_editcontrol1}
	</div>
	
</div>

{END ActuacionId_fieldblock}
											
{BEGIN ObligacionInicial_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ObligacionInicial}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ObligacionInicial{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field44" {$item_integrated_search_field44} data-pageid="{$pageid}" data-field="ObligacionInicial" data-fieldname="ObligacionInicial" >


	<label class="r-search-label control-label" for="{$labelfor_ObligacionInicial}">
		{$label dbo_Procesos ObligacionInicial }	</label>
	<div class="r-search-option">
		{$searchtype_ObligacionInicial}
	</div>
	<div class="r-search-field">
		{$ObligacionInicial_editcontrol}	</div>
	<div class="r-search-field">
		{$ObligacionInicial_editcontrol1}
	</div>
	
</div>

{END ObligacionInicial_fieldblock}
											
{BEGIN CostasInicial_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CostasInicial}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CostasInicial{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field45" {$item_integrated_search_field45} data-pageid="{$pageid}" data-field="CostasInicial" data-fieldname="CostasInicial" >


	<label class="r-search-label control-label" for="{$labelfor_CostasInicial}">
		{$label dbo_Procesos CostasInicial }	</label>
	<div class="r-search-option">
		{$searchtype_CostasInicial}
	</div>
	<div class="r-search-field">
		{$CostasInicial_editcontrol}	</div>
	<div class="r-search-field">
		{$CostasInicial_editcontrol1}
	</div>
	
</div>

{END CostasInicial_fieldblock}
											
{BEGIN InteresesInicial_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_InteresesInicial}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="InteresesInicial{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field46" {$item_integrated_search_field46} data-pageid="{$pageid}" data-field="InteresesInicial" data-fieldname="InteresesInicial" >


	<label class="r-search-label control-label" for="{$labelfor_InteresesInicial}">
		{$label dbo_Procesos InteresesInicial }	</label>
	<div class="r-search-option">
		{$searchtype_InteresesInicial}
	</div>
	<div class="r-search-field">
		{$InteresesInicial_editcontrol}	</div>
	<div class="r-search-field">
		{$InteresesInicial_editcontrol1}
	</div>
	
</div>

{END InteresesInicial_fieldblock}
											
{BEGIN Plazo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Plazo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Plazo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field69" {$item_integrated_search_field69} data-pageid="{$pageid}" data-field="Plazo" data-fieldname="Plazo" >


	<label class="r-search-label control-label" for="{$labelfor_Plazo}">
		{$label dbo_Procesos Plazo }	</label>
	<div class="r-search-option">
		{$searchtype_Plazo}
	</div>
	<div class="r-search-field">
		{$Plazo_editcontrol}	</div>
	<div class="r-search-field">
		{$Plazo_editcontrol1}
	</div>
	
</div>

{END Plazo_fieldblock}
											
{BEGIN NaturalezaId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NaturalezaId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="NaturalezaId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field70" {$item_integrated_search_field70} data-pageid="{$pageid}" data-field="NaturalezaId" data-fieldname="NaturalezaId" >


	<label class="r-search-label control-label" for="{$labelfor_NaturalezaId}">
		{$label dbo_Procesos NaturalezaId }	</label>
	<div class="r-search-option">
		{$searchtype_NaturalezaId}
	</div>
	<div class="r-search-field">
		{$NaturalezaId_editcontrol}	</div>
	<div class="r-search-field">
		{$NaturalezaId_editcontrol1}
	</div>
	
</div>

{END NaturalezaId_fieldblock}
											
{BEGIN SaldoFinal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SaldoFinal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="SaldoFinal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="SaldoFinal" data-fieldname="SaldoFinal" >


	<label class="r-search-label control-label" for="{$labelfor_SaldoFinal}">
		{$label dbo_Procesos SaldoFinal }	</label>
	<div class="r-search-option">
		{$searchtype_SaldoFinal}
	</div>
	<div class="r-search-field">
		{$SaldoFinal_editcontrol}	</div>
	<div class="r-search-field">
		{$SaldoFinal_editcontrol1}
	</div>
	
</div>

{END SaldoFinal_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
