<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_Propiedades3 add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editar</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Observaciones_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Observaciones}  r-vertical-field" 
	data-signal-error-for="Observaciones{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Observaciones" data-fieldname="Observaciones" >

	<label class="r-edit-label control-label" for="{$labelfor_Observaciones}">
		{BEGIN Observaciones_label}{$label dbo_Propiedades3 Observaciones }{END Observaciones_label}
	</label>
	<div class="r-edit-field">
		{$Observaciones_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Observaciones" {$tooltipAttr dbo_Propiedades3 Observaciones } >
		<div class="text-muted" >
		{$tooltip dbo_Propiedades3 Observaciones }		</div>
	</div>
</div>


{END Observaciones_fieldblock}
											
{BEGIN SancionadoId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SancionadoId}  r-vertical-field" 
	data-signal-error-for="SancionadoId{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="SancionadoId" data-fieldname="SancionadoId" >

	<label class="r-edit-label control-label" for="{$labelfor_SancionadoId}">
		{BEGIN SancionadoId_label}{$label dbo_Propiedades3 SancionadoId }{END SancionadoId_label}
	</label>
	<div class="r-edit-field">
		{$SancionadoId_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="SancionadoId" {$tooltipAttr dbo_Propiedades3 SancionadoId } >
		<div class="text-muted" >
		{$tooltip dbo_Propiedades3 SancionadoId }		</div>
	</div>
</div>


{END SancionadoId_fieldblock}
											
{BEGIN Descripci_n_del_Bien_Inmueble_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Descripci_n_del_Bien_Inmueble}  r-vertical-field" 
	data-signal-error-for="Descripci_n_del_Bien_Inmueble{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Descripci_n_del_Bien_Inmueble" data-fieldname="Descripción del Bien Inmueble" >

	<label class="r-edit-label control-label" for="{$labelfor_Descripci_n_del_Bien_Inmueble}">
		{BEGIN Descripci_n_del_Bien_Inmueble_label}{$label dbo_Propiedades3 Descripci_n_del_Bien_Inmueble }{END Descripci_n_del_Bien_Inmueble_label}
	</label>
	<div class="r-edit-field">
		{$Descripci_n_del_Bien_Inmueble_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Descripci_n_del_Bien_Inmueble" {$tooltipAttr dbo_Propiedades3 Descripci_n_del_Bien_Inmueble } >
		<div class="text-muted" >
		{$tooltip dbo_Propiedades3 Descripci_n_del_Bien_Inmueble }		</div>
	</div>
</div>


{END Descripci_n_del_Bien_Inmueble_fieldblock}
											
{BEGIN Matr_cula_Inmobiliaria_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Matr_cula_Inmobiliaria}  r-vertical-field" 
	data-signal-error-for="Matr_cula_Inmobiliaria{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Matr_cula_Inmobiliaria" data-fieldname="Matrícula Inmobiliaria" >

	<label class="r-edit-label control-label" for="{$labelfor_Matr_cula_Inmobiliaria}">
		{BEGIN Matr_cula_Inmobiliaria_label}{$label dbo_Propiedades3 Matr_cula_Inmobiliaria }{END Matr_cula_Inmobiliaria_label}
	</label>
	<div class="r-edit-field">
		{$Matr_cula_Inmobiliaria_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Matr_cula_Inmobiliaria" {$tooltipAttr dbo_Propiedades3 Matr_cula_Inmobiliaria } >
		<div class="text-muted" >
		{$tooltip dbo_Propiedades3 Matr_cula_Inmobiliaria }		</div>
	</div>
</div>


{END Matr_cula_Inmobiliaria_fieldblock}
											
{BEGIN Aval_o_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Aval_o}  r-vertical-field" 
	data-signal-error-for="Aval_o{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Aval_o" data-fieldname="Avalúo" >

	<label class="r-edit-label control-label" for="{$labelfor_Aval_o}">
		{BEGIN Aval_o_label}{$label dbo_Propiedades3 Aval_o }{END Aval_o_label}
	</label>
	<div class="r-edit-field">
		{$Aval_o_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Aval_o" {$tooltipAttr dbo_Propiedades3 Aval_o } >
		<div class="text-muted" >
		{$tooltip dbo_Propiedades3 Aval_o }		</div>
	</div>
</div>


{END Aval_o_fieldblock}
											
{BEGIN Ciudad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Ciudad}  r-vertical-field" 
	data-signal-error-for="Ciudad{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Ciudad" data-fieldname="Ciudad" >

	<label class="r-edit-label control-label" for="{$labelfor_Ciudad}">
		{BEGIN Ciudad_label}{$label dbo_Propiedades3 Ciudad }{END Ciudad_label}
	</label>
	<div class="r-edit-field">
		{$Ciudad_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Ciudad" {$tooltipAttr dbo_Propiedades3 Ciudad } >
		<div class="text-muted" >
		{$tooltip dbo_Propiedades3 Ciudad }		</div>
	</div>
</div>


{END Ciudad_fieldblock}
											
{BEGIN Direcci_n_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Direcci_n}  r-vertical-field" 
	data-signal-error-for="Direcci_n{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Direcci_n" data-fieldname="Dirección" >

	<label class="r-edit-label control-label" for="{$labelfor_Direcci_n}">
		{BEGIN Direcci_n_label}{$label dbo_Propiedades3 Direcci_n }{END Direcci_n_label}
	</label>
	<div class="r-edit-field">
		{$Direcci_n_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Direcci_n" {$tooltipAttr dbo_Propiedades3 Direcci_n } >
		<div class="text-muted" >
		{$tooltip dbo_Propiedades3 Direcci_n }		</div>
	</div>
</div>


{END Direcci_n_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
