<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_Propiedades edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="propiedades_view.php?{$editlink}" {$view_page_button_attrs}>Ver</a>
{END message_view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN SancionadoId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SancionadoId}  r-vertical-field" 
	data-signal-error-for="SancionadoId{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="SancionadoId" data-fieldname="SancionadoId" >

	<label class="r-edit-label control-label" for="{$labelfor_SancionadoId}">
		{BEGIN SancionadoId_label}{$label dbo_Propiedades SancionadoId }{END SancionadoId_label}
	</label>
	<div class="r-edit-field">
		{$SancionadoId_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="SancionadoId" {$tooltipAttr dbo_Propiedades SancionadoId } >
		<div class="text-muted" >
		{$tooltip dbo_Propiedades SancionadoId }		</div>
	</div>
</div>


{END SancionadoId_fieldblock}
											
{BEGIN TipoPropiedad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_TipoPropiedad}  r-vertical-field" 
	data-signal-error-for="TipoPropiedad{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="TipoPropiedad" data-fieldname="TipoPropiedad" >

	<label class="r-edit-label control-label" for="{$labelfor_TipoPropiedad}">
		{BEGIN TipoPropiedad_label}{$label dbo_Propiedades TipoPropiedad }{END TipoPropiedad_label}
	</label>
	<div class="r-edit-field">
		{$TipoPropiedad_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="TipoPropiedad" {$tooltipAttr dbo_Propiedades TipoPropiedad } >
		<div class="text-muted" >
		{$tooltip dbo_Propiedades TipoPropiedad }		</div>
	</div>
</div>


{END TipoPropiedad_fieldblock}
											
{BEGIN Propiedad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Propiedad}  r-vertical-field" 
	data-signal-error-for="Propiedad{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Propiedad" data-fieldname="Propiedad" >

	<label class="r-edit-label control-label" for="{$labelfor_Propiedad}">
		{BEGIN Propiedad_label}{$label dbo_Propiedades Propiedad }{END Propiedad_label}
	</label>
	<div class="r-edit-field">
		{$Propiedad_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Propiedad" {$tooltipAttr dbo_Propiedades Propiedad } >
		<div class="text-muted" >
		{$tooltip dbo_Propiedades Propiedad }		</div>
	</div>
</div>


{END Propiedad_fieldblock}
											
{BEGIN Matricula_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Matricula}  r-vertical-field" 
	data-signal-error-for="Matricula{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Matricula" data-fieldname="Matricula" >

	<label class="r-edit-label control-label" for="{$labelfor_Matricula}">
		{BEGIN Matricula_label}{$label dbo_Propiedades Matricula }{END Matricula_label}
	</label>
	<div class="r-edit-field">
		{$Matricula_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Matricula" {$tooltipAttr dbo_Propiedades Matricula } >
		<div class="text-muted" >
		{$tooltip dbo_Propiedades Matricula }		</div>
	</div>
</div>


{END Matricula_fieldblock}
											
{BEGIN Avaluo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Avaluo}  r-vertical-field" 
	data-signal-error-for="Avaluo{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Avaluo" data-fieldname="Avaluo" >

	<label class="r-edit-label control-label" for="{$labelfor_Avaluo}">
		{BEGIN Avaluo_label}{$label dbo_Propiedades Avaluo }{END Avaluo_label}
	</label>
	<div class="r-edit-field">
		{$Avaluo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Avaluo" {$tooltipAttr dbo_Propiedades Avaluo } >
		<div class="text-muted" >
		{$tooltip dbo_Propiedades Avaluo }		</div>
	</div>
</div>


{END Avaluo_fieldblock}
											
{BEGIN CiudadId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CiudadId}  r-vertical-field" 
	data-signal-error-for="CiudadId{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="CiudadId" data-fieldname="CiudadId" >

	<label class="r-edit-label control-label" for="{$labelfor_CiudadId}">
		{BEGIN CiudadId_label}{$label dbo_Propiedades CiudadId }{END CiudadId_label}
	</label>
	<div class="r-edit-field">
		{$CiudadId_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="CiudadId" {$tooltipAttr dbo_Propiedades CiudadId } >
		<div class="text-muted" >
		{$tooltip dbo_Propiedades CiudadId }		</div>
	</div>
</div>


{END CiudadId_fieldblock}
											
{BEGIN Direccion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Direccion}  r-vertical-field" 
	data-signal-error-for="Direccion{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="Direccion" data-fieldname="Direccion" >

	<label class="r-edit-label control-label" for="{$labelfor_Direccion}">
		{BEGIN Direccion_label}{$label dbo_Propiedades Direccion }{END Direccion_label}
	</label>
	<div class="r-edit-field">
		{$Direccion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Direccion" {$tooltipAttr dbo_Propiedades Direccion } >
		<div class="text-muted" >
		{$tooltip dbo_Propiedades Direccion }		</div>
	</div>
</div>


{END Direccion_fieldblock}
											
{BEGIN Observaciones_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Observaciones}  r-vertical-field" 
	data-signal-error-for="Observaciones{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Observaciones" data-fieldname="Observaciones" >

	<label class="r-edit-label control-label" for="{$labelfor_Observaciones}">
		{BEGIN Observaciones_label}{$label dbo_Propiedades Observaciones }{END Observaciones_label}
	</label>
	<div class="r-edit-field">
		{$Observaciones_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Observaciones" {$tooltipAttr dbo_Propiedades Observaciones } >
		<div class="text-muted" >
		{$tooltip dbo_Propiedades Observaciones }		</div>
	</div>
</div>


{END Observaciones_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancelar			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Reiniciar		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="propiedades_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		Ver		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
