<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_Reliquidaciones view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Fecha_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha}  r-vertical-field" data-fieldname="Fecha" data-signal-error-for="Fecha{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Fecha" data-fieldname="Fecha" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Fecha}">
		
		{BEGIN Fecha_label}{$label dbo_Reliquidaciones Fecha }{END Fecha_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Fecha_value}	</div>

		
</div>


{END Fecha_fieldblock}
											
{BEGIN Dias_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Dias}  r-vertical-field" data-fieldname="Dias" data-signal-error-for="Dias{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Dias" data-fieldname="Dias" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Dias}">
		
		{BEGIN Dias_label}{$label dbo_Reliquidaciones Dias }{END Dias_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Dias_value}	</div>

		
</div>


{END Dias_fieldblock}
											
{BEGIN Tasa_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Tasa}  r-vertical-field" data-fieldname="Tasa" data-signal-error-for="Tasa{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Tasa" data-fieldname="Tasa" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Tasa}">
		
		{BEGIN Tasa_label}{$label dbo_Reliquidaciones Tasa }{END Tasa_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Tasa_value}	</div>

		
</div>


{END Tasa_fieldblock}
											
{BEGIN Intereses_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Intereses}  r-vertical-field" data-fieldname="Intereses" data-signal-error-for="Intereses{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Intereses" data-fieldname="Intereses" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Intereses}">
		
		{BEGIN Intereses_label}{$label dbo_Reliquidaciones Intereses }{END Intereses_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Intereses_value}	</div>

		
</div>


{END Intereses_fieldblock}
											
{BEGIN ReliquidacionId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ReliquidacionId}  r-vertical-field" data-fieldname="ReliquidacionId" data-signal-error-for="ReliquidacionId{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="ReliquidacionId" data-fieldname="ReliquidacionId" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ReliquidacionId}">
		
		{BEGIN ReliquidacionId_label}{$label dbo_Reliquidaciones ReliquidacionId }{END ReliquidacionId_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ReliquidacionId_value}	</div>

		
</div>


{END ReliquidacionId_fieldblock}
											
{BEGIN ProcesoId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcesoId}  r-vertical-field" data-fieldname="ProcesoId" data-signal-error-for="ProcesoId{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="ProcesoId" data-fieldname="ProcesoId" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ProcesoId}">
		
		{BEGIN ProcesoId_label}{$label dbo_Reliquidaciones ProcesoId }{END ProcesoId_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ProcesoId_value}	</div>

		
</div>


{END ProcesoId_fieldblock}
											
{BEGIN O__Recaudada_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_O__Recaudada}  r-vertical-field" data-fieldname="O. Recaudada" data-signal-error-for="O__Recaudada{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="O__Recaudada" data-fieldname="O. Recaudada" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_O__Recaudada}">
		
		{BEGIN O__Recaudada_label}{$label dbo_Reliquidaciones O__Recaudada }{END O__Recaudada_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$O__Recaudada_value}	</div>

		
</div>


{END O__Recaudada_fieldblock}
											
{BEGIN O__Novedad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_O__Novedad}  r-vertical-field" data-fieldname="O. Novedad" data-signal-error-for="O__Novedad{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="O__Novedad" data-fieldname="O. Novedad" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_O__Novedad}">
		
		{BEGIN O__Novedad_label}{$label dbo_Reliquidaciones O__Novedad }{END O__Novedad_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$O__Novedad_value}	</div>

		
</div>


{END O__Novedad_fieldblock}
											
{BEGIN O__Saldo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_O__Saldo}  r-vertical-field" data-fieldname="O. Saldo" data-signal-error-for="O__Saldo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="O__Saldo" data-fieldname="O. Saldo" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_O__Saldo}">
		
		{BEGIN O__Saldo_label}{$label dbo_Reliquidaciones O__Saldo }{END O__Saldo_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$O__Saldo_value}	</div>

		
</div>


{END O__Saldo_fieldblock}
											
{BEGIN I__Recaudados_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_I__Recaudados}  r-vertical-field" data-fieldname="I. Recaudados" data-signal-error-for="I__Recaudados{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="I__Recaudados" data-fieldname="I. Recaudados" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_I__Recaudados}">
		
		{BEGIN I__Recaudados_label}{$label dbo_Reliquidaciones I__Recaudados }{END I__Recaudados_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$I__Recaudados_value}	</div>

		
</div>


{END I__Recaudados_fieldblock}
											
{BEGIN I__Novedades_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_I__Novedades}  r-vertical-field" data-fieldname="I. Novedades" data-signal-error-for="I__Novedades{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="I__Novedades" data-fieldname="I. Novedades" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_I__Novedades}">
		
		{BEGIN I__Novedades_label}{$label dbo_Reliquidaciones I__Novedades }{END I__Novedades_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$I__Novedades_value}	</div>

		
</div>


{END I__Novedades_fieldblock}
											
{BEGIN I__Saldo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_I__Saldo}  r-vertical-field" data-fieldname="I. Saldo" data-signal-error-for="I__Saldo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="I__Saldo" data-fieldname="I. Saldo" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_I__Saldo}">
		
		{BEGIN I__Saldo_label}{$label dbo_Reliquidaciones I__Saldo }{END I__Saldo_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$I__Saldo_value}	</div>

		
</div>


{END I__Saldo_fieldblock}
											
{BEGIN C__Recaudados_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_C__Recaudados}  r-vertical-field" data-fieldname="C. Recaudados" data-signal-error-for="C__Recaudados{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="C__Recaudados" data-fieldname="C. Recaudados" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_C__Recaudados}">
		
		{BEGIN C__Recaudados_label}{$label dbo_Reliquidaciones C__Recaudados }{END C__Recaudados_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$C__Recaudados_value}	</div>

		
</div>


{END C__Recaudados_fieldblock}
											
{BEGIN C__Novedad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_C__Novedad}  r-vertical-field" data-fieldname="C. Novedad" data-signal-error-for="C__Novedad{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="C__Novedad" data-fieldname="C. Novedad" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_C__Novedad}">
		
		{BEGIN C__Novedad_label}{$label dbo_Reliquidaciones C__Novedad }{END C__Novedad_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$C__Novedad_value}	</div>

		
</div>


{END C__Novedad_fieldblock}
											
{BEGIN C__Saldo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_C__Saldo}  r-vertical-field" data-fieldname="C. Saldo" data-signal-error-for="C__Saldo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="C__Saldo" data-fieldname="C. Saldo" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_C__Saldo}">
		
		{BEGIN C__Saldo_label}{$label dbo_Reliquidaciones C__Saldo }{END C__Saldo_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$C__Saldo_value}	</div>

		
</div>


{END C__Saldo_fieldblock}
											
{BEGIN Saldo_Total_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Saldo_Total}  r-vertical-field" data-fieldname="Saldo Total" data-signal-error-for="Saldo_Total{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="Saldo_Total" data-fieldname="Saldo Total" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Saldo_Total}">
		
		{BEGIN Saldo_Total_label}{$label dbo_Reliquidaciones Saldo_Total }{END Saldo_Total_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Saldo_Total_value}	</div>

		
</div>


{END Saldo_Total_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
