<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_Reliquidaciones search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ReliquidacionId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ReliquidacionId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ReliquidacionId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="ReliquidacionId" data-fieldname="ReliquidacionId" >


	<label class="r-search-label control-label" for="{$labelfor_ReliquidacionId}">
		{$label dbo_Reliquidaciones ReliquidacionId }	</label>
	<div class="r-search-option">
		{$searchtype_ReliquidacionId}
	</div>
	<div class="r-search-field">
		{$ReliquidacionId_editcontrol}	</div>
	<div class="r-search-field">
		{$ReliquidacionId_editcontrol1}
	</div>
	
</div>

{END ReliquidacionId_fieldblock}
											
{BEGIN ProcesoId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcesoId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProcesoId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="ProcesoId" data-fieldname="ProcesoId" >


	<label class="r-search-label control-label" for="{$labelfor_ProcesoId}">
		{$label dbo_Reliquidaciones ProcesoId }	</label>
	<div class="r-search-option">
		{$searchtype_ProcesoId}
	</div>
	<div class="r-search-field">
		{$ProcesoId_editcontrol}	</div>
	<div class="r-search-field">
		{$ProcesoId_editcontrol1}
	</div>
	
</div>

{END ProcesoId_fieldblock}
											
{BEGIN Fecha_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Fecha{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="Fecha" data-fieldname="Fecha" >


	<label class="r-search-label control-label" for="{$labelfor_Fecha}">
		{$label dbo_Reliquidaciones Fecha }	</label>
	<div class="r-search-option">
		{$searchtype_Fecha}
	</div>
	<div class="r-search-field">
		{$Fecha_editcontrol}	</div>
	<div class="r-search-field">
		{$Fecha_editcontrol1}
	</div>
	
</div>

{END Fecha_fieldblock}
											
{BEGIN Dias_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Dias}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Dias{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="Dias" data-fieldname="Dias" >


	<label class="r-search-label control-label" for="{$labelfor_Dias}">
		{$label dbo_Reliquidaciones Dias }	</label>
	<div class="r-search-option">
		{$searchtype_Dias}
	</div>
	<div class="r-search-field">
		{$Dias_editcontrol}	</div>
	<div class="r-search-field">
		{$Dias_editcontrol1}
	</div>
	
</div>

{END Dias_fieldblock}
											
{BEGIN Tasa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Tasa}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Tasa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="Tasa" data-fieldname="Tasa" >


	<label class="r-search-label control-label" for="{$labelfor_Tasa}">
		{$label dbo_Reliquidaciones Tasa }	</label>
	<div class="r-search-option">
		{$searchtype_Tasa}
	</div>
	<div class="r-search-field">
		{$Tasa_editcontrol}	</div>
	<div class="r-search-field">
		{$Tasa_editcontrol1}
	</div>
	
</div>

{END Tasa_fieldblock}
											
{BEGIN Intereses_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Intereses}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Intereses{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Intereses" data-fieldname="Intereses" >


	<label class="r-search-label control-label" for="{$labelfor_Intereses}">
		{$label dbo_Reliquidaciones Intereses }	</label>
	<div class="r-search-option">
		{$searchtype_Intereses}
	</div>
	<div class="r-search-field">
		{$Intereses_editcontrol}	</div>
	<div class="r-search-field">
		{$Intereses_editcontrol1}
	</div>
	
</div>

{END Intereses_fieldblock}
											
{BEGIN ObliReca_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ObliReca}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ObliReca{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="ObliReca" data-fieldname="ObliReca" >


	<label class="r-search-label control-label" for="{$labelfor_ObliReca}">
		{$label dbo_Reliquidaciones ObliReca }	</label>
	<div class="r-search-option">
		{$searchtype_ObliReca}
	</div>
	<div class="r-search-field">
		{$ObliReca_editcontrol}	</div>
	<div class="r-search-field">
		{$ObliReca_editcontrol1}
	</div>
	
</div>

{END ObliReca_fieldblock}
											
{BEGIN ObliNove_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ObliNove}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ObliNove{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="ObliNove" data-fieldname="ObliNove" >


	<label class="r-search-label control-label" for="{$labelfor_ObliNove}">
		{$label dbo_Reliquidaciones ObliNove }	</label>
	<div class="r-search-option">
		{$searchtype_ObliNove}
	</div>
	<div class="r-search-field">
		{$ObliNove_editcontrol}	</div>
	<div class="r-search-field">
		{$ObliNove_editcontrol1}
	</div>
	
</div>

{END ObliNove_fieldblock}
											
{BEGIN ObliSald_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ObliSald}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ObliSald{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="ObliSald" data-fieldname="ObliSald" >


	<label class="r-search-label control-label" for="{$labelfor_ObliSald}">
		{$label dbo_Reliquidaciones ObliSald }	</label>
	<div class="r-search-option">
		{$searchtype_ObliSald}
	</div>
	<div class="r-search-field">
		{$ObliSald_editcontrol}	</div>
	<div class="r-search-field">
		{$ObliSald_editcontrol1}
	</div>
	
</div>

{END ObliSald_fieldblock}
											
{BEGIN InteReca_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_InteReca}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="InteReca{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="InteReca" data-fieldname="InteReca" >


	<label class="r-search-label control-label" for="{$labelfor_InteReca}">
		{$label dbo_Reliquidaciones InteReca }	</label>
	<div class="r-search-option">
		{$searchtype_InteReca}
	</div>
	<div class="r-search-field">
		{$InteReca_editcontrol}	</div>
	<div class="r-search-field">
		{$InteReca_editcontrol1}
	</div>
	
</div>

{END InteReca_fieldblock}
											
{BEGIN InteNove_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_InteNove}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="InteNove{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="InteNove" data-fieldname="InteNove" >


	<label class="r-search-label control-label" for="{$labelfor_InteNove}">
		{$label dbo_Reliquidaciones InteNove }	</label>
	<div class="r-search-option">
		{$searchtype_InteNove}
	</div>
	<div class="r-search-field">
		{$InteNove_editcontrol}	</div>
	<div class="r-search-field">
		{$InteNove_editcontrol1}
	</div>
	
</div>

{END InteNove_fieldblock}
											
{BEGIN InteSald_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_InteSald}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="InteSald{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="InteSald" data-fieldname="InteSald" >


	<label class="r-search-label control-label" for="{$labelfor_InteSald}">
		{$label dbo_Reliquidaciones InteSald }	</label>
	<div class="r-search-option">
		{$searchtype_InteSald}
	</div>
	<div class="r-search-field">
		{$InteSald_editcontrol}	</div>
	<div class="r-search-field">
		{$InteSald_editcontrol1}
	</div>
	
</div>

{END InteSald_fieldblock}
											
{BEGIN CostReca_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CostReca}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CostReca{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="CostReca" data-fieldname="CostReca" >


	<label class="r-search-label control-label" for="{$labelfor_CostReca}">
		{$label dbo_Reliquidaciones CostReca }	</label>
	<div class="r-search-option">
		{$searchtype_CostReca}
	</div>
	<div class="r-search-field">
		{$CostReca_editcontrol}	</div>
	<div class="r-search-field">
		{$CostReca_editcontrol1}
	</div>
	
</div>

{END CostReca_fieldblock}
											
{BEGIN CostNove_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CostNove}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CostNove{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="CostNove" data-fieldname="CostNove" >


	<label class="r-search-label control-label" for="{$labelfor_CostNove}">
		{$label dbo_Reliquidaciones CostNove }	</label>
	<div class="r-search-option">
		{$searchtype_CostNove}
	</div>
	<div class="r-search-field">
		{$CostNove_editcontrol}	</div>
	<div class="r-search-field">
		{$CostNove_editcontrol1}
	</div>
	
</div>

{END CostNove_fieldblock}
											
{BEGIN CostSald_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CostSald}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CostSald{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="CostSald" data-fieldname="CostSald" >


	<label class="r-search-label control-label" for="{$labelfor_CostSald}">
		{$label dbo_Reliquidaciones CostSald }	</label>
	<div class="r-search-option">
		{$searchtype_CostSald}
	</div>
	<div class="r-search-field">
		{$CostSald_editcontrol}	</div>
	<div class="r-search-field">
		{$CostSald_editcontrol1}
	</div>
	
</div>

{END CostSald_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
