<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-rprint" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN pdflink_block}
<span data-itemtype="print_pdf" data-itemid="print_pdf" {$item_print_pdf} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	pdflink" data-pdfpage="rprint" 
data-scope="0" 
data-split="0" 
data-records="10" 
data-orientation="portrait" 
data-scale="100" 
data-filename="Remanentes Report.pdf" 
data-pagesize="LETTER" 
data-pagetype="rprint" 
{$pdflink_attrs} >
							Vista PDF			</a>
</span>
{END pdflink_block}
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_Remanentes_Report rprint}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
									{BEGIN grid_block}
<style>
	td.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary {
		background-color: #ffffbb;
	}
	td.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary {background-color: #ffe0b0;
	}
	.rnr-report {
		width: 100%;
	}
			td.group_1{
			background-color: #C0FFFF;
		}
		td.nbgroup_1{
			background-color: #C0FFFF;
		}
		td.header_1 {
			background-color: #C0FFFF; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_2{
			background-color: #98FB98;
		}
		td.nbgroup_2{
			background-color: #98FB98;
		}
		td.header_2 {
			background-color: #98FB98; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
		td.blackshade {
		font-size: 120%;
	}
	.summaryrow > * {
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}
		.grouptotalsrow + :not(.grouptotalsrow) > * {
		border-top:solid #808080 1px; 
	}
	</style>
<div id="grid_block{$id}" class="rnr-report-gridblock">
						


<table class="table table-hover table-bordered rnr-b-grid rnr-gridtable" cellpadding="0" >
	<tbody>
	{BEGIN grid_row}
			{BEGIN Seccional_newgroup}
				<tr class="group-headers">
										<td class="blackshade {$fieldclass_Seccional}">{$label dbo_Remanentes_Report Seccional }</td>
														<td class="blackshade {$fieldclass_CarteraTipo}">{$label dbo_Remanentes_Report CarteraTipo }</td>
																																																																													
																								<td class="blackshade {$fieldclass_Fecha}">{$label dbo_Remanentes_Report Fecha }</td>
														<td class="blackshade {$fieldclass_Remanente}">{$label dbo_Remanentes_Report Remanente }</td>
														<td class="blackshade {$fieldclass_Abogado}">{$label dbo_Remanentes_Report Abogado }</td>
														<td class="blackshade {$fieldclass_Concepto}">{$label dbo_Remanentes_Report Concepto }</td>
														<td class="blackshade {$fieldclass_Numero}">{$label dbo_Remanentes_Report Numero }</td>
														<td class="blackshade {$fieldclass_Sancionado}">{$label dbo_Remanentes_Report Sancionado }</td>
														<td class="blackshade {$fieldclass_Obligacion}">{$label dbo_Remanentes_Report Obligacion }</td>
														<td class="blackshade {$fieldclass_Intereses}">{$label dbo_Remanentes_Report Intereses }</td>
														<td class="blackshade {$fieldclass_Costas}">{$label dbo_Remanentes_Report Costas }</td>
														<td class="blackshade {$fieldclass_Documento}">{$label dbo_Remanentes_Report Documento }</td>
									</tr>
		
		<tr class="group-spliter-1"  >
																							<td colspan="12" class="header_1">
				<font >
				{$xSeccional_grval}
				<span data-itemtype="report_group_field" data-itemid="report_group_field" {$item_report_group_field} data-pageid="{$pageid}" data-field="Seccional" data-fieldname="Seccional" >
{$Seccional_grval}
</span>				</font>
			</td>
																													</tr>
		{END Seccional_newgroup}
			{BEGIN CarteraTipo_newgroup}
		
		<tr class="group-spliter-2" {$rowattrs} >
																		<td class=" group_1" >&nbsp;</td>
																											<td colspan="11" class="header_2">
				<font>
				{$xCarteraTipo_grval}
				<span data-itemtype="report_group_field" data-itemid="report_group_field1" {$item_report_group_field1} data-pageid="{$pageid}" data-field="CarteraTipo" data-fieldname="CarteraTipo" >
{$CarteraTipo_grval}
</span>				</font>
			</td>
														</tr>
		{END CarteraTipo_newgroup}
	
		<!--  data-->
		{BEGIN row_data}
		<tr>
														<td class=" group_1" >&nbsp;</td>
																	<td class=" group_2" >&nbsp;</td>
																																<td class="data {$fieldclass_Fecha}">
				{$xFecha_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field2" {$item_report_grid_field2} data-pageid="{$pageid}" data-field="Fecha" data-fieldname="Fecha" >
{$Fecha_value}
</span>			</td>
														<td class="data {$fieldclass_Remanente}">
				{$xRemanente_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field6" {$item_report_grid_field6} data-pageid="{$pageid}" data-field="Remanente" data-fieldname="Remanente" >
{$Remanente_value}
</span>			</td>
														<td class="data {$fieldclass_Abogado}">
				{$xAbogado_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field3" {$item_report_grid_field3} data-pageid="{$pageid}" data-field="Abogado" data-fieldname="Abogado" >
{$Abogado_value}
</span>			</td>
														<td class="data {$fieldclass_Concepto}">
				{$xConcepto_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field4" {$item_report_grid_field4} data-pageid="{$pageid}" data-field="Concepto" data-fieldname="Concepto" >
{$Concepto_value}
</span>			</td>
														<td class="data {$fieldclass_Numero}">
				{$xNumero_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field5" {$item_report_grid_field5} data-pageid="{$pageid}" data-field="Numero" data-fieldname="Numero" >
{$Numero_value}
</span>			</td>
														<td class="data {$fieldclass_Sancionado}">
				{$xSancionado_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field7" {$item_report_grid_field7} data-pageid="{$pageid}" data-field="Sancionado" data-fieldname="Sancionado" >
{$Sancionado_value}
</span>			</td>
														<td class="data {$fieldclass_Obligacion}">
				{$xObligacion_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field9" {$item_report_grid_field9} data-pageid="{$pageid}" data-field="Obligacion" data-fieldname="Obligacion" >
{$Obligacion_value}
</span>			</td>
														<td class="data {$fieldclass_Intereses}">
				{$xIntereses_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field10" {$item_report_grid_field10} data-pageid="{$pageid}" data-field="Intereses" data-fieldname="Intereses" >
{$Intereses_value}
</span>			</td>
														<td class="data {$fieldclass_Costas}">
				{$xCostas_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field11" {$item_report_grid_field11} data-pageid="{$pageid}" data-field="Costas" data-fieldname="Costas" >
{$Costas_value}
</span>			</td>
														<td class="data {$fieldclass_Documento}">
				{$xDocumento_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field" {$item_report_grid_field} data-pageid="{$pageid}" data-field="Documento" data-fieldname="Documento" >
{$Documento_value}
</span>			</td>
							</tr>
		{END row_data}
	
				{BEGIN CarteraTipo_endgroup}
		<tr class="summaryrow"  >
										<td class="group_1" style="border-top: none;"></td>
							
																	<td  class="group_2" colspan=11 >
				Resumen de&nbsp;{$label dbo_Remanentes_Report CarteraTipo }&nbsp;{$CarteraTipo_grval}
					- <span class="summary-2" data-type="summary">{$groupCarteraTipo_total_cnt}
					</span> Registros totales			</td>
																																																																															</tr>

		<!--  Sum -->
		<tr class="grouptotalsrow" >
					
						<td class="group_1">&nbsp;</td>
								
						<td class="group_2">Sum</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="{$fieldclass_Remanente} group_2">
				<span class="summary-2" data-type="sum" data-field="Remanente">
					{$groupCarteraTipo_totalRemanente_sum}
				</span>
			</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="{$fieldclass_Obligacion} group_2">
				<span class="summary-2" data-type="sum" data-field="Obligacion">
					{$groupCarteraTipo_totalObligacion_sum}
				</span>
			</td>
								
						<td class="{$fieldclass_Intereses} group_2">
				<span class="summary-2" data-type="sum" data-field="Intereses">
					{$groupCarteraTipo_totalIntereses_sum}
				</span>
			</td>
								
						<td class="{$fieldclass_Costas} group_2">
				<span class="summary-2" data-type="sum" data-field="Costas">
					{$groupCarteraTipo_totalCostas_sum}
				</span>
			</td>
								
						<td class="group_2">&nbsp;</td>
							</tr>
	
	
	
	
	{END CarteraTipo_endgroup}
						{BEGIN Seccional_endgroup}
		<tr class="summaryrow"  >
			
										<td  class="group_1" colspan=12 >
				Resumen de&nbsp;{$label dbo_Remanentes_Report Seccional }&nbsp;{$Seccional_grval}
					- <span class="summary-1" data-type="summary">{$groupSeccional_total_cnt}
					</span> Registros totales			</td>
																																																																																						</tr>

		<!--  Sum -->
		<tr class="grouptotalsrow" >
					
						<td class="group_1">Sum</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="{$fieldclass_Remanente} group_1">
				<span class="summary-1" data-type="sum" data-field="Remanente">
					{$groupSeccional_totalRemanente_sum}
				</span>
			</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="{$fieldclass_Obligacion} group_1">
				<span class="summary-1" data-type="sum" data-field="Obligacion">
					{$groupSeccional_totalObligacion_sum}
				</span>
			</td>
								
						<td class="{$fieldclass_Intereses} group_1">
				<span class="summary-1" data-type="sum" data-field="Intereses">
					{$groupSeccional_totalIntereses_sum}
				</span>
			</td>
								
						<td class="{$fieldclass_Costas} group_1">
				<span class="summary-1" data-type="sum" data-field="Costas">
					{$groupSeccional_totalCostas_sum}
				</span>
			</td>
								
						<td class="group_1">&nbsp;</td>
							</tr>
	
	
	
	
	{END Seccional_endgroup}
			
	{END grid_row}


	


    
    {BEGIN page_summary}
    <!-- page summary-->
    <tr class="summaryrow summary-page">
        <td class="pagesummary" colspan="12">Resumen de la pagina            <span class="page-summary" data-type="summary">{$page_total_cnt}</span> - Registros totales        </td>
    </tr>
	    <!--  Sum -->
    <tr class="summary-page">
					
                        <td class="pagesummary">Sum</td>
            		
					
                        <td class="pagesummary">&nbsp;</td>
					
					
                        <td class="pagesummary">&nbsp;</td>
					
					
                        <td class="pagesummary {$fieldclass_Remanente}">
				<span class="page-summary" data-type="sum" data-field="Remanente">
					{$page_totalRemanente_sum}
                </span>
            </td>
            		
					
                        <td class="pagesummary">&nbsp;</td>
					
					
                        <td class="pagesummary">&nbsp;</td>
					
					
                        <td class="pagesummary">&nbsp;</td>
					
					
                        <td class="pagesummary">&nbsp;</td>
					
					
                        <td class="pagesummary {$fieldclass_Obligacion}">
				<span class="page-summary" data-type="sum" data-field="Obligacion">
					{$page_totalObligacion_sum}
                </span>
            </td>
            		
					
                        <td class="pagesummary {$fieldclass_Intereses}">
				<span class="page-summary" data-type="sum" data-field="Intereses">
					{$page_totalIntereses_sum}
                </span>
            </td>
            		
					
                        <td class="pagesummary {$fieldclass_Costas}">
				<span class="page-summary" data-type="sum" data-field="Costas">
					{$page_totalCostas_sum}
                </span>
            </td>
            		
					
                        <td class="pagesummary">&nbsp;</td>
					
		</tr>
	
	
	
	    {END page_summary}

	<!-- global summary-->
	{BEGIN global_summary}
    <tr class="summaryrow summary-global">
        <td class="globalsummary" colspan="12">
            Resumen global {$global_total_cnt} - Registros totales        </td>
    </tr>

	    <!--  Sum -->
    <tr class="summary-global">
					
                <td class="globalsummary">Sum</td>
        		
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary {$fieldclass_Remanente}">
            {$global_totalRemanente_sum}
        </td>
        		
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary {$fieldclass_Obligacion}">
            {$global_totalObligacion_sum}
        </td>
        		
					
                <td class="globalsummary {$fieldclass_Intereses}">
            {$global_totalIntereses_sum}
        </td>
        		
					
                <td class="globalsummary {$fieldclass_Costas}">
            {$global_totalCostas_sum}
        </td>
        		
					
                <td class="globalsummary">&nbsp;</td>
				
		</tr>
	
	
	
		{END global_summary}

	</tbody>
</table>


			</div>
{END grid_block}									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
