<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-rprint" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN pdflink_block}
<span data-itemtype="print_pdf" data-itemid="print_pdf" {$item_print_pdf} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	pdflink" data-pdfpage="rprint" 
data-scope="0" 
data-split="0" 
data-records="10" 
data-orientation="portrait" 
data-scale="100" 
data-filename="Reporte Corporación Especialidad.pdf" 
data-pagesize="LETTER" 
data-pagetype="rprint" 
{$pdflink_attrs} >
							Vista PDF			</a>
</span>
{END pdflink_block}
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_ReporteCorporaci_nEspecialidad rprint}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="top_c4" data-pageid="{$pageid}"	{$cell_top_c4}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
									{BEGIN grid_block}
<style>
	td.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary {
		background-color: #ffffbb;
	}
	td.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary {background-color: #ffe0b0;
	}
	.rnr-report {
		width: 100%;
	}
			td.group_1{
			background-color: #C0C0C0;
		}
		td.nbgroup_1{
			background-color: #C0C0C0;
		}
		td.header_1 {
			background-color: #C0C0C0; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_2{
			background-color: #ADD8E6;
		}
		td.nbgroup_2{
			background-color: #ADD8E6;
		}
		td.header_2 {
			background-color: #ADD8E6; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_3{
			background-color: #FFFFFF;
		}
		td.nbgroup_3{
			background-color: #FFFFFF;
		}
		td.header_3 {
			background-color: #FFFFFF; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
		td.blackshade {
		font-size: 120%;
	}
	.summaryrow > * {
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}
		.grouptotalsrow + :not(.grouptotalsrow) > * {
		border-top:solid #808080 1px; 
	}
	</style>
<div id="grid_block{$id}" class="rnr-report-gridblock">
						


<table class="table table-hover table-bordered rnr-b-grid rnr-gridtable" cellpadding="0" >
	<tbody>
	{BEGIN grid_row}
			{BEGIN CarteraTipoId_newgroup}
				<tr class="group-headers">
										<td class="blackshade {$fieldclass_CarteraTipoId}">{$label dbo_ReporteCorporaci_nEspecialidad CarteraTipoId }</td>
														<td class="blackshade {$fieldclass_Codigo}">{$label dbo_ReporteCorporaci_nEspecialidad Codigo }</td>
														<td class="blackshade {$fieldclass_Especialidad2}">{$label dbo_ReporteCorporaci_nEspecialidad Especialidad2 }</td>
																																																								
																															<td class="blackshade {$fieldclass_SeccionalId}">{$label dbo_ReporteCorporaci_nEspecialidad SeccionalId }</td>
														<td class="blackshade {$fieldclass_ConceptoId}">{$label dbo_ReporteCorporaci_nEspecialidad ConceptoId }</td>
														<td class="blackshade {$fieldclass_Procesos}">{$label dbo_ReporteCorporaci_nEspecialidad Procesos }</td>
														<td class="blackshade {$fieldclass_Saldo}">{$label dbo_ReporteCorporaci_nEspecialidad Saldo }</td>
														<td class="blackshade {$fieldclass_CarteraTipo}">{$label dbo_ReporteCorporaci_nEspecialidad CarteraTipo }</td>
														<td class="blackshade {$fieldclass_Corporacion}">{$label dbo_ReporteCorporaci_nEspecialidad Corporacion }</td>
														<td class="blackshade {$fieldclass_Especialidad}">{$label dbo_ReporteCorporaci_nEspecialidad Especialidad }</td>
									</tr>
		
		<tr class="group-spliter-1"  >
																							<td colspan="10" class="header_1">
				<font >
				{$xCarteraTipoId_grval}
				<span data-itemtype="report_group_field" data-itemid="report_group_field" {$item_report_group_field} data-pageid="{$pageid}" data-field="CarteraTipoId" data-fieldname="CarteraTipoId" >
{$CarteraTipoId_grval}
</span>				</font>
			</td>
																																												</tr>
		{END CarteraTipoId_newgroup}
			{BEGIN Codigo_newgroup}
		
		<tr class="group-spliter-2"  >
																		<td class=" group_1" >&nbsp;</td>
																											<td colspan="9" class="header_2">
				<font >
				{$xCodigo_grval}
				<span data-itemtype="report_group_field" data-itemid="report_group_field1" {$item_report_group_field1} data-pageid="{$pageid}" data-field="Codigo" data-fieldname="Codigo" >
{$Codigo_grval}
</span>				</font>
			</td>
																													</tr>
		{END Codigo_newgroup}
			{BEGIN Especialidad2_newgroup}
		
		<tr class="group-spliter-3" {$rowattrs} >
																		<td class=" group_1" >&nbsp;</td>
																						<td class=" group_2" >&nbsp;</td>
																											<td colspan="8" class="header_3">
				<font>
				{$xEspecialidad2_grval}
				<span data-itemtype="report_group_field" data-itemid="report_group_field2" {$item_report_group_field2} data-pageid="{$pageid}" data-field="Especialidad2" data-fieldname="Especialidad2" >
{$Especialidad2_grval}
</span>				</font>
			</td>
														</tr>
		{END Especialidad2_newgroup}
	
		<!--  data-->
		{BEGIN row_data}
		<tr>
														<td class=" group_1" >&nbsp;</td>
																	<td class=" group_2" >&nbsp;</td>
																	<td class=" group_3" >&nbsp;</td>
																																								<td class="data {$fieldclass_SeccionalId}">
				{$xSeccionalId_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field1" {$item_report_grid_field1} data-pageid="{$pageid}" data-field="SeccionalId" data-fieldname="SeccionalId" >
{$SeccionalId_value}
</span>			</td>
														<td class="data {$fieldclass_ConceptoId}">
				{$xConceptoId_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field9" {$item_report_grid_field9} data-pageid="{$pageid}" data-field="ConceptoId" data-fieldname="ConceptoId" >
{$ConceptoId_value}
</span>			</td>
														<td class="data {$fieldclass_Procesos}">
				{$xProcesos_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field3" {$item_report_grid_field3} data-pageid="{$pageid}" data-field="Procesos" data-fieldname="Procesos" >
{$Procesos_value}
</span>			</td>
														<td class="data {$fieldclass_Saldo}">
				{$xSaldo_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field4" {$item_report_grid_field4} data-pageid="{$pageid}" data-field="Saldo" data-fieldname="Saldo" >
{$Saldo_value}
</span>			</td>
														<td class="data {$fieldclass_CarteraTipo}">
				{$xCarteraTipo_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field" {$item_report_grid_field} data-pageid="{$pageid}" data-field="CarteraTipo" data-fieldname="CarteraTipo" >
{$CarteraTipo_value}
</span>			</td>
														<td class="data {$fieldclass_Corporacion}">
				{$xCorporacion_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field8" {$item_report_grid_field8} data-pageid="{$pageid}" data-field="Corporacion" data-fieldname="Corporacion" >
{$Corporacion_value}
</span>			</td>
														<td class="data {$fieldclass_Especialidad}">
				{$xEspecialidad_value}
				<span data-itemtype="report_grid_field" data-itemid="report_grid_field10" {$item_report_grid_field10} data-pageid="{$pageid}" data-field="Especialidad" data-fieldname="Especialidad" >
{$Especialidad_value}
</span>			</td>
							</tr>
		{END row_data}
	
				{BEGIN Especialidad2_endgroup}
		<tr class="summaryrow"  >
										<td class="group_1" style="border-top: none;"></td>
							<td class="group_2" style="border-top: none;"></td>
							
																								<td  class="group_3" colspan=8 >
				Resumen de&nbsp;{$label dbo_ReporteCorporaci_nEspecialidad Especialidad2 }&nbsp;{$Especialidad2_grval}
					- <span class="summary-3" data-type="summary">{$groupEspecialidad2_total_cnt}
					</span> Registros totales			</td>
																																																										</tr>

		<!--  Sum -->
		<tr class="grouptotalsrow" >
					
						<td class="group_1">&nbsp;</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="group_3">Sum</td>
								
						<td class="group_3">&nbsp;</td>
								
						<td class="group_3">&nbsp;</td>
								
						<td class="{$fieldclass_Procesos} group_3">
				<span class="summary-3" data-type="sum" data-field="Procesos">
					{$groupEspecialidad2_totalProcesos_sum}
				</span>
			</td>
								
						<td class="{$fieldclass_Saldo} group_3">
				<span class="summary-3" data-type="sum" data-field="Saldo">
					{$groupEspecialidad2_totalSaldo_sum}
				</span>
			</td>
								
						<td class="group_3">&nbsp;</td>
								
						<td class="group_3">&nbsp;</td>
								
						<td class="group_3">&nbsp;</td>
							</tr>
	
	
	
	
	{END Especialidad2_endgroup}
						{BEGIN Codigo_endgroup}
		<tr class="summaryrow"  >
										<td class="group_1" style="border-top: none;"></td>
							
																	<td  class="group_2" colspan=9 >
				Resumen de&nbsp;{$label dbo_ReporteCorporaci_nEspecialidad Codigo }&nbsp;{$Codigo_grval}
					- <span class="summary-2" data-type="summary">{$groupCodigo_total_cnt}
					</span> Registros totales			</td>
																																																																	</tr>

		<!--  Sum -->
		<tr class="grouptotalsrow" >
					
						<td class="group_1">&nbsp;</td>
								
						<td class="group_2">Sum</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="{$fieldclass_Procesos} group_2">
				<span class="summary-2" data-type="sum" data-field="Procesos">
					{$groupCodigo_totalProcesos_sum}
				</span>
			</td>
								
						<td class="{$fieldclass_Saldo} group_2">
				<span class="summary-2" data-type="sum" data-field="Saldo">
					{$groupCodigo_totalSaldo_sum}
				</span>
			</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="group_2">&nbsp;</td>
								
						<td class="group_2">&nbsp;</td>
							</tr>
	
	
	
	
	{END Codigo_endgroup}
						{BEGIN CarteraTipoId_endgroup}
		<tr class="summaryrow"  >
			
										<td  class="group_1" colspan=10 >
				Resumen de&nbsp;{$label dbo_ReporteCorporaci_nEspecialidad CarteraTipoId }&nbsp;{$CarteraTipoId_grval}
					- <span class="summary-1" data-type="summary">{$groupCarteraTipoId_total_cnt}
					</span> Registros totales			</td>
																																																																								</tr>

		<!--  Sum -->
		<tr class="grouptotalsrow" >
					
						<td class="group_1">Sum</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="{$fieldclass_Procesos} group_1">
				<span class="summary-1" data-type="sum" data-field="Procesos">
					{$groupCarteraTipoId_totalProcesos_sum}
				</span>
			</td>
								
						<td class="{$fieldclass_Saldo} group_1">
				<span class="summary-1" data-type="sum" data-field="Saldo">
					{$groupCarteraTipoId_totalSaldo_sum}
				</span>
			</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="group_1">&nbsp;</td>
								
						<td class="group_1">&nbsp;</td>
							</tr>
	
	
	
	
	{END CarteraTipoId_endgroup}
			
	{END grid_row}


	


    

	<!-- global summary-->
	{BEGIN global_summary}
    <tr class="summaryrow summary-global">
        <td class="globalsummary" colspan="10">
            Resumen global {$global_total_cnt} - Registros totales        </td>
    </tr>

	    <!--  Sum -->
    <tr class="summary-global">
					
                <td class="globalsummary">Sum</td>
        		
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary {$fieldclass_Procesos}">
            {$global_totalProcesos_sum}
        </td>
        		
					
                <td class="globalsummary {$fieldclass_Saldo}">
            {$global_totalSaldo_sum}
        </td>
        		
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary">&nbsp;</td>
				
					
                <td class="globalsummary">&nbsp;</td>
				
		</tr>
	
	
	
		{END global_summary}

	</tbody>
</table>


			</div>
{END grid_block}									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
