<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_usugcc__noti edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="usugcc__noti_view.php?{$editlink}" {$view_page_button_attrs}>Ver</a>
{END message_view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN message_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_message}  r-vertical-field" 
	data-signal-error-for="message{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="message" data-fieldname="message" >

	<label class="r-edit-label control-label" for="{$labelfor_message}">
		{BEGIN message_label}{$label dbo_usugcc__noti message }{END message_label}
	</label>
	<div class="r-edit-field">
		{$message_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="message" {$tooltipAttr dbo_usugcc__noti message } >
		<div class="text-muted" >
		{$tooltip dbo_usugcc__noti message }		</div>
	</div>
</div>


{END message_fieldblock}
											
{BEGIN user_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_user}  r-vertical-field" 
	data-signal-error-for="user{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="user" data-fieldname="user" >

	<label class="r-edit-label control-label" for="{$labelfor_user}">
		{BEGIN user_label}{$label dbo_usugcc__noti user }{END user_label}
	</label>
	<div class="r-edit-field">
		{$user_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="user" {$tooltipAttr dbo_usugcc__noti user } >
		<div class="text-muted" >
		{$tooltip dbo_usugcc__noti user }		</div>
	</div>
</div>


{END user_fieldblock}
											
{BEGIN provider_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_provider}  r-vertical-field" 
	data-signal-error-for="provider{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="provider" data-fieldname="provider" >

	<label class="r-edit-label control-label" for="{$labelfor_provider}">
		{BEGIN provider_label}{$label dbo_usugcc__noti provider }{END provider_label}
	</label>
	<div class="r-edit-field">
		{$provider_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="provider" {$tooltipAttr dbo_usugcc__noti provider } >
		<div class="text-muted" >
		{$tooltip dbo_usugcc__noti provider }		</div>
	</div>
</div>


{END provider_fieldblock}
											
{BEGIN title_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_title}  r-vertical-field" 
	data-signal-error-for="title{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="title" data-fieldname="title" >

	<label class="r-edit-label control-label" for="{$labelfor_title}">
		{BEGIN title_label}{$label dbo_usugcc__noti title }{END title_label}
	</label>
	<div class="r-edit-field">
		{$title_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="title" {$tooltipAttr dbo_usugcc__noti title } >
		<div class="text-muted" >
		{$tooltip dbo_usugcc__noti title }		</div>
	</div>
</div>


{END title_fieldblock}
											
{BEGIN url_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_url}  r-vertical-field" 
	data-signal-error-for="url{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="url" data-fieldname="url" >

	<label class="r-edit-label control-label" for="{$labelfor_url}">
		{BEGIN url_label}{$label dbo_usugcc__noti url }{END url_label}
	</label>
	<div class="r-edit-field">
		{$url_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="url" {$tooltipAttr dbo_usugcc__noti url } >
		<div class="text-muted" >
		{$tooltip dbo_usugcc__noti url }		</div>
	</div>
</div>


{END url_fieldblock}
											
{BEGIN icon_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_icon}  r-vertical-field" 
	data-signal-error-for="icon{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="icon" data-fieldname="icon" >

	<label class="r-edit-label control-label" for="{$labelfor_icon}">
		{BEGIN icon_label}{$label dbo_usugcc__noti icon }{END icon_label}
	</label>
	<div class="r-edit-field">
		{$icon_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="icon" {$tooltipAttr dbo_usugcc__noti icon } >
		<div class="text-muted" >
		{$tooltip dbo_usugcc__noti icon }		</div>
	</div>
</div>


{END icon_fieldblock}
											
{BEGIN created_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_created}  r-vertical-field" 
	data-signal-error-for="created{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="created" data-fieldname="created" >

	<label class="r-edit-label control-label" for="{$labelfor_created}">
		{BEGIN created_label}{$label dbo_usugcc__noti created }{END created_label}
	</label>
	<div class="r-edit-field">
		{$created_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="created" {$tooltipAttr dbo_usugcc__noti created } >
		<div class="text-muted" >
		{$tooltip dbo_usugcc__noti created }		</div>
	</div>
</div>


{END created_fieldblock}
											
{BEGIN expire_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_expire}  r-vertical-field" 
	data-signal-error-for="expire{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="expire" data-fieldname="expire" >

	<label class="r-edit-label control-label" for="{$labelfor_expire}">
		{BEGIN expire_label}{$label dbo_usugcc__noti expire }{END expire_label}
	</label>
	<div class="r-edit-field">
		{$expire_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="expire" {$tooltipAttr dbo_usugcc__noti expire } >
		<div class="text-muted" >
		{$tooltip dbo_usugcc__noti expire }		</div>
	</div>
</div>


{END expire_fieldblock}
											
{BEGIN type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_type}  r-vertical-field" 
	data-signal-error-for="type{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="type" data-fieldname="type" >

	<label class="r-edit-label control-label" for="{$labelfor_type}">
		{BEGIN type_label}{$label dbo_usugcc__noti type }{END type_label}
	</label>
	<div class="r-edit-field">
		{$type_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="type" {$tooltipAttr dbo_usugcc__noti type } >
		<div class="text-muted" >
		{$tooltip dbo_usugcc__noti type }		</div>
	</div>
</div>


{END type_fieldblock}
											
{BEGIN group_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_group}  r-vertical-field" 
	data-signal-error-for="group{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="group" data-fieldname="group" >

	<label class="r-edit-label control-label" for="{$labelfor_group}">
		{BEGIN group_label}{$label dbo_usugcc__noti group }{END group_label}
	</label>
	<div class="r-edit-field">
		{$group_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="group" {$tooltipAttr dbo_usugcc__noti group } >
		<div class="text-muted" >
		{$tooltip dbo_usugcc__noti group }		</div>
	</div>
</div>


{END group_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancelar			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Reiniciar		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="usugcc__noti_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		Ver		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
